<template>
  <div
    class="
      pt-5
      pb-5
      ml-2
      border
      mt-5
      rounded-[20px]
      px-3.5
      py-3.5
      overflow-auto
    "
  >
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <th class="pb-1">
            <div
              class="
                flex-align-center flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              30/03/2022
            </div>
          </th>
          <th class="pb-1">
            <div
              class="
                flex-align-center flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              JUJU S.A.S
            </div>
          </th>
          <th class="pb-1">
            <div
              class="
                flex-align-center flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              4
            </div>
          </th>
          <th class="pb-1">
            <div
              class="
                items-center
                flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              4
            </div>
          </th>
          <th class="pb-1">
            <div
              class="
                items-center
                flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              $800.000
            </div>
          </th>
          <th class="pb-1">
            <div
              class="
                items-center
                flex
                justify-center
                border-gray-3 border-style-solid
                font-sans
                text-gray-800 text-[16px]
              "
            >
              <div
                class="
                  flex
                  items-center
                  justify-center
                  bg-emerald-350
                  p-[10px]
                  rounded-[20px]
                  cursor-pointer
                "
              >
                <h2 class="text-sans text-white text-[14px]">
                  Pagada
                </h2>
              </div>
              <div
                class="flex items-center justify-center cursor-pointer p-[10px]"
              >
                <svg
                  class="mr-[5px]"
                  width="13"
                  height="16"
                  viewBox="0 0 13 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.15625 8.03125C6.34375 7.71875 6.375 6.5625 6.09375 6.5625C6.03125 6.5625 6 7.53125 6.15625 8.03125ZM6.125 9.5C5.875 10.125 5.5625 10.8438 5.21875 11.4375C5.8125 11.2188 6.4375 10.9062 7.1875 10.7812C6.8125 10.4688 6.40625 10.0312 6.125 9.5ZM3.1875 13.4062C3.1875 13.4062 3.59375 13.2188 4.28125 12.125C4.0625 12.3438 3.34375 12.9062 3.1875 13.4062ZM8.25 5C7.8125 5 7.5 4.6875 7.5 4.25V0H1.25C0.8125 0 0.5 0.34375 0.5 0.75V15.25C0.5 15.6875 0.8125 16 1.25 16H11.75C12.1562 16 12.5 15.6875 12.5 15.25V5H8.25ZM8 10.375C8.59375 10.3125 9.84375 10.1875 10.2812 10.5938C10.6562 10.9688 10.5938 11.9688 9.65625 11.9688C9.15625 11.9688 8.34375 11.7188 7.65625 11.3438C6.90625 11.4688 6 11.8125 5.1875 12.0938C4.40625 13.4375 3.84375 14 3.28125 14C3.125 14 2.78125 13.9062 2.625 13.6875C2.03125 12.9688 3.46875 12 4.3125 11.5625C4.3125 11.5625 4.3125 11.5625 4.34375 11.5625C4.71875 10.9062 5.25 9.75 5.59375 8.875C5.34375 7.875 5.1875 7.0625 5.34375 6.46875C5.53125 5.875 6.6875 5.78125 6.84375 6.6875C7 7.25 6.78125 8.125 6.65625 8.6875C6.9375 9.46875 7.375 10 8 10.375ZM12.2812 3.28125L9.21875 0.21875C9.0625 0.09375 8.875 0 8.6875 0H8.5V4H12.5V3.8125C12.5 3.625 12.4062 3.4375 12.2812 3.28125ZM9.9375 11.2812C10.0938 11.1875 9.875 10.9062 8.625 11C9.78125 11.5 9.9375 11.2812 9.9375 11.2812Z"
                    fill="#8A8A8A"
                  />
                </svg>

                <h2
                  class="text-sans text-gray-800 text-[16px] m-r-5 decoration"
                >
                  WhatsApp1234.pdf
                </h2>
              </div>
              <svg width="13" height="16" viewBox="0 0 13 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.2812 3.28125L9.21875 0.21875C9.0625 0.09375 8.875 0 8.6875 0H8.5V4H12.5V3.8125C12.5 3.625 12.4062 3.4375 12.2812 3.28125ZM7.5 4.25V0H1.25C0.8125 0 0.5 0.34375 0.5 0.75V15.25C0.5 15.6875 0.8125 16 1.25 16H11.75C12.1562 16 12.5 15.6875 12.5 15.25V5H8.25C7.8125 5 7.5 4.6875 7.5 4.25ZM2.5 2.25C2.5 2.125 2.59375 2 2.75 2H5.25C5.375 2 5.5 2.125 5.5 2.25V2.75C5.5 2.90625 5.375 3 5.25 3H2.75C2.59375 3 2.5 2.90625 2.5 2.75V2.25ZM2.5 4.75V4.25C2.5 4.125 2.59375 4 2.75 4H5.25C5.375 4 5.5 4.125 5.5 4.25V4.75C5.5 4.90625 5.375 5 5.25 5H2.75C2.59375 5 2.5 4.90625 2.5 4.75ZM7 13V13.75C7 13.9062 6.875 14 6.75 14H6.25C6.09375 14 6 13.9062 6 13.75V13C5.625 13 5.28125 12.875 5 12.6562C4.875 12.5625 4.875 12.375 5 12.2812L5.34375 11.9375C5.4375 11.8438 5.5625 11.8438 5.65625 11.9062C5.78125 11.9688 5.9375 12 6.0625 12H6.9375C7.15625 12 7.3125 11.8438 7.3125 11.5938C7.3125 11.4062 7.21875 11.25 7.03125 11.2188L5.625 10.7812C5.0625 10.5938 4.65625 10.0625 4.65625 9.4375C4.65625 8.65625 5.25 8.03125 5.96875 8.03125V7.25C5.96875 7.125 6.09375 7 6.21875 7H6.71875C6.875 7 6.96875 7.125 6.96875 7.25V8.03125C7.34375 8.03125 7.6875 8.15625 7.96875 8.375C8.09375 8.46875 8.09375 8.65625 7.96875 8.75L7.625 9.09375C7.53125 9.1875 7.40625 9.1875 7.3125 9.125C7.1875 9.0625 7.03125 9 6.90625 9H6.03125C5.8125 9 5.65625 9.1875 5.65625 9.4375C5.65625 9.625 5.75 9.78125 5.9375 9.8125L7.34375 10.25C7.90625 10.4062 8.3125 10.9688 8.3125 11.5938C8.3125 12.375 7.71875 13 7 13Z" fill="#8A8A8A"/>
</svg>

            </div>
          </th>

          <th class="flex justify-end text-right items-center py-[10px]">
            <div class="flex">
              <div class="flex-align-center height-65 p-h-10 p-v-10">
                <button
                  class="bg-transparent border-0"
                  v-on:click.stop.prevent="toggleBodyHeader()"
                >
                  <svg
                    width="10"
                    height="6"
                    viewBox="0 0 10 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                      fill="#42484E"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="">
            <div class="flex justify-center items-center py-2 pr-[20px]">
              <div class="">
                <h2
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                >
                  30/03/2022 - 30/03/2022
                </h2>
              </div>
            </div>
          </td>

          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                JUJU S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Duque S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $10.000.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $200.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Comisión por ventas de referidos
              </h2>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div class="flex justify-center items-center py-2 pr-[20px]">
              <div class="">
                <h2
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                >
                  30/03/2022 - 30/03/2022
                </h2>
              </div>
            </div>
          </td>

          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                JUJU S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Duque S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $10.000.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $200.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Comisión por ventas de referidos
              </h2>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div class="flex justify-center items-center py-2 pr-[20px]">
              <div class="">
                <h2
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                >
                  30/03/2022 - 30/03/2022
                </h2>
              </div>
            </div>
          </td>

          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                JUJU S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Duque S.A.S
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $10.000.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                $200.000
              </h2>
            </div>
          </td>
          <td class="">
            <div class="height-65 flex justify-center">
              <h2
                class="
                  mb-2
                  text-gray-800
                  font-sans
                  text-[14px]
                  color-gray-1
                  block
                "
              >
                Comisión por ventas de referidos
              </h2>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

