<template>
  <section v-if="!awaitConfirm">
    <div class="alert mt-6 p-2 bg-red-100 flex rounded-lg items-center">
      <div class="icon mr-1.5">
        <img src="../../../assets/svgs/alertIconBasic.svg" alt="icon alert-basic">
      </div>
      <div class="text text-[14px] text-gray-800">
        Recuerda verificar muy bien los datos, en caso de que la información no coincida sera 
        <br> rechazado y no se te pagarán tus guías de recaudo.
      </div>
    </div>

    <div class="body text-gray-800 font-normal text-[14px]">
      <div class="flex gap-2 mt-4">
        <div class="w-full">
          <label class="text-gray-800 font-normal text-[14px]">Banco *</label>
          <Multiselect
            class="border-gray-400 mt-2 h-[36px]"
            v-model="bank"
            :searchable="true"
            :options="bancos"
            @search-change="getBanks"
          />
        </div>
        <div class="w-full">
          <label class="text-gray-800 font-normal text-[14px]">Tipo de cuenta *</label>
          <Multiselect
            class="border-gray-400 mt-2"
            v-model="typeAccount"
            :options="tipos_cuentas"
          />
        </div>
      </div>
    </div>

    <div class="flex gap-2 mt-4">
      <AppInputTextVue type="text" masker="account" v-model="accountNumber" :isRequired="true" label="Número de cuenta"></AppInputTextVue>
      <AppInputTextVue type="text" masker="account" v-model="accountNumber2" :isRequired="true" label="Verifica el número de cuenta" ></AppInputTextVue>
    </div>

     <div v-if="errorAccount" class="w-full mt-1 text-[10px] text-red-error flex items-center">
        <span class="mr-2">
          <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.39062 7.89062L5.64062 1.375C5.35938 0.890625 4.625 0.875 4.34375 1.375L0.59375 7.89062C0.3125 8.375 0.671875 9 1.25 9H8.73438C9.3125 9 9.67188 8.39062 9.39062 7.89062ZM5 6.53125C5.39062 6.53125 5.71875 6.85938 5.71875 7.25C5.71875 7.65625 5.39062 7.96875 5 7.96875C4.59375 7.96875 4.28125 7.65625 4.28125 7.25C4.28125 6.85938 4.59375 6.53125 5 6.53125ZM4.3125 3.95312C4.29688 3.84375 4.39062 3.75 4.5 3.75H5.48438C5.59375 3.75 5.6875 3.84375 5.67188 3.95312L5.5625 6.07812C5.54688 6.1875 5.46875 6.25 5.375 6.25H4.60938C4.51562 6.25 4.4375 6.1875 4.42188 6.07812L4.3125 3.95312Z" fill="#D81023"/>
          </svg>
        </span>
        <span>Los números de cuenta no coinciden.</span>
        <span class="font-bold"> Inténtalo de nuevo.</span>
      </div>

          <div class="w-full gap-2 flex mt-4">
        <AppInputTextVue 
          v-model="accountOwner"
          class="w-5/12" 
          type="text"
          :isRequired="true" 
          label="Titular de la cuenta">
        </AppInputTextVue>

        <div class="select">
          <label class="text-gray-800 font-normal text-[14px]">Tipo de documento *</label>
          <select v-model="typeDocument" 
            name="typeDocument" id="typeDocument" 
            class="h-10 flex items-center border border-gray-400 text-gray-800 justify-center rounded-[5px] py-1 px-3 mt-1 focus:outline-none" >
            <option v-for="banco in banco_documentos" :key="banco.value" :value="banco.value">{{ banco.label }}</option>
          </select>
        </div>
        <AppInputTextVue 
          v-model="documentNumber"
          class="w-4/12" 
          masker="numberId"
          :isRequired="true" 
          type="text"
          label="Número de identificación">
        </AppInputTextVue>

      </div>

      <div class="flex w-full mt-6">
        <AppButtonVue className="mx-auto w-36 " @click="sendRequestConfirm" >Inscribir</AppButtonVue>
      </div>

  </section>

  <section v-if="awaitConfirm" class="w-full p-4 text-left py-3 rounded-[5px] ">
      <div class="body">

        <div class="title mt-4">
          <AppTitleThreeVue>Resumen</AppTitleThreeVue>
          <hr class="mt-4">
        </div>


        <div class="conten mt-4">
          <p class="text-[14px] leading-4">Cuenta destino</p>
            <AppTitleThreeVue size="16px">{{ accountOwner || 'No existe' }}</AppTitleThreeVue>
          <p class="text-sm">
            <span v-for="item in bancos" :key="item.value ">
              <span v-if="item.value == bank">{{ item.label }}</span>
            </span>
             - 
            <span v-for="item in tipos_cuentas" :key="item.value ">
              <span v-if="item.value == typeAccount">{{ item.label }}</span>
            </span>
            {{ accountNumber || 'No existe' }} 
          </p>
        </div>

        <div class="alert flex items-center bg-gray-50 rounded-lg mt-6">

          <div class="icon mx-1">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.7812 7.75C13.7812 4.03125 10.7188 0.96875 7 0.96875C3.25391 0.96875 0.21875 4.03125 0.21875 7.75C0.21875 11.4961 3.25391 14.5312 7 14.5312C10.7188 14.5312 13.7812 11.4961 13.7812 7.75ZM7 9.11719C7.68359 9.11719 8.25781 9.69141 8.25781 10.375C8.25781 11.0859 7.68359 11.6328 7 11.6328C6.28906 11.6328 5.74219 11.0859 5.74219 10.375C5.74219 9.69141 6.28906 9.11719 7 9.11719ZM5.79688 4.60547C5.76953 4.41406 5.93359 4.25 6.125 4.25H7.84766C8.03906 4.25 8.20312 4.41406 8.17578 4.60547L7.98438 8.32422C7.95703 8.51562 7.82031 8.625 7.65625 8.625H6.31641C6.15234 8.625 6.01562 8.51562 5.98828 8.32422L5.79688 4.60547Z" fill="#8A8A8A"/>
            </svg>
          </div>
          <div class="text">
            <p class="text-base my-[8px]">
              Enviamos un código de verificación al número celular {{ phone }} y correo electrónico {{ mail }}
            </p>
          </div>

        </div>

        <div class="form flex items-end mt-6">
          <div class="input w-[180px] mr-2">
            <AppInputTextVue 
              v-model="codeConfirm"
              max="4"
              label="Código de verificación"
              :isRequired="true" >
            </AppInputTextVue>
          </div>

          <AppButtonVue v-if="!reSendMsm" color="none" className="rounded-[5px]" @click="sendRequestConfirm">Envíar de nuevo</AppButtonVue>
          <AppButtonVue v-if="reSendMsm" color="secondary" className="rounded-[5px]" >Enviado!</AppButtonVue>
        </div>

        <div class="flex justify-center gap-4 mt-6">
          <AppButtonVue className="w-[140px]" @click="awaitConfirm = false" color="secondary">Volver</AppButtonVue>
          <AppButtonVue className="w-[140px]" v-if="!loadBotton" @click="saveAccountBank" >Confirmar</AppButtonVue>
          <AppButtonVue className="w-[140px]" v-if="loadBotton" :isLoad="loadBotton" ></AppButtonVue>
        </div>

      </div>
  </section>

</template>

<script lang="ts">

import { defineComponent, ref, watch } from 'vue';
import Multiselect from '@vueform/multiselect';
import { tipos_cuentas, banco_documentos } from '@/constants';
import AppInputTextVue from '@/components/microComponents/AppInputText.vue';
import AppTitleThreeVue from '@/components/microComponents/AppTitleThree.vue';
import AppButtonVue from '@/components/microComponents/AppButton.vue';
import { ISaveAccountBank, IResqGetlisBank, IArrayMultiSelect, IExportData } from '@/models/types';
import { PostNewAccountBank, Validator, GetListBanks, RequestMessagePayDisbursement } from '@/services/';
import { sanitizerValues } from '@/utils/';
import { useUsuarioStore } from "@/stores/usuario.store";
import { useField, useForm } from 'vee-validate';

export default defineComponent({
  components: {
    AppInputTextVue,
    AppTitleThreeVue,
    AppButtonVue,
    Multiselect
  },
  emits: ['inscripted'],
  setup(_, {emit}) {
    const bancos        = ref<IArrayMultiSelect[]>([]);
    const token         = ref<string>('');
    const phone         = ref<string>('');
    const mail          = ref<string>('');
    const userStore     = useUsuarioStore();
    const errorAccount  = ref<boolean>(false);
    const reSendMsm     = ref<boolean>(true);
    const awaitConfirm  = ref<boolean>(false);
    const loadBotton    = ref<boolean>(false);

    const idEnterprise  = userStore.getIdEnterprise;
    const idUser        = userStore.getIdUser;
    const emitInscrip   = (data: IExportData) => emit('inscripted', data);

    const getBanks = async (value: string) => {
      if (value && value.length > 3) {
        const body: IResqGetlisBank = {
          type_code: 2,
          bank: value
        }
        const resp = await GetListBanks(body);
        if (resp) {
          bancos.value = resp?.map(e => {
            return {
              label: e.dsnombre,
              value: e.idcodbanco
            }
          })
        }
      }
    }

    const { errors, handleSubmit } = useForm({
      validationSchema: {
        accountOwner(value: string) {
          const rules = ['min:5', 'max:45'];
          return Validator(value).string(rules);
        },
        bank(value: number) {
          return Validator(value).number();
        },
        typeAccount(value: number) {
          return Validator(value).number();
        },
        accountNumber(value:string) {
          return Validator(value).string();
        },
        accountNumber2(value: string) {
          return Validator(value).string();
        },
        typeDocument(value: number) {
          return Validator(value).number();
        },
        documentNumber(value: number) {
          return Validator(value).number();
        }
      }
    })

    const { value: accountOwner } = useField<string>('accountOwner');
    const { value: bank }         = useField<number>('bank');
    const { value: typeAccount }  = useField<number>('typeAccount');
    const { value: typeDocument } = useField<number>('typeDocument');
    const { value: accountNumber }  = useField<string>('accountNumber');
    const { value: accountNumber2 } = useField<string>('accountNumber2');
    const { value: documentNumber } = useField<number>('documentNumber');
    const codeConfirm = ref<string>('');

    const handler = handleSubmit((values) => values);

    const sendRequestConfirm =  async () => {
      const err = Object.keys(errors.value);
      const values = await handler();
      
      if ( err.length == 0 && values ) {
        
        const resp = await RequestMessagePayDisbursement(idUser,idEnterprise);
        if (resp?.status == 'ok') {
          token.value = resp.bodyToken;
          phone.value = resp.phone;
          mail.value = resp.mail;
          awaitConfirm.value = true;
          reSendMsm.value = !reSendMsm.value;
          if (reSendMsm.value) {
            setTimeout(() => {
              reSendMsm.value = !reSendMsm.value;
            }, 120000)
          }
        }
      } 
    };

    const saveAccountBank = async () => {
      const values = await handler();
      const regex = /^(\d{1,10})/;
      const errCode = Validator(codeConfirm.value).pattern(regex);
      const sanitazed = sanitizerValues(accountNumber.value);

      if ((!values || !errCode) && sanitazed) { return; }

      try {
        let body:ISaveAccountBank  = {
          code: String(codeConfirm.value),
          bodyToken: token.value,
          body: [
            {
              identificacionBeneficiario: documentNumber.value,
              nombreDelBeneficiario: accountOwner.value.trim(),
              bancoCuentaDelBeneficiarioDestino: bank.value,
              numeroCuentaDelBeneficiario: String(sanitazed),
              tipoDeTransaccion: 28,
              tipoDeDocumentoDeIdentificacion: typeDocument.value,
            }
          ]
        }

        loadBotton.value = true;
        const resp = await PostNewAccountBank(body);
        if (resp) {
          const data:IExportData = {
            data: {
              identificacionBeneficiario: documentNumber.value,
              nombreDelBeneficiario: accountOwner.value.trim(),
              bancoCuentaDelBeneficiarioDestino: bank.value,
              numeroCuentaDelBeneficiario: String(sanitazed),
              tipoDeTransaccion: 28,
              tipoDeDocumentoDeIdentificacion: typeDocument.value,
            },
            bancos: bancos.value
          }
          emitInscrip(data);
        }
      } catch (error) {
        loadBotton.value = false;
        console.warn(error);
      }
    }

    watch(() => accountNumber2.value, (newVal) => {
      if (accountNumber2.value) {
        if(newVal === accountNumber.value) {
          errorAccount.value = false;
        }else { 
          errorAccount.value = true;
        }
      } 
    })

    return {
      bancos,
      tipos_cuentas,
      errorAccount,
      banco_documentos,
      emitInscrip,

      accountOwner,
      bank,
      typeAccount,
      accountNumber,
      accountNumber2,
      typeDocument,
      documentNumber,
      codeConfirm,
      phone,
      mail,

      awaitConfirm,
      sendRequestConfirm,
      saveAccountBank,
      getBanks,
      reSendMsm,
      loadBotton
    }
  }

});
</script>
<style src="@vueform/multiselect/themes/default.css"></style>

/* Accesos al Componente *****/
// TheHeadInfo