<template>
  <section class="main w-full mt-6">
    <nav class="w-full flex sansBold bg-gray-100 text-lg border-t-2 border-gray-400">
      <div :class="classesNav.pay">
        <p class="text-center cursor-pointer my-2 font-bold " @click="changeTypePay('PAY')">
          Pago electrónico
        </p>
      </div>
      <div :class="classesNav.tranfer">
        <p class="text-center cursor-pointer my-2 font-bold" @click="changeTypePay('TRANSF')">
          Transferencia o consignación
        </p>
      </div>
    </nav>
    <section class="w-full flex mt-4 gap-2 text-gray-800" v-if="classesNav.select == 'PAY'">

      <div class="datos_pagos w-6/12">
        <h3 class="font-bold text-lg">Resumen</h3>
        <div class="bg-gray-100 p-2 text-sm rounded-lg border border-gray-200 mt-3">
          <div class="flex">
            <div class="icon">
              <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.2539 3.94141L9.80859 0.496094C9.63281 0.355469 9.42188 0.25 9.21094 0.25H9V4.75H13.5V4.53906C13.5 4.32812 13.3945 4.11719 13.2539 3.94141ZM7.875 5.03125V0.25H0.84375C0.351562 0.25 0 0.636719 0 1.09375V17.4062C0 17.8984 0.351562 18.25 0.84375 18.25H12.6562C13.1133 18.25 13.5 17.8984 13.5 17.4062V5.875H8.71875C8.22656 5.875 7.875 5.52344 7.875 5.03125ZM2.25 2.78125C2.25 2.64062 2.35547 2.5 2.53125 2.5H5.34375C5.48438 2.5 5.625 2.64062 5.625 2.78125V3.34375C5.625 3.51953 5.48438 3.625 5.34375 3.625H2.53125C2.35547 3.625 2.25 3.51953 2.25 3.34375V2.78125ZM2.25 5.59375V5.03125C2.25 4.89062 2.35547 4.75 2.53125 4.75H5.34375C5.48438 4.75 5.625 4.89062 5.625 5.03125V5.59375C5.625 5.76953 5.48438 5.875 5.34375 5.875H2.53125C2.35547 5.875 2.25 5.76953 2.25 5.59375ZM7.3125 14.875V15.7188C7.3125 15.8945 7.17188 16 7.03125 16H6.46875C6.29297 16 6.1875 15.8945 6.1875 15.7188V14.875C5.76562 14.875 5.37891 14.7344 5.0625 14.4883C4.92188 14.3828 4.92188 14.1719 5.0625 14.0664L5.44922 13.6797C5.55469 13.5742 5.69531 13.5742 5.80078 13.6445C5.94141 13.7148 6.11719 13.75 6.25781 13.75H7.24219C7.48828 13.75 7.66406 13.5742 7.66406 13.293C7.66406 13.082 7.55859 12.9062 7.34766 12.8711L5.76562 12.3789C5.13281 12.168 4.67578 11.5703 4.67578 10.8672C4.67578 9.98828 5.34375 9.28516 6.15234 9.28516V8.40625C6.15234 8.26562 6.29297 8.125 6.43359 8.125H6.99609C7.17188 8.125 7.27734 8.26562 7.27734 8.40625V9.28516C7.69922 9.28516 8.08594 9.42578 8.40234 9.67188C8.54297 9.77734 8.54297 9.98828 8.40234 10.0938L8.01562 10.4805C7.91016 10.5859 7.76953 10.5859 7.66406 10.5156C7.52344 10.4453 7.34766 10.375 7.20703 10.375H6.22266C5.97656 10.375 5.80078 10.5859 5.80078 10.8672C5.80078 11.0781 5.90625 11.2539 6.11719 11.2891L7.69922 11.7812C8.33203 11.957 8.78906 12.5898 8.78906 13.293C8.78906 14.1719 8.12109 14.875 7.3125 14.875Z"
                  fill="#C2C2C2" />
              </svg>
            </div>
            <span class="font-bold ml-2">Paga por medio de Wompi</span>
          </div>
          <p class="mt-1 text-">Sin costos adicionales y tu pago se verá reflejado de inmediato</p>
        </div>
        <div class="mt-3 flex items-center 
                        justify-between cursor-pointer 
                        border border-gray-400 
                        rounded-lg p-2 py-1">
          <div class="w-full">

            <div class="w-full flex text-sm">
              <div class="w-6/12 border-r-2">
                <p>Deuda total a la fecha</p>
                <p class="font-bold">
                  {{ formatCurrencyCo(totalDeuda) }}
                </p>
              </div>
              <div class="w-6/12 ml-3">
                <p>Total vencido</p>
                <p class="font-bold ">
                  {{ formatCurrencyCo(totalvencido) }}
                </p>
              </div>
            </div>

            <div class="w-full">
              <div class="toggl text-xs mt-4 mb-2" v-if="showDatail">

                <div class="headers w-full flex justify-around border-y py-2 font-bold border-gray-400">
                  <span>Factura</span>
                  <span>Fecha</span>
                  <span>Saldo</span>
                </div>

                <div class="w-full overflow-auto max-h-16 scroll_sm ">

                  <div class="w-full flex mt-[7px]" 
                    v-for="factura in dataFacturas" 
                    :key="factura.idpedido">

                    <input :class="'c-check-'+String(factura.idpedido)" 
                      type="checkbox" @click="selected(factura.idpedido, factura.saldo)"
                      :name="String(factura.idpedido)" 
                      :id="'check-'+String(factura.idpedido)">

                    <div class="data w-11/12 flex justify-around" 
                        :class="'check-'+String(factura.idpedido)">
                      <label :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsprefijo }} {{ factura.idpedido }}
                      </label>
                      <label  :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsfechac }}
                      </label>
                      <label  :class="'class'+String(factura.idpedido)">
                        {{ formatCurrencyCo(factura.saldo) }}
                      </label>

                    </div> 
                  </div>

                </div>

              </div>
              <div class=" flex justify-center w-full text-sm text-gray-600" @click="showDatail = !showDatail">
                <span class="mr-2">Ver detalle</span>
                <div class="icon flex items-center" :class="[showDatail ? 'rotate-180' : '']">
                  <FontAwesomeIcon icon="chevron-down" />
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="resumen w-6/12">
        <h3 class="font-bold text-lg">Datos de pago</h3>

        <div class="px-2 py-1 text-sm mt-3 border border-gray-400 
                    cursor-pointer rounded-[5px] flex justify-between"
                    :class="[totalDeuda < 1 ? 'opacity-50' : '' ]" 
                    @click="prepareToWompi(totalDeuda, 'totalDeuda')">
          <div class="text">
            <p class="mb-2">Pago total</p>
            <p class="font-bold text-base">{{ formatCurrencyCo(totalDeuda) }}</p>
          </div>
          <FontAwesomeIcon v-if="!loaders.totalDeuda" 
            class="-rotate-90 my-auto" icon="chevron-down" />

          <fontAwesomeIcon v-if="loaders.totalDeuda" 
            class="animate-spin my-auto" icon="spinner" />
        </div>

        <div class="px-2 py-1 text-sm mt-2 border border-gray-400 
                    cursor-pointer rounded-[5px] flex justify-between"
                    :class="[totalvencido < 1 ? 'opacity-50' : '']"
                    @click="prepareToWompi(totalvencido, 'facturasVencidas')">
          <div class="text">
            <p class="mb-2">Pago total vencido</p>
            <p class="font-bold text-base">{{ formatCurrencyCo(totalvencido) }}</p>
          </div>
           <FontAwesomeIcon class="-rotate-90 my-auto" 
            v-if="!loaders.vencidas" icon="chevron-down" /> 

          <fontAwesomeIcon v-if="loaders.vencidas" 
            class="animate-spin my-auto" icon="spinner" />
        </div>

        <div class="px-2 py-1 text-sm mt-2 border border-gray-400 
                    cursor-pointer rounded-[5px] flex justify-between"
                    :class="[facturasSelecionadas < 1 ? 'opacity-50' : '']"
                    @click="prepareToWompi(facturasSelecionadas, 'facturasSelecionadas')">
          <div class="text">
            <p class="mb-2">Pago facturas seleccionadas</p>
            <p class="font-bold text-base">{{ formatCurrencyCo(facturasSelecionadas) }}</p>
          </div>
          <FontAwesomeIcon class="-rotate-90 my-auto" 
            v-if="!loaders.selecionadas" icon="chevron-down" /> 

          <fontAwesomeIcon v-if="loaders.selecionadas" 
            class="animate-spin my-auto" icon="spinner" />

        </div>

        <div class="px-2 py-1 text-sm mt-2 border border-gray-400 rounded-[5px] flex justify-between">
          <div class="text">
            <p class="mb-2">Valor parcial  
              <span class=" font-semibold">{{ formatCurrencyCo(partialValue) }}</span>
            </p>
            <span class="input-symbol-dollar">
              <input v-model="partialValue" type="number" name="partialValue" id="partialValue"
                class="input-symbol-dollar py-[5px] h-[39px] px-4 rounded-[5px] border w-full border-gray-400 focus:outline-none" >
            </span>
          </div>
          <div class="icon cursor-pointer w-3/12 flex items-center justify-end" 
            title="click aqui para pagar" @click="prepareToWompi(partialValue, 'parcial')">

            <FontAwesomeIcon class="-rotate-90 my-auto" 
              v-if="!loaders.parcial" icon="chevron-down" /> 

            <fontAwesomeIcon v-if="loaders.parcial" 
              class="animate-spin my-auto" icon="spinner" />

          </div>
        </div>

      </div>
    </section>

    <section class="trans w-full mt-4 max-h-[50vh] overflow-auto duration-500 progress_red"
      v-if="classesNav.select == 'TRANSF'">

      <div class="info flex w-full">
        <div class="resumen w-7/12">
          <h3 class="font-bold text-lg">Resumen</h3>

          <div class="mt-3 flex items-center sans text-gray-800
                        justify-between cursor-pointer 
                        border border-gray-400 
                        rounded-lg p-2 py-1">
          <div class="w-full">

            <div class="w-full flex text-sm">
              <div class="w-6/12 border-r-2">
                <p>Deuda total a la fecha</p>
                <p class="font-bold text-base">
                  {{ formatCurrencyCo(totalDeuda) }}
                </p>
              </div>
              <div class="w-6/12 ml-3">
                <p>Total vencido</p>
                <p class="font-bold text-base ">
                  {{ formatCurrencyCo(totalvencido) }}
                </p>
              </div>
            </div>

            <div class="w-full">
              <div class="toggl text-xs mt-3 mb-2" v-if="showDatail">

                <div class="headers w-full flex justify-around border-y py-2 font-bold border-gray-400">
                  <span>Factura</span>
                  <span>Fecha</span>
                  <span>Saldo</span>
                </div>

                <div class="w-full overflow-auto max-h-16 scroll_sm ">

                  <div class="w-full flex mt-[7px]" 
                    v-for="factura in dataFacturas" 
                    :key="factura.idpedido">

                    <div class="data w-11/12 flex justify-around" 
                        :class="'check-'+String(factura.idpedido)">
                      <label :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsprefijo }} {{ factura.idpedido }}
                      </label>
                      <label  :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsfechac }}
                      </label>
                      <label  :class="'class'+String(factura.idpedido)">
                        {{ formatCurrencyCo(factura.saldo) }}
                      </label>

                    </div> 
                  </div>

                </div>

              </div>
              <div class=" flex justify-center w-full text-sm text-gray-600" @click="showDatail = !showDatail">
                <span class="mr-2">Ver detalle</span>
                <div class="icon flex items-center" :class="[showDatail ? 'rotate-180' : '']">
                  <FontAwesomeIcon icon="chevron-down" />
                </div>
              </div>
            </div>

          </div>
        </div>
          
        </div>
        <div class="datos_pagos w-5/12 px-2">
          <h3 class="font-bold text-lg text-center">Datos del pago</h3>
          <div class="w-full text-center mt-2">
            <p class="font-bold">Consignar a AVE GROUP SAS</p>
            <p class="text-xs">Bancolombia - Ahorros 34494829446</p>
          </div>
          <div class="bg-gray-100 p-3 text-sm rounded-[5px] mt-3">
            <p>
              <span class="font-bold">Ten en cuenta</span>
              que pagando por este medio tus pagos se verán reflejados en un
              tiempo superior. Te invitamos a que utilices el pago electrónico por
              medio de Wompi sin costos adicionales y automático.
            </p>
          </div>
        </div>
      </div>

      <div class="form w-full p-2">
        <h3 class="text-center font-bold text-lg">Notificar pago</h3>
        <div class="w-full flex gap-3">
          <div class="w-6/12">

            <div class="min_cont w-full">
              <label class="text-gray-800 font-normal text-[14px]">Medio de pago *</label>
              <hr class="w-full h-2 border-transparent">
              <Multiselect
                class="border-gray-400 mt-2 h-[36px]"
                v-model="dataForm.medioDePago"
                :searchable="false"
                :options="medios_pagos"
              />
            </div>

            <div class="min_cont mt-2 w-full">
              <AppInputTextVue type="date" 
                v-model="dataForm.fecha" 
                :isRequired="true" 
                label="Fecha de pago" />
            </div>


          </div>
          <div class="w-6/12">
            
            <div class="min_cont w-full mt-1">
              <AppInputTextVue masker="number" 
                v-model="dataForm.valor" 
                :isRequired="true" 
                :className="classForm.valor"
                label="Valor pagado" />
            </div>
            
            <div class="min_cont w-full mt-2">

              <label class="text-gray-800 font-normal text-sm" for="imagen">Adjunta imagen *</label>
              <input type="file" name="imagen" 
                class="p-1 rounded-[5px] border mt-1 w-full border-gray-400 focus:outline-none input_no_icon"
                id="imagen" @change="handlerBase64">

            </div>

          </div>
        </div>
        <div class="mt-3 w-full">

          <AppInputTextVue type="text" 
            v-model="dataForm.observaciones" 
            :isRequired="true" 
            label="Observaciones" />

        </div>
        <div class="mt-3 w-full">

          <AppButtonVue @click="sendPaymentConfirmation"
            className="w-[180px] mx-auto" v-if="!dataForm.load"
          >Notificar pago</AppButtonVue>

          <AppButtonVue v-if="dataForm.load"
            className="w-[180px] mx-auto" :isLoad="dataForm.load"/>

        </div>

      </div>
    </section>
  </section>

  <AppModalVue v-model="showModal.show" 
    :title="showModal.title" :headerIcon="showModal.icon">
    <p class="text-gray-800 mt-6 text-center text-sm">{{ showModal.massage }}</p>
  </AppModalVue>

</template>


<script lang="ts" >
import { defineComponent, ref, computed, onMounted } from 'vue';
import Multiselect from '@vueform/multiselect';
import AppInputTextVue from '@/components/microComponents/AppInputText.vue';
import AppButtonVue from '@/components/microComponents/AppButton.vue';
import AppModalVue from '@/components/AppModal.vue';
import { format } from 'date-fns';
import { base64, formatCurrencyCo, goToWompi, 
         selectInvoicesSelect, selectInvoicesOverdue } from '@/utils';
import { useFacturasStore, useUsuarioStore } from '@/stores';
import { Base64Req, IFacturasData, IGetRefWompyReq, IPostNotificarPago, TypeIcon } from '@/models/types';
import { medios_pagos } from '@/constants';
import { PostNotificacionPago, PayToWompy } from '@/services/http';

interface Modal {
  show: boolean,
  icon: TypeIcon,
  title: string,
  massage: string
}

export default defineComponent({
  components: {
    AppInputTextVue,
    Multiselect,
    AppButtonVue,
    AppModalVue
  },
  setup() {
    const stateFacturas = useFacturasStore();
    const stateUser     = useUsuarioStore();


    const totalvencido  = computed(() => stateFacturas.getterTotales().vencido);
    const totalDeuda    = computed(() => stateFacturas.getterTotales().subTotal);
    const dataFacturas  = computed<IFacturasData[]>(() => stateFacturas.getterFacturasPendientes())
    const dataBase64    = ref<Base64Req>();
    const facturasSelecionadas = ref<number>(0);

    const showDatail = ref(true);
    const partialValue = ref<number>(0);

    const dataForm = ref({
      medioDePago:  '',
      observaciones:  '',
      valor: 0,
      fecha: format(new Date(), 'yyyy-MM-dd'),
      load: false
    });

    const loaders = ref({
      totalDeuda: false,
      selecionadas: false,
      vencidas: false,
      parcial: false,
    })

    const classForm = ref({
      valor: 'py-[5px] h-[39px] px-4 rounded-[5px] border w-full border-gray-400 focus:outline-none'
    })

    const showModal = ref<Modal>({
      show: false,
      icon: '',
      title: '',
      massage: ''
    })


    const prepareToWompi = async (value:number | string, env: string) => {
      const datos = stateUser.getDatosRemitente[0];
      let factu:string[] = [];
      value = Number(value);      
      switch (env) {
        case 'totalDeuda':
          loaders.value.totalDeuda = value > 0 ?? false;
          factu = dataFacturas.value.map(el => {
            return `${el.dsprefijo}-${el.idpedido}`;
          })
          break;
        case 'parcial':
          loaders.value.parcial = value > 0 ?? false;          
          factu = dataFacturas.value.map(el => {
            return `${el.dsprefijo}-${el.idpedido}`;
          })
          break;
        case 'facturasSelecionadas':          
          loaders.value.selecionadas = value > 0 ?? false;
          factu = selectInvoicesSelect(dataFacturas.value);
          break;
        case 'facturasVencidas':
          loaders.value.vencidas = value > 0 ?? false;
          factu = selectInvoicesOverdue(dataFacturas.value);
          break;
      }
      const joinInvoices = factu.join();

      if (value > 1 && joinInvoices != '') {
        const body:IGetRefWompyReq = {
          tipo: 'solicitarReferencia',
          idexp: stateUser.getIdUser,
          id_sector: datos.idsector,
          valor_ave: String(value),
          facturas: factu.join()
        }
        const res = await PayToWompy(body);
        if (res && res.data) {
          const consec = res.data;
          goToWompi(String(value), consec, true);
        }
      } // ?id=112010-1655998361-44163&env=test
    } 

    const navClassName = {
      select: "w-6/12 text-red-500 sansBold border-b-4 border-b-red-500 ",
      noSelect: "w-6/12 text-gray-600 sansBold",
    };

    const classesNav = ref({
      pay: navClassName.select,
      tranfer: navClassName.noSelect,
      select: "PAY",
    });

    const changeTypePay = (click = "") => {
      if (click == "PAY") {
        classesNav.value.pay = navClassName.select;
        (classesNav.value.tranfer = navClassName.noSelect),
          (classesNav.value.select = click);
      }
      if (click == "TRANSF") {
        classesNav.value.pay = navClassName.noSelect;
        (classesNav.value.tranfer = navClassName.select),
          (classesNav.value.select = click);
      }
    }

    const selected = (idFactura: number, value: number) => {
      const element = document.getElementById(`check-${idFactura}`) as HTMLInputElement;      
      if (element) {
        const check = element.checked
        if (check == true) {
          facturasSelecionadas.value = facturasSelecionadas.value + value;
          return ;
        } else if (check == false) {
          facturasSelecionadas.value = facturasSelecionadas.value - value;   
          return;
        }
      }
    }

    const setterAllInvoicesValue = () => {
      dataFacturas.value.forEach(el => {
        const checkbox = document.getElementById(`check-${el.idpedido}`) as HTMLInputElement; 
        if (checkbox) {
          checkbox.checked = true;
          facturasSelecionadas.value = facturasSelecionadas.value + el.saldo;
        }
      })
    }

    const handlerBase64 = async (ev: Event) => {
      const target = ev.currentTarget as HTMLInputElement;
      if (target && target.files) {
        const archivo = target.files[0];
        const base = await base64(archivo);
        if (base) {
          const base64 = String(base.base).split(',')[1];
          dataBase64.value = {
            type: base.blob.type,
            name: base.blob.name,
            ext: String(base.blob.name).split('.')[1],
            base: base64,
          }                    
        }
      }
    }

    const sendPaymentConfirmation = async () => {
      if (dataForm.value.valor < 1 ) {
        classForm.value.valor = 'py-[5px] h-[39px] px-4 rounded-[5px] border w-full border-red-400 focus:outline-none'
      }
      if (dataBase64.value && dataBase64.value.base) {
        let facturas:string[] = []
        dataFacturas.value.forEach(el => {          
          facturas.push(`${el.dsprefijo}-${el.idpedido}`)
        });
        const listFacturas = facturas.join();
        dataForm.value.load = true;
        const body: IPostNotificarPago = {
          tipo: 'insertar',
          idexp: Number(stateUser.getIdUser),
          dsvalor: dataForm.value.valor,
          dsfecha_pago: dataForm.value.fecha,
          dsconsec: '',
          dsidentificacion: '',
          idmedio_pago: Number(dataForm.value.medioDePago),
          pkid: '',
          pkids: '',
          dsfacturas: listFacturas,
          guiacourier: '',
          observaciones: dataForm.value.observaciones,
          file: dataBase64.value
        }
        try {
          const resp = await PostNotificacionPago(body);
          if (resp?.status == 'ok') {
            dataForm.value.load = false;
            showModal.value = {
              show: true,
              icon: 'error',
              title: 'Envio exitoso',
              massage: ''
            }
          } else {
            dataForm.value.load = false;
            showModal.value = {
              show: true,
              icon: 'error',
              title: 'Algo salió mal',
              massage: resp?.message || 'Vuelve a intentarlo más tarde'
            }
          }
        } catch (error) {
          dataForm.value.load = false;
          showModal.value = {
            show: true,
            icon: 'error',
            title: 'Algo salió mal',
            massage: 'Vuelve a intentarlo más tarde'
          }
          console.log(error);
        }
        
      }
    }

    onMounted(() => {
      setterAllInvoicesValue();
    })

    return {
      sendPaymentConfirmation,
      formatCurrencyCo,
      prepareToWompi,
      handlerBase64,
      changeTypePay,
      selected,

      facturasSelecionadas,
      totalvencido,
      totalDeuda,
      classesNav,
      showDatail,
      partialValue,
      dataFacturas,
      showModal,

      dataForm,
      classForm,
      medios_pagos,
      loaders,
    }
  }
})

</script>

<style scoped>
  .input-symbol-dollar {
  position: relative;
  display: block;
}
.input-symbol-dollar:after {
    color: #37424a !important;
    content: "$";
    font-size: 14px !important;
    font-weight: 400;
    position: absolute;
    display: block;
    height: 100%;
    top: -3px;
    left: 8px;
    line-height: 46px;
}
</style>
