<template>
  <section v-if="!awaitChanged" class="w-full p-1 text-left py-3 rounded-[5px] ">
      <div class="body">

        <div class="title mt-4">
          <AppTitleThreeVue>Resumen</AppTitleThreeVue>
          <hr class="mt-4">
        </div>

        <div class="conten mt-4">
          <p class="text-[14px] mt-2 leading-4">Cuenta favorita actual</p>
            <AppTitleThreeVue class="mt-2" size="16px">{{ acountFavorite[0].nombreDelBeneficiario }}</AppTitleThreeVue>
          <p class="text-sx">
            {{acountFavorite[0].nombreBanco }} - {{ acountFavorite[0].numeroCuentaDelBeneficiario}} 
          </p>
        </div>

        <div class="conten mt-4">
          <p class="text-[14px] mt-2 leading-4">Nueva cuenta favorita</p>
            <AppTitleThreeVue class="mt-2" size="16px">{{ account.nombreDelBeneficiario }}</AppTitleThreeVue>
          <p class="text-sx">
            {{account.nombreBanco }} - {{ account.numeroCuentaDelBeneficiario}} 
          </p>
        </div>

        <div class="alert flex items-center bg-gray-50 rounded-lg mt-6">

          <div class="icon mx-1">
            <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13.7812 7.75C13.7812 4.03125 10.7188 0.96875 7 0.96875C3.25391 0.96875 0.21875 4.03125 0.21875 7.75C0.21875 11.4961 3.25391 14.5312 7 14.5312C10.7188 14.5312 13.7812 11.4961 13.7812 7.75ZM7 9.11719C7.68359 9.11719 8.25781 9.69141 8.25781 10.375C8.25781 11.0859 7.68359 11.6328 7 11.6328C6.28906 11.6328 5.74219 11.0859 5.74219 10.375C5.74219 9.69141 6.28906 9.11719 7 9.11719ZM5.79688 4.60547C5.76953 4.41406 5.93359 4.25 6.125 4.25H7.84766C8.03906 4.25 8.20312 4.41406 8.17578 4.60547L7.98438 8.32422C7.95703 8.51562 7.82031 8.625 7.65625 8.625H6.31641C6.15234 8.625 6.01562 8.51562 5.98828 8.32422L5.79688 4.60547Z" fill="#8A8A8A"/>
            </svg>
          </div>
          <div class="text">
            <p class="text-sm my-[8px]">
              Enviamos un código de verificación al número celular {{ phoneProp || '********' }} y correo electrónico {{ mailProp }}
            </p>
          </div>

        </div>

        <div class="form flex items-end mt-6">
          <div class="input w-[180px] mr-2">
            <AppInputTextVue 
              v-model="codeConfirm"
              max="4"
              label="Código de verificación"
              :isRequired="true" >
            </AppInputTextVue>
          </div>

          <AppButtonVue v-if="!reSendMsm" color="none" className="rounded-[5px]" @click="sendRequestConfirm">Envíar de nuevo</AppButtonVue>
          <AppButtonVue v-if="reSendMsm" color="secondary" className="rounded-[5px]" >Enviado!</AppButtonVue>
        </div>

        <div class="flex justify-center gap-4 mt-6">
          <AppButtonVue className="w-[140px]" @click="closeModal" color="secondary">Volver</AppButtonVue>
          <AppButtonVue className="w-[140px]" v-if="!loadBotton" @click="changeFavorite" >Confirmar</AppButtonVue>
          <AppButtonVue className="w-[140px]" v-if="loadBotton" :isLoad="loadBotton" ></AppButtonVue>
        </div>

      </div>
  </section>

  <section v-if="awaitChanged" class="w-full p-1 text-left py-3 rounded-[5px] ">
    <div class="body">
      <div class="title mt-4">
        <AppTitleThreeVue>Resumen</AppTitleThreeVue>
        <hr class="mt-4">
      </div>

      <div class="conten mt-4">
        <p class="text-[14px] mt-2 leading-4">Cuenta destino</p>
          <AppTitleThreeVue class="mt-2" size="16px">{{ account.nombreDelBeneficiario }}</AppTitleThreeVue>
        <p class="text-sx">
          {{account.nombreBanco }} - {{ account.numeroCuentaDelBeneficiario}} 
        </p>
      </div>

      <div class="mt-4">
        <p class="text-sm leading-4">{{ format( new Date(), 'dd/MM/yyyy HH:mm a') }}</p>
        <p class="text-sm mt-4 leading-4">En aproximadamente 3 minutos, puedes hacer transferencias a esta cuenta</p>
      </div>

    </div>
  </section>

</template>

<script lang="ts">  

import { defineComponent, ref, PropType, computed } from 'vue';
import AppInputTextVue from '@/components/microComponents/AppInputText.vue';
import AppTitleThreeVue from '@/components/microComponents/AppTitleThree.vue';
import AppButtonVue from '@/components/microComponents/AppButton.vue';
import { IArrayMultiSelect, IFavoriteAccount, IRespListSusbcripts } from '@/models/types';
import { useUsuarioStore } from "@/stores/usuario.store";
import { ChangeFavoriteAccount, RequestMessagePayDisbursement } from '@/services';
import { orderAny } from '@/utils';
import { format } from 'date-fns';



export default defineComponent({
  components: {
    AppInputTextVue,
    AppTitleThreeVue,
    AppButtonVue,
  },
  props: {
    account: {
      type: Object as PropType<IRespListSusbcripts>,
      required: true
    },
    token: {
      type: String,
      required: true
    },
    phone: {
      type: String,
      required: true
    },
    mail: {
      type: String,
      required: true
    }
  },
  emits: ['accountchanged', 'closemodal'],
  setup(props, {emit}) {
    const bancos    = ref<IArrayMultiSelect[]>([]);
    const userStore = useUsuarioStore();
    const tokenProp = ref<string>(props.token);
    const phoneProp = ref<string>(props.phone);
    const mailProp  = ref<string>(props.mail);

    const awaitChanged  = ref<boolean>(false);
    const reSendMsm     = ref<boolean>(true);
    const loadBotton    = ref<boolean>(false);
    const codeConfirm   = ref<string>(''); 
    const acountFavorite = computed<IRespListSusbcripts[]>(() => userStore.getAccounts.filter(el => el.cuentaPorDefecto ));

    const idEnterprise = userStore.getIdEnterprise;
    const idUser = userStore.getIdUser;
    
    const emitInscrip = () => emit('accountchanged');
    const closeModal = () => emit('closemodal', false);

    const sendRequestConfirm =  async () => {
      const resp = await RequestMessagePayDisbursement(idUser,idEnterprise);
      if (resp?.status == 'ok') {
        tokenProp.value = resp.bodyToken;
        phoneProp.value = resp.phone;
      }
    };

    const changeFavorite = async () => {
      const body:IFavoriteAccount = {
        body: [
          {
            codigoConfirmacion: Number(codeConfirm.value),
            bancoCuentaDelBeneficiarioDestino: props.account.bancoCuentaDelBeneficiarioDestino       ,
            numeroCuentaDelBeneficiario: String(props.account.numeroCuentaDelBeneficiario),
            bodyToken: tokenProp.value
          }
        ]
      }
      const resp = await ChangeFavoriteAccount(body);
      if (resp) {
        orderAny(resp, 'cuentaPorDefecto');        
        userStore.addListAccounts( resp );
        awaitChanged.value = true;
        emitInscrip();
      }
    }

    return {
      sendRequestConfirm,
      changeFavorite,
      emitInscrip,
      closeModal,
      format,

      bancos,
      acountFavorite,

      codeConfirm,

      awaitChanged,
      reSendMsm,
      loadBotton,
      phoneProp, 
      mailProp
    }
  }

});
</script>
<style src="@vueform/multiselect/themes/default.css"></style>

/* Accesos al Componente *****/
// components\recaudos\AppRegisteredAccounts.vue