
<template>
  <section v-if="newDisbursement" class="Nuevo desembolso">
    <div class="head w-full flex flex-col mt-6">

      <div class="flex flex-col py-2 justify-center rounded-[5px] border border-gray-400 w-full text-center items-center">
        <div class="w-full flex">
          <div class="saldos w-4/12 flex flex-col p-1 ">
            <p class="text-sm border-r">Saldo pendiente</p>
            <p class="text-gray-800 text-base font-bold border-r">{{ formatCurrencyCo(totalDeuda) }}</p>
          </div>
  
          <div class="saldos w-4/12 flex flex-col p-1">
            <p class="text-sm border-r">Dinero recaudado</p>
            <p class="text-gray-800 text-base font-bold border-r">{{ formatCurrencyCo(total) }}</p>
          </div>
  
          <div class="saldos w-4/12 flex flex-col p-1">
            <p class="text-sm">Saldo disponible</p>
            <p class="text-gray-800 text-base font-bold">{{ formatCurrencyCo(total - totalDeuda) }}</p>
          </div>
        </div>

        <div class="detalle w-full px-2">
          <div class="flex items-center justify-center text-xs text-gray-600 gap-1 cursor-pointer "
             @click="showDetails.show = !showDetails.show">

            Ver detalle de facturas
            <fontAwesomeIcon :class="[showDetails.show ? 'rotate-180' : '' ]" :icon="showDetails.icon" />
          </div>

          
            <div class="w-full">
              <div class="toggl text-xs mt-4 mb-2" v-if="showDetails.show && dataFacturas.length > 0">

                <div class="headers w-full flex justify-around border-y py-2 font-bold border-gray-400">
                  <span>Factura</span>
                  <span>Fecha</span>
                  <span>Saldo</span>
                </div>

                <div class="w-full overflow-auto max-h-16 scroll_sm ">

                  <div class="w-full flex mt-[7px]" 
                    v-for="factura in dataFacturas" 
                    :key="factura.idpedido">

                    <div class="data w-full flex justify-around" 
                        :class="'check-'+String(factura.idpedido)">
                      <label :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsprefijo }} {{ factura.idpedido }}
                      </label>
                      <label  :class="'class-'+String(factura.idpedido)">
                        {{ factura.dsfechac }}
                      </label>
                      <label  :class="'class'+String(factura.idpedido)">
                        {{ formatCurrencyCo(factura.saldo) }}
                      </label>

                    </div> 
                  </div>

                </div>

                <p class="text-gray-600 mt-4 text-left">
                  Estas facturas aun no están vencidas sin embargo, 
                  si retiras dinero se te descontará el valor de tu billetera y quedaran saldadas.
                </p>

              </div>
            </div>
        </div>
      </div>

      <div class="w-full mt-3">
        <AppInputTextVue v-model="valuePayOut"
          label="Valor" masker="number" :is-required="true">
        </AppInputTextVue>
      </div>

    </div>
    <div class="w-full flex items-center mt-4">
      <div class="w-6/12" >
        <p class="text-base text-gray-800">
          Selecciona la cuenta
        </p>
      </div>
      <div class="w-6/12 flex justify-end">
        <AppButtonVue color="none" @click="requestSubscription">Inscribir cuenta</AppButtonVue>
      </div>
    </div>

    <section class="list-account max-h-[214px] pr-4 overflow-auto py-2 mt-3 scroll_sm">
      <div class="w-full " 
        v-for="(cuenta, k ) in listAccount" :key="cuenta.numeroCuentaDelBeneficiario">
        <AppRegistedAccount2PayVue :account="cuenta"
          :index="k" :selected="accountSelected" @click="accountSelect(k)">
        </AppRegistedAccount2PayVue>
      </div>
    </section>
    <section class="flex justify-center mt-6">
      <AppButtonVue class-name="w-36" v-if="!loadBotton" @click="requestSMS">Confirmar</AppButtonVue>
      <AppButtonVue className="w-36" v-if="loadBotton" :isLoad="loadBotton" ></AppButtonVue>

    </section>
  </section>
  <section v-if="!newDisbursement && accountDataSelected" class="resumen">
    <div class="title mt-4">
      <AppTitleThreeVue>Resumen</AppTitleThreeVue>
      <hr class="mt-4">
    </div>

    <div class="valor mt-4" v-if="valuePayOut">
      <p class="text-[14px] leading-4">{{ textModal.valueTrans }} </p>
      <p class="mt-2">
        <AppTitleThreeVue size="16px">{{ formatCurrencyCo(valuePayOut) }}</AppTitleThreeVue>
      </p>
    </div>

    <div class="conten mt-4">
      <p class="text-[14px] leading-4">Cuenta destino</p>
      <p class="mt-2">
        <AppTitleThreeVue size="16px">{{ accountDataSelected.nombreDelBeneficiario || 'No existe' }}</AppTitleThreeVue>
      </p>
      <p class="text-xs">
        {{ accountDataSelected.nombreBanco }} - 
        <span v-for="tipo in tipos_cuentas" :key="tipo.value">
          <span v-if="tipo.value == accountDataSelected.tipoDecuenta">
            {{ tipo.label }}
          </span>
        </span>
        {{ accountDataSelected.identificacionBeneficiario || 'No existe' }} 
      </p>
    </div>

    <div class="foot" v-if="textModal.showBottoms">
        
      <div class="alert flex items-center bg-gray-50 rounded-lg mt-6">

        <div class="icon mx-1">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.7812 7.75C13.7812 4.03125 10.7188 0.96875 7 0.96875C3.25391 0.96875 0.21875 4.03125 0.21875 7.75C0.21875 11.4961 3.25391 14.5312 7 14.5312C10.7188 14.5312 13.7812 11.4961 13.7812 7.75ZM7 9.11719C7.68359 9.11719 8.25781 9.69141 8.25781 10.375C8.25781 11.0859 7.68359 11.6328 7 11.6328C6.28906 11.6328 5.74219 11.0859 5.74219 10.375C5.74219 9.69141 6.28906 9.11719 7 9.11719ZM5.79688 4.60547C5.76953 4.41406 5.93359 4.25 6.125 4.25H7.84766C8.03906 4.25 8.20312 4.41406 8.17578 4.60547L7.98438 8.32422C7.95703 8.51562 7.82031 8.625 7.65625 8.625H6.31641C6.15234 8.625 6.01562 8.51562 5.98828 8.32422L5.79688 4.60547Z" fill="#8A8A8A"/>
          </svg>
        </div>

        <div class="text flex">
          <p class="text-sm my-[8px]">
            Enviamos un código de verificación al número celular {{ phone || '********' }} y correo electrónico {{ mail }}
          </p>
        </div>

      </div>

      <p class="w-full text-center mt-6 ">Código de verificación *</p>
      
      <div class="form flex justify-center items-end">
        <div class="input w-[180px] mr-2">
          <AppInputTextVue 
            v-model="codeConfirm"
            label=""
            max="4">
          </AppInputTextVue>
        </div>

        <AppButtonVue v-if="!tooglesResp.reSendMsm" color="none" className="rounded-[5px]" @click="requestSMS(true)">Envíar de nuevo</AppButtonVue>
        <AppButtonVue v-if="tooglesResp.reSendMsm" color="secondary" className="rounded-[5px]" >Enviado!</AppButtonVue>
      </div>

      <div class="error flex justify-center items-center mt-5" v-if="tooglesResp.errorCode">
        <div class="icon mx-1">
          <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.1836 12.8086L9.62109 1.40625C9.12891 0.558594 7.84375 0.53125 7.35156 1.40625L0.789062 12.8086C0.296875 13.6562 0.925781 14.75 1.9375 14.75H15.0352C16.0469 14.75 16.6758 13.6836 16.1836 12.8086ZM8.5 10.4297C9.18359 10.4297 9.75781 11.0039 9.75781 11.6875C9.75781 12.3984 9.18359 12.9453 8.5 12.9453C7.78906 12.9453 7.24219 12.3984 7.24219 11.6875C7.24219 11.0039 7.78906 10.4297 8.5 10.4297ZM7.29688 5.91797C7.26953 5.72656 7.43359 5.5625 7.625 5.5625H9.34766C9.53906 5.5625 9.70312 5.72656 9.67578 5.91797L9.48438 9.63672C9.45703 9.82812 9.32031 9.9375 9.15625 9.9375H7.81641C7.65234 9.9375 7.51562 9.82812 7.48828 9.63672L7.29688 5.91797Z" fill="#D81023"/>
          </svg>
        </div>

        <div class="text flex text-red-400">
          <p class="text-base my-[8px]">
            <span class="font-bold">Código</span> incorrecto, vuelve a intentarlo.
          </p>
        </div>
      </div>

      <div class="flex justify-center gap-4 mt-6">
        <AppButtonVue className="w-[140px]" @click="newDisbursement = true" color="secondary">Volver</AppButtonVue>
        <AppButtonVue className="w-[140px]" v-if="!loadBotton" @click="postDisbursement()" >Confirmar</AppButtonVue>
        <AppButtonVue className="w-[140px]" v-if="loadBotton" :isLoad="loadBotton" ></AppButtonVue>
      </div>
    </div>

    <div class="dateTransfer w-full text-base mt-6" v-if="!textModal.showBottoms && textModal.date">
      <p>{{ textModal.date }}</p>
    </div>

  </section>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { useUsuarioStore } from '@/stores/usuario.store';
import AppInputTextVue from '@/components/microComponents/AppInputText.vue';
import AppButtonVue from '@/components/microComponents/AppButton.vue';
import AppRegistedAccount2PayVue from '../AppRegistedAccount2Pay.vue';
import { IBankSendPays, IFacturasData, IRespListSusbcripts} from '@/models/types';
// import AppTooltipTextTitleVue from '@/components/microComponents/AppTooltipTextTitle.vue';
import { formatCurrencyCo  } from '@/utils';
import { PostDisbursementClient, RequestMessagePayDisbursement } from '@/services';
import AppTitleThreeVue from '@/components/microComponents/AppTitleThree.vue';
import { tipos_cuentas } from '@/constants';
import { format } from 'date-fns';
import { useFacturasStore } from '@/stores';

interface IdetailsInvoices {
  icon:"chevron-up" | "chevron-down",
  show: boolean
}
// <AppTooltipTextTitleVue text="Lorem ipsum dolor sit, amdsfw wfefw dfs " row="bottom" position="right"></AppTooltipTextTitleVue>

export default defineComponent({
  components:{
    AppInputTextVue,
    AppButtonVue,
    AppRegistedAccount2PayVue,
    // AppTooltipTextTitleVue,
    AppTitleThreeVue
  },
  emits: ['subscribeAccount', 'disbursementPay', 'existError'],
  setup(_, {emit}) {
    const userStore = useUsuarioStore();
    const stateFacturas = useFacturasStore();

    const newDisbursement = ref<boolean>(true);
    const total = computed<number>(() => userStore.getPayOut);
    const valuePayOut = ref<number>();
    const requestSubscription = () => emit('subscribeAccount');
    const accountSelected = ref<number>(-1);

    const listAccount = computed<IRespListSusbcripts[]>(() => userStore.getAccounts );
    const dataFacturas  = computed<IFacturasData[]>(() => stateFacturas.getterFacturasPendientes());
    const totalDeuda    = computed(() => stateFacturas.getterTotales().subTotal);


    const accountSelect = (k: number) => {
      accountSelected.value = k;
    }
    /**Datos de la cuenta selecionada */
    const accountDataSelected = ref<IRespListSusbcripts>();
    const codeConfirm = ref<string>('');
    const token = ref<string>('');
    const phone = ref<string>('');
    const mail = ref<string>('');

    const reSendMsm = ref<boolean>(true);
    const loadBotton = ref<boolean>(false);
    const tooglesResp = ref({
      errorCode: false,
      reSendMsm: false
    })

    const textModal = ref({
      valueTrans: 'Valor a transferir',
      showBottoms: true,
      date: ''
    })

    const showDetails = ref<IdetailsInvoices>({
      icon: 'chevron-down',
      show: false
    })

    const requestSMS = async (reSend = false) => {
      if (reSend) { 
        tooglesResp.value.reSendMsm = true;
        setTimeout(() => {
          tooglesResp.value.reSendMsm = false;
        }, 120000)
      }
      if (valuePayOut.value && valuePayOut.value > 1) {
        loadBotton.value = true;
        const ind = accountSelected.value > -1 ? accountSelected.value : 0;
        accountDataSelected.value = listAccount.value[ind];
        
        try {
          const res = await RequestMessagePayDisbursement(userStore.getIdUser, userStore.getIdEnterprise );
          if (res && res.status == 'ok') {
            if (reSendMsm.value) {
              loadBotton.value = false;
              newDisbursement.value = false;
              token.value = res.bodyToken;
              phone.value = res.phone;
              mail.value = res.mail;
            }
          }
        } catch (error) {
          console.warn('err',error);
        }
      }
    }

    const postDisbursement = async () => {
      console.log('accountDataSelected',accountDataSelected.value);
      
      if (accountDataSelected.value) {
        loadBotton.value = true;
        const account = accountDataSelected.value;
        tooglesResp.value.errorCode = false;

        const body:IBankSendPays = {
          body: [
            {
              identificacionBeneficiario: account.identificacionBeneficiario,
              nombreDelBeneficiario: account.nombreDelBeneficiario,
              bancoCuentaDelBeneficiarioDestino: account.bancoCuentaDelBeneficiarioDestino,
              numeroCuentaDelBeneficiario: String(account.numeroCuentaDelBeneficiario),
              tipoDeTransaccion: account.tipoDecuenta,
              valorTransaccion: String(valuePayOut.value),
              tipoDeDocumentoDeIdentificacion: account.tipoDeDocumentoDeIdentificacion,
              oficinaDeEntrega: '',
            }
          ],
          code: codeConfirm.value,
          bodyToken: token.value
        }
        try {
          const resp = await PostDisbursementClient(body);
          if (resp && resp.status == 'ok') {
             const date = new Date();
            token.value = '';
            codeConfirm.value = '';
            textModal.value.valueTrans = 'Valor transferido';
            textModal.value.showBottoms = false;
            textModal.value.date = `${format(date, 'yyyy-MM-dd')} ${format(date, 'HH:mm a')}`;
            emit('disbursementPay');
          } else if (resp && resp.message == 'No Coinciden los codigos' ) {
            tooglesResp.value.errorCode = true;
            loadBotton.value = false;       
          }
        } catch (error) {
          emit('existError');
          console.log(error);
        }
      }
    }

    return {
      requestSubscription,
      formatCurrencyCo,
      postDisbursement,
      accountSelect,
      requestSMS,
      showDetails,
      dataFacturas,
      totalDeuda,

      accountDataSelected,
      newDisbursement,
      accountSelected,
      tipos_cuentas,
      listAccount,
      codeConfirm,
      valuePayOut,
      tooglesResp,
      loadBotton,
      textModal,
      reSendMsm,
      phone,
      total,
      mail
    }
  }
})
</script>

/* Accesos al Componente *****/
// src\components\recaudos\TheHeadInfo.vue
