<template>
  <section class="Cuentas de cliente">
    <div class="flex justify-between items-center">
      <div class="text-left">
        <h4 class="font-sansBold">{{ account.nombreDelBeneficiario }}</h4>
        <span class="text-[12px] font-sans relative top-[-6px]">
          {{ account.nombreBanco }} - 
          <span v-for="tipo in tipos_cuentas" :key="tipo.value">
            <span v-if="tipo.value == account.tipoDecuenta" >{{ tipo.label }}</span>
          </span> {{ account.numeroCuentaDelBeneficiario }}
        </span>
      </div>
      <div class="cursor-pointer" @click="selectFavorite(account.cuentaPorDefecto)">
        <fontAwesomeIcon v-if="load" class="animate-spin my-auto" icon="spinner" />
        <img v-if="account.cuentaPorDefecto && !load" src="../../assets/svgs/star.svg" alt="start icon" />
        <img v-if="!account.cuentaPorDefecto && !load" src="../../assets/svgs/starGray.svg" alt="start icon" />
      </div>
    </div>
  </section>

    <AppModalVue v-model="modal.show" 
      :header-icon="modal.icon" 
      width="430px" 
      :title="modal.title">

      <AppRequestFavoriteAccount 
        @closemodal="modal.show = false"
        @accountchanged="changeStateModal"
        :account="account" 
        :token="token"
        :mail="mail"
        :phone="phone">
      </AppRequestFavoriteAccount>

    </AppModalVue>


</template>

<script lang="ts">
  import { defineComponent, PropType, ref } from "vue";
  import { IRespListSusbcripts } from "@/models/types";
  import { tipos_cuentas } from "@/constants";
  import AppModalVue from '@/components/AppModal.vue';
  import AppRequestFavoriteAccount from '@/components/estadoDeCuenta/popUps/AppRequestFavoriteAccount.vue'
  import { RequestMessagePayDisbursement } from "@/services";
  import { useUsuarioStore } from "@/stores";
  import  { TypeIcon } from '@/models/types/index';

  interface IModal {
    title: string,
    icon: TypeIcon,
    show: boolean
  }

  export default defineComponent({
    components: {
      AppModalVue,
      AppRequestFavoriteAccount
    },
    props:{
      favorite: {
        type: Boolean,
        default: false,
      },
      account: {
        type: Object as PropType<IRespListSusbcripts>,
        required: true
      }
    },
    setup() {
      const token = ref<string>('');
      const phone = ref<string>('');
      const mail  = ref<string>('');
      const load  = ref<boolean>(false);
      const modal = ref<IModal>({
        title: 'Cuenta favorita',
        show: false,
        icon: ''
      })

      const userStore = useUsuarioStore();
      const idEnterprise = userStore.getIdEnterprise;
      const idUser = userStore.getIdUser;

      const selectFavorite = async (isFav: boolean) => {
        if (!isFav) {
          load.value = true;
          setTimeout(() => load.value = false , 3000 );
          const resp = await RequestMessagePayDisbursement(idUser,idEnterprise);
          if (resp?.status == 'ok') {
            token.value = resp.bodyToken;
            phone.value = resp.phone;
            mail.value = resp.mail;
            modal.value.show = true;
          }
        }
      }

      const changeStateModal = () => {
        modal.value.icon = 'ok'
        modal.value.title = 'Inscripción realizada'
      }

      return {
        selectFavorite,
        changeStateModal,
        tipos_cuentas,

        modal,
        token,
        mail,
        phone, 
        load
      }
    }
  })

</script>

/* Accesos al Componente *****/
/// → src\components\recaudos\TheHeadInfo.vue