<template>
  <section class="Movimientos de cuenta w-full">
    <div class="opcions flex items-center justify-between w-full p-6">
      <h3 class="text-lG font-sansBold"> Movimientos de cuenta</h3>

      <section class="flex">
      
        <div class="ml-4 my-auto">
          <p class="text-sm ml-20">{{ search.init * 10 - 9 }}-{{ search.init * 10 }} de {{ search.end * 10 }}</p>
        </div>

        <div class="rounded-[5px] mt-1 ml-4 border border-gray-400 ">
          <button 
            @click="prevPage"
            class="border-r py-[5px] px-4 border-gray-400">
            <fontAwesomeIcon  class="my-auto" icon="caret-left" />
          </button>

          <span class="mx-4 font-bold">{{ search.init }} - {{ search.end }}</span>

          <button 
            @click="nextPage"
            class="
            border-l py-[5px] 
            px-4 border-gray-400">
            <fontAwesomeIcon  class="my-auto" icon="caret-right" />
          </button>
        </div>

        <div @click="createCSV"
          class="bg-gray-btn hover:bg-gray-b-hov h-10 w-10 flex justify-center rounded-[5px] ml-4 cursor-pointer">
          <img width="16" height="16" src="../../assets/svgs/fileDownload.svg" alt="icon download file">
        </div>
      </section>
      
    </div>
  </section>

  <section class="ml-4 w-full table">
    <div class="cont w-[99%]">

      <div class="content-table w-full text-[15px]">
        <div class="head flex w-full py-1 font-bold border-gray-400 border-y-2">
          <div class="text-center my-auto w-[12.5%]">Número de <br>documento</div>
          <div class="text-center my-auto w-[12.5%]">Fecha</div>
          <div class="text-center my-auto w-[25%]">Descripción</div>
          <div class="text-center my-auto w-[12.5%]">Ingreso</div>
          <div class="text-center my-auto w-[12.5%]">Egreso</div>
          <div class="text-center my-auto w-[12.5%]">Saldo <br>factura</div>
          <div class="text-center my-auto w-[12.5%]">Saldo total</div>
          <div class="text-center my-auto w-[12.5%]"></div>
        </div>
        <div class="body_lista max-h-[32rem] overflow-auto scroll_sm">
          <div class="mr-3" v-for="item in States" :key="item.id_factura">
            <TheRowsTable :accountState="item" />
          </div>
        </div>

      </div>
    </div>

  </section>
</template>

<script lang="ts">
  import { computed, defineComponent, ref, onMounted, watch } from 'vue';
  import TheRowsTable from '@/components/estadoDeCuenta/TheRowsTable.vue';
  import { ESTADO_CUENTA } from '@/models/mocks/index';
  import { AccountState } from '@/models/types/index';
  import { LOCAL_STORAGE } from '@/constants/index';
  import { DownLoadCSV } from '@/services';
  import { format } from 'date-fns';


  export default defineComponent({
    components: {
      TheRowsTable
    },
    setup() {
      const date = format(new Date(), 'yyyy-MM-dd');
      const numberFav = localStorage.getItem(LOCAL_STORAGE.NUMBER_SHOW)
      
      const States = ref<AccountState[]>();
      const counterSelect = ref(numberFav ? Number(numberFav) : 10);
      const initVal = ref(1);
      
      const search = computed(() => {
        return {
          init: initVal.value,
          end: Math.ceil(ESTADO_CUENTA.length / counterSelect.value)
        } 
      })

      const nextPage = () => {
        const { init, end } = search.value;
        const count = Number(counterSelect.value);
        const initSlice = Number(initVal.value) * count;
        const endSlice = Number(initSlice) + count;
        
        if (init < end) {  
          States.value = [];
          States.value = ESTADO_CUENTA.slice(initSlice, endSlice); 
          initVal.value = initVal.value + 1;      
        }
      }

      const prevPage = () => {
        const { init } = search.value;
        const count = Number(counterSelect.value);
        const endSlice = Number(initVal.value) * count;
        const initSlice = Number(endSlice) - count;

        if (init > 1) {
          States.value = [];
          States.value = ESTADO_CUENTA.slice(initSlice - count, endSlice - count);          
          initVal.value = initVal.value - 1;          
        }
      }

      const createCSV = () => {
        const Headers = ['id Fectura','Número de documento','Descripción','Ingreso','Egreso','Saldo factura','Saldo total' ]
        const data = ESTADO_CUENTA;
        data.forEach(el => {
          delete el.opcionales;
        });

        DownLoadCSV(data, Headers, `movimientos-${date}.csv`);
      }

      onMounted(() => {
        const { init } = search.value;
        States.value = ESTADO_CUENTA.slice(init - 1, counterSelect.value);        
      })

      watch(() => counterSelect.value,(newVal) => {
        const start = search.value.init;
        States.value = ESTADO_CUENTA.slice(start - 1, newVal);
      })

      return { 
        counterSelect, 
        States,
        search,
        nextPage,
        prevPage,

        createCSV
      }
    },
  })
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue


