<template>
  <section class="w-full p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

    <AppTitleTwoVue>Resumen</AppTitleTwoVue>
    <!--  ↓↓↓ Inicio Recargas billetera ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <span>Recargas billetera</span>
      <span class="flex items-center">
        <span class="text-emerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
      </span>
    </div>
    <!-- ↑↑↑ Fin Recargas billetera    ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Dineros recaudados ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <a @click="modalStore.ToggleMoneyCollected('true')" href="#money_colleted">
        <span>Dineros recaudados</span>
      </a>
      <span class="flex items-center">
        <span class="text-emerald-350">
          {{ formatCurrencyCo( totalrecaudados ) }}
        </span>
        <a @click="modalStore.ToggleMoneyCollected('true')" href="#money_colleted">
          <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
        </a>
      </span>
    </div>
    <!-- ↑↑↑ Fin Dineros recaudados    ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Facturas        ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <a @click="modalStore.ToggleInvoices('true')" href="#invoices_card">
        <span>Facturas</span>
      </a>
      <span class="flex items-center">
        <span class="text-red-400">
          {{ formatCurrencyCo( totalFacturas ) }}
        </span>
        <a @click="modalStore.ToggleInvoices('true')" href="#invoices_card">
          <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
        </a>
      </span>
    </div>
    <!-- ↑↑↑ Fin Facturas          ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Indenizaciones     ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <span>Indemnizaciones</span>
      <span class="flex items-center">
        <span class="text-emerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
      </span>
    </div>
    <!-- ↑↑↑ Fin Indenizaciones       ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Anticipos          ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <span>Anticipos</span>
      <span class="flex items-center">
        <span class="text-emerald-350">
          {{ formatCurrencyCo(0) }}
        </span>
        <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
      </span>
    </div>
    <!-- ↑↑↑ Fin Anticipos            ↑↑↑ -->
    <!-- --------------------------------- -->
    <!-- ↓↓↓ Inicio Notas débito      ↓↓↓ -->
    <!-- ↑↑↑ Fin Notas débito         ↑↑↑ -->
    <!-- ----------------------------------->
    <!-- ↓↓↓ Inicio Notas crédito     ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <span>Notas crédito</span>
      <span class="flex items-center">
        <span class="text-emerald-350">
          {{ formatCurrencyCo(totalnotasCredito + totalnotasCreditoIa ) }}
        </span>
        <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
      </span>
    </div>
    <!-- ↑↑↑ Fin Notas crédito        ↑↑↑ -->
    <!-- ----------------------------------->
    <!-- ↓↓↓ Inicio Retiros           ↓↓↓ -->
    <div class="text-base flex justify-between items-center border border-gray-400 rounded-[3px] mt-2 py-2 px-3" >
      <span>Retiros </span>
      <span class="flex items-center">
        <span class="text-red-400">
          {{ formatCurrencyCo(0) }}
        </span>
        <img class="ml-4 h-4" src="../../assets/svgs/angleRight.svg" alt="arrow">
      </span>
    </div>
    <!-- ↑↑↑ Fin Retiros             ↑↑↑ -->

    <div class="resumen my-3">

      <p class="flex justify-between">
        <span class="text-base text-gray-600">Saldo anterior</span>
        <span :class="[ availableForPayout >= 0 ? 'text-emerald-350' : 'text-red-400']">
          {{ formatCurrencyCo(availableForPayout) }}..
        </span>
      </p>
      
      <p class="flex justify-between mt-3">
        <span class="text-base text-gray-800 font-bold">Saldo disponible</span>
        <span :class="[ availableForPayout >= 0 ? 'text-emerald-350' : 'text-red-400']">
          {{ formatCurrencyCo(availableForPayout) }}
        </span>
      </p>


      <hr class="w-full mt-2">

      <div class="w-full">
        <AppTitleThree class="mt-3">Recaudo estimado</AppTitleThree> 

        <div class="flex justify-between mt-3">
          <div class="flex">
            <img class="rotate-180" src="../../assets/svgs/arrowOrange.svg">
            <span class="ml-4 my-auto">Recaudos en proceso</span>
          </div>
          <span class="my-auto"
            :class="[ availableForPayout >= 0 ? 'text-emerald-350' : 'text-red-400']">
            {{ formatCurrencyCo( totalarecaudar + totalrecaudados ) }}
          </span>
        </div>
        <div class="flex justify-between mt-3">
          <div class="flex">
            <img src="../../assets/svgs/arrowOrange.svg">
            <span class="ml-4 my-auto">Costos estimados</span>
          </div>
          <span class="my-autov text-red-400">
            {{  formatCurrencyCo(totalFacturas) }}
          </span>
        </div>


        <div class="text-base mt-3 w-full flex items-center justify-between">
          <div class="flex items-center">
            <span class="text-gray-800 font-bold">Recaudo aproximado</span>
            <span class="ml-3 text-gray-400">
              <AppTooltipTextTitleVue 
                :text="infoTooltip.text"
                :title="infoTooltip.title">
              </AppTooltipTextTitleVue>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
            </span>
          </div>
          <span :class="[ availableForPayout - totalFacturas >= 0 ? 'text-emerald-350' : 'text-red-400']">
            {{ formatCurrencyCo( availableForPayout - totalFacturas) }}
          </span>
        </div>
      </div>
    </div>

  </section>
</template>

<script lang="ts">
  import { defineComponent, onMounted, computed, watch } from "vue";
  import { GetToken } from '@/services/http';
  import { useRecuadosStore, useFacturasStore, useStatesModalStore, 
          useNotasRecibosStore, useUsuarioStore } from '@/stores/';
  import { formatCurrencyCo } from "@/utils";
  import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
  import AppTitleTwoVue from '@/components/microComponents/AppTitleTwo.vue';
  import AppTooltipTextTitleVue from "../microComponents/AppTooltipTextTitle.vue";

  
  export default defineComponent({
    components: {
      AppTitleThree,
      AppTitleTwoVue,
      AppTooltipTextTitleVue,
    },
    setup() {
      // TODO borrar solo dev
      const token = () => GetToken();

      const recaudosStore = useRecuadosStore();
      const facturasStore = useFacturasStore();
      const notasStore    = useNotasRecibosStore();
      const userStore     = useUsuarioStore();
      const modalStore    = useStatesModalStore();

      const totalFacturas       = computed(() => facturasStore.getterTotales().subTotal);
      const totalnotasCredito   = computed(() => notasStore.getterTotales().totalNotasC);
      const totalnotasCreditoIa = computed(() => notasStore.getterTotales().totalNotasC_IA);
      const totalrecaudados     = computed(() => recaudosStore.total_liquidadas_billetera);
      const totalarecaudar      = computed(() => recaudosStore.total_arecaudar);
      const availableForPayout  = computed(() => userStore.getPayOut );
   
      watch(() => [totalnotasCredito.value, 
                  totalnotasCreditoIa.value, totalrecaudados.value ], 
                  ([newNotasC, newNotasC_IA, newNotasRecaudo] ) => {
        userStore.resetValuePayOut();
        userStore.sumPayOut(newNotasC);
        userStore.sumPayOut(newNotasC_IA);
        userStore.sumPayOut(newNotasRecaudo);
        // userStore.resPayOut(newFact)
      })

      const infoTooltip = {
        title: 'Recaudo aproximado',
        text: 'Ten en cuenta que las guías pueden devolverse o no ser entregadas a la fecha de pago del recaudo. Por esto es un valor aproximado, y podrá variar el día que veas reflejado tu dinero.'
      };

      
      onMounted(() => {
        token();                
      }) 

      return {
        formatCurrencyCo,
        modalStore,

        recaudosStore,

        totalFacturas,
        totalnotasCredito,
        totalnotasCreditoIa,
        totalrecaudados,
        totalarecaudar,
        availableForPayout,
        infoTooltip,
      }
    }

  });
</script>
