<template>

    <div class="flex mt-6">
      <section class="w-min-310 w-[27%]">
        <TheAccountSummary/>
      </section>

      <section class="tabla_estado w-[73%]">
        <TheAccountTable/>
      </section>
    </div>

    <div class="flex flex-col mt-3">
      <AppWalletRechargeVue />
      <AppMoneyCollected />
      <AppSaleOfProducts />
      <AppInvoicesCards />
      <AppCompensationCard />
      <AppAdvancesCard />
      <AppDebitNotes />
      <AppCreditNotes />
      <AppWithdrawals />
    </div>
    
    <div class="h-40 w-full">
    </div>

</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import TheAccountTable from '@/components/estadoDeCuenta/TheAccountTable.vue';
  import TheAccountSummary from '@/components/estadoDeCuenta/TheAccountSummary.vue';
  import AppWalletRechargeVue from "@/components/estadoDeCuenta/cardsFooter/AppWalletRecharge.vue";
  import AppMoneyCollected from "@/components/estadoDeCuenta/cardsFooter/AppMoneyCollected.vue";
  import AppSaleOfProducts from "@/components/estadoDeCuenta/cardsFooter/AppSaleOfProducts.vue";
  import AppInvoicesCards from '@/components/estadoDeCuenta/cardsFooter/AppInvoicesCards.vue';
  import AppCompensationCard from '@/components/estadoDeCuenta/cardsFooter/AppCompensationCard.vue';
  import AppAdvancesCard from '@/components/estadoDeCuenta/cardsFooter/AppAdvancesCard.vue';
  import AppDebitNotes from '@/components/estadoDeCuenta/cardsFooter/AppDebitNotes.vue';
  import AppCreditNotes from '@/components/estadoDeCuenta/cardsFooter/AppCreditNotes.vue';
  import AppWithdrawals from '@/components/estadoDeCuenta/cardsFooter/AppWithdrawals.vue';
  import { DateInputs, IResponseAllDataRecaudos } from '@/models/types/index';
  // import { GetRecuados, GetFacturas } from '@/services/';
  import { GetRecuados } from '@/services/';
  import { IRecaudosReq } from "@/models/types";
  import { format, subDays } from 'date-fns';
  import { useRecuadosStore } from '@/stores/recuados.store';
  import { useUsuarioStore } from "@/stores/usuario.store";

  export default defineComponent({
    components: {
      TheAccountTable,
      TheAccountSummary,
      AppWalletRechargeVue,
      AppMoneyCollected,
      AppInvoicesCards,
      AppSaleOfProducts,
      AppCompensationCard,
      AppAdvancesCard,
      AppDebitNotes,
      AppCreditNotes,
      AppWithdrawals
    },
    setup() {
      const recudosStore = useRecuadosStore();
      const userStore = useUsuarioStore();
      const idUser = userStore.getIdUser;
      
      const body:IRecaudosReq = {
        tipo : "consultarRecaudos",
        data: {
          idtransportador: "",
          dsconsec: "",
          dsvalorrecaudo: "",
          dsfechai: format(subDays(new Date(), 30), 'yyyy-MM-dd'),
          dsfechaf: format(new Date(), 'yyyy-MM-dd'),
          dsciudad: "",
          dsciudadd: "",
          idexp: idUser, // este campo esta intersectado en el service
          idcampobase: "",
          dsempresap: ""
        }
      }

      const reloadRecaudos = async (dates:DateInputs) => {
        body.data.dsfechai = dates.init;
        body.data.dsfechaf = dates.final;
        const data = await GetRecuados(body);        
        if (data) {
          mutationDataStore(data);
        }
      }


      const mutationDataStore = (dataStore: IResponseAllDataRecaudos) => {
        const { totales, liquidadas, arecaudar, devolucion,
                indemnizado,proceso_indemnizacion, recaudadas } = dataStore;

        recudosStore.setterValues('liquidadas').mutation(totales.liquidadas);
        recudosStore.setterValues('arecaudar').mutation(totales.arecaudar);
        recudosStore.setterValues('devoluciones').mutation(totales.devoluciones);
        recudosStore.setterValues('indenizaciones').mutation(totales.indemnizaciones);
        recudosStore.setterValues('procesoindem').mutation(totales.procesoindemnizacion);
        recudosStore.setterValues('recaudadas').mutation(totales.recaudadas);

        recudosStore.setterData('arecaudar').mutation(arecaudar);
        recudosStore.setterData('devoluciones').mutation(devolucion);
        recudosStore.setterData('indenizaciones').mutation(indemnizado);
        recudosStore.setterData('liquidadas').mutation(liquidadas);
        recudosStore.setterData('procesoindem').mutation(proceso_indemnizacion);
        recudosStore.setterData('recaudadas').mutation(recaudadas);
      }

      return {
        reloadRecaudos
      }
    }
    
  });
</script>

<style lang="css">
  .w-min-350 {
    min-width: 350px;
  }
</style>

/* Accesos al Componente *****/
// src\views\ViewAccountStatus.vue