<template>

  <div class="flex">

    <section class="border py-3 border-gray-400 rounded-[5px] text-center ">
      <div class="flex h-full">
        <div class="total font-serifBold text-left my-auto ml-20 ">
          <AppTitleTwo>Dinero disponible en</AppTitleTwo>
          <AppTitleTwo class="mt-2">tu billetera</AppTitleTwo>
          <p class="text-lG text-gray-600">{{ formatCurrencyCo(availableForPayout) }}</p>
          <p class="text-xs font-sans font-normal text-gray-600">Actualizado el {{ dateUpdate }}</p>
        </div>
        <div class=" mx-14 my-auto h-[50%] border-r border-gray-400 "></div>
        <div class="info text-left m-auto text-gray-800 text-[16px] font-sans mr-20">

          <p class="font-bold">Este dinero corresponde a</p>
          <p class="font-normal ml-1"> 1. Tus recaudos de envíos contraentrega</p>
          <p class="font-normal ml-1"> 2. Recaudos por pago electrónico</p>
          <p class="font-normal ml-1"> 3. Reclamaciones efectivas.</p>

          <a href="https://www.google.com/?hl=es" class="ml-4 font-bold underline underline-offset-1">
            Ver más
          </a>
          <div class="btns flex gap-6 mt-2">
            <AppButton color="primary" @click="modal.showDisbursement = true">Solicitar desembolso</AppButton>
          </div>
        </div>
      </div>
    </section>

    <section class="ml-6 py-2 border border-gray-400 rounded-[5px] text-center ">
      <div class="text-[12px] h-[130px] w-96 ">
        <div class="contt flex px-4 mb-2 justify-between items-center">
          <div class="font-bold text-base mr-4">Cuentas inscritas</div>
          <div class="text-base">
            <AppButton color="none" @click="modal.show = true">Inscribir cuenta</AppButton>
          </div>
        </div>
        <div class="cuentas_list h-[100px] px-4 overflow-auto py-2 scroll_sm">
          <div class="account" v-for="account in listAccount" :key="account.numeroCuentaDelBeneficiario">
            <AppRegisteredAccounst :account="account" />
          </div>
        </div>
      </div>
    </section>

    <AppModalVue v-model="modal.show" width="650px" title="Inscribir cuenta">
      <AppBankAccountRegisterVue @inscripted="accountSuspcrited"></AppBankAccountRegisterVue>
    </AppModalVue>

    <AppModalVue v-model="modal.show2x100" width="310px" title="¡Importante!">
      <AppAlert2x100Vue></AppAlert2x100Vue>
    </AppModalVue>

    <AppModalVue v-model="modal.showDisbursement" :header-icon="modal.icon" width="430px" :title="modal.title">
      <AppRequestDisbursementVue @subscribe-account="closeDisbursementShowRegister"
        @disbursement-pay="disbursementConfirmed" @exist-error="modal.showError = true">
      </AppRequestDisbursementVue>
    </AppModalVue>

    <AppModalVue v-model="modal.showError" header-icon="error" width="430px" title="Algo salió mal">
      <p class="text-center mt-6 text-sm">Vuelve a intentarlo más tarde</p>
    </AppModalVue>

    <!-- <AppModalVue v-model="modal.showKeepMoney" 
      width="630px" title="Nuevo pago" >
      <AppMethodsPayVue></AppMethodsPayVue>
    </AppModalVue> -->

    
    <AppModalVue v-model="modal.showPayWompy" 
      width="460px" 
      :title="modal.title"
      :header-icon="modal.icon" >
      <p class="text-center mt-6 text-sm">{{ modal.text }}</p>
    </AppModalVue>

  </div>

</template>

<script lang="ts">
import { defineComponent, ref, computed, onMounted } from 'vue';
import { useUsuarioStore } from '@/stores/usuario.store';
import AppButton from '@/components/microComponents/AppButton.vue';
import AppRegisteredAccounst from '@/components/estadoDeCuenta/AppRegisteredAccounts.vue';
import AppTitleTwo from '@/components/microComponents/AppTitleTwo.vue';
import AppModalVue from '@/components/AppModal.vue';
import AppBankAccountRegisterVue from './popUps/AppBankAccountRegister.vue';
import AppAlert2x100Vue from './popUps/AppAlert2x100.vue';
import AppRequestDisbursementVue from './popUps/AppRequestDisbursement.vue';
import { IArrayMultiSelect, IConfirmAccount, IExportData, IRespListSusbcripts } from '@/models/types';
import { show2X100, formatCurrencyCo } from '@/utils';
import { format } from 'date-fns';
import { useRoute, useRouter } from 'vue-router';
import { validatePayWompi } from '@/services/http';
import { ROUTES } from "@/constants";


type Icon = "ok" | "error" | "";
interface IModal {
  icon: Icon,
  show: boolean,
  title: string,
  text: string,
  showConfirm: boolean,
  showError: boolean,
  showDisbursement: boolean,
  showKeepMoney: boolean,
  showConfrmDisbursement: boolean,
  show2x100: boolean,
  showPayWompy: boolean,
}

export default defineComponent({
  components: {
    AppButton,
    AppRegisteredAccounst,
    AppTitleTwo,
    AppModalVue,
    AppBankAccountRegisterVue,
    AppRequestDisbursementVue,
    AppAlert2x100Vue,
  },
  setup() {
    const userStore = useUsuarioStore();
    const dataAccountCreated = ref<IConfirmAccount>();
    const bancos = ref<IArrayMultiSelect[]>([]);
    const listAccount = computed<IRespListSusbcripts[]>(() => userStore.getAccounts);
    const availableForPayout = computed<number>(() => userStore.getPayOut);
    const dateUpdate = ref<string>(format(new Date(), 'dd/MM/yyyy'));
    const route = useRoute();
    const router = useRouter();

    const modal = ref<IModal>({
      icon: '',
      show: false,
      text: '',
      title: 'Nuevo desembolso',
      showError: false,
      showConfirm: false,
      showKeepMoney: true,
      showDisbursement: false,
      showConfrmDisbursement: false,
      show2x100: show2X100(), // se usa para mostrar la alerta del 2x1000
      showPayWompy: false
    })

    const accountSuspcrited = (allData: IExportData) => {
      dataAccountCreated.value = allData.data;
      bancos.value = allData.bancos
      modal.value.show = false;
      modal.value.showConfirm = true;
    }

    const closeDisbursementShowRegister = () => {
      modal.value.showDisbursement = false;
      modal.value.show = true;
    }

    const disbursementConfirmed = () => {
      modal.value.icon = 'ok'
      modal.value.title = 'Transferencia exitosa';
    }

    const validateResultWompiPay = async () => {
      const idWompi = String(route.query.id);

      if (!idWompi || idWompi != 'undefined') {

        const res = await validatePayWompi(idWompi)
        if (res && res.data[0].status) {
          const statusWompi = res.data[0].status;
          if (res && res.status == 'ok' && statusWompi == "APPROVED") {
            modal.value.icon = 'ok';
            modal.value.text = 'El pago se realizo con exito!';
            modal.value.showPayWompy = true;
            modal.value.title = 'Pago Aprovado';
          } else {
            if (statusWompi == 'DECLINED') {
              modal.value.icon = 'error';
              modal.value.text = 'Intentalo más tarde';
              modal.value.showPayWompy = true;
              modal.value.title = 'La transferencia fue declinada';
            } else {
              modal.value.icon = 'error';
              modal.value.text = 'Intentalo más tarde';
              modal.value.showPayWompy = true;
              modal.value.title = 'Error en la transferencia';
            }
          }
        }
        router.push(ROUTES.ESTADO_CUENTA.PATH);
      }
    }


    onMounted(() => {
      validateResultWompiPay()
    })

    return {
      closeDisbursementShowRegister,
      disbursementConfirmed,
      accountSuspcrited,
      formatCurrencyCo,

      availableForPayout,
      dataAccountCreated,
      listAccount,
      bancos,
      modal,
      dateUpdate

    }
  }

})
</script>



/* Accesos al Componente *****/
// src\views\ViewAccountStatus.vue