<template>
  <div class="rounded-[10px] w-full border mt-3 border-gray-400 py-2 px-1">
    <div class="flex w-full" v-if="accountState">
      <div class="w-[12.5%] truncate text-center">{{ accountState.id_factura }}</div>
      <div class="w-[12.5%] truncate text-center">{{ accountState.fecha }}</div>
      <div class="w-[25%] text-center truncate px-1">{{ accountState.descripcion }}</div>
      <div class="w-[12.5%] truncate text-center">{{ formatCurrencyCo(accountState.ingreso) }}</div>
      <div class="w-[12.5%] truncate text-center">{{ formatCurrencyCo(accountState.egreso) }}</div>
      <div class="w-[12.5%] truncate text-center">{{ formatCurrencyCo(accountState.saldo_factura) }}</div>
      <div class="w-[12.5%] truncate text-center" 
        :class="[accountState.saldo_total && accountState.saldo_total < 0 ? 'text-red-400' : 'text-emerald-350']" >
        {{ accountState.saldo_total || formatCurrencyCo(52201) }}
      </div>
      <div class="w-[12.5%] truncate items-center justify-center flex gap-2">
        <span class="cursor-pointer">
          <img src="../../assets/svgs/eye.svg" alt="icon arrow" />
        </span>
        <span class="cursor-pointer" @click="showDetail = !showDetail"  :class="[showDetail ? 'rotate-180' : '']">
          <img src="../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
        </span>
      </div>
    </div>
    <div v-if="showDetail" class="opcionales w-full" >
      <hr class="border-t-2 mt-2" />
      <div class="flex w-full pt-[10px]" v-for="item in accountState?.opcionales" :key="item.ingreso">
        <div class="w-[12.5%] text-center"></div>
        <div class="w-[12.5%] text-center">{{ item.fecha }}</div>
        <div class="w-[25%] text-center truncate">{{ item.descripcion }}</div>
        <div class="w-[12.5%] text-center">{{ formatCurrencyCo(item.ingreso) }}</div>
        <div class="w-[12.5%] text-center">{{ formatCurrencyCo(item.egreso) }}</div>
        <div class="w-[12.5%] text-center">{{ formatCurrencyCo(item.saldo_factura) }}</div>
        <div class="w-[12.5%] text-center">{{ item.saldo_total || formatCurrencyCo(1200) }}</div>
        <div class="w-[12.5%] items-center justify-center flex gap-2">
          <span>
            <img src="../../assets/svgs/eye.svg" alt="icon arrow" />
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { AccountState } from '@/models/types/index';
import { formatCurrencyCo } from '@/utils';

 
export default defineComponent({
  props: {
    accountState: {
      type: Object as () => AccountState
    }
  },
  setup() {
    const showDetail = ref<boolean>(false);
    
    return {
      showDetail,
      formatCurrencyCo
    }

  }
})
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheAccountTable.vue
