
//  componente de estructura 

<template>
  <div class="w-full flex justify-between items-center">
    <AppTitleIconPrincipalVue>Estado de cuenta</AppTitleIconPrincipalVue>

    <div class="dates flex items-center">
      <AppInputDateVue type="date" v-model="dateInit" :max="dateFinal" @change="eventEmiter" />
      <span class="separate">-</span>
      <AppInputDateVue type="date" v-model="dateFinal" :min="dateInit" @change="eventEmiter" />
    </div>
  </div>

  <AppModalVue v-model="modal.show" :title="modal.title" :headerIcon="modal.type" width="430px">
    <div class="text-center text-[14px] mt-6 mb-2">
      {{ modal.message }}
    </div>
  </AppModalVue>

</template>

<script lang="ts">
import { defineComponent, ref, onMounted, } from "vue";
import AppTitleIconPrincipalVue from "@/components/microComponents/AppTitleIconPrincipal.vue";
import AppInputDateVue from "@/components/microComponents/AppInputDate.vue";
import { format, subDays } from "date-fns";
import { DateInputs, IFacturasReq, IRecaudosReq, IResponseAllDataRecaudos } from "@/models/types";
import { useFacturasStore } from "@/stores/facturas.store";
import { useRecuadosStore } from "@/stores/recuados.store";
import { useUsuarioStore } from "@/stores/usuario.store";
import { useNotasRecibosStore } from "@/stores/notasRecibos.store";
import { GetRecuados, GetFacturas, GetRecibosYnotas, GetGastosAprox } from '@/services/';
import AppModalVue from "@/components/AppModal.vue";
import { IDataModal } from '@/models/types/index';
import { orderAny } from "@/utils";

export default defineComponent({
  components: {
    AppTitleIconPrincipalVue,
    AppInputDateVue,
    AppModalVue
  },
  emits: ["searchDate"],
  setup() {
    const recudosStore = useRecuadosStore();
    const userStore = useUsuarioStore();
    const facturasStore = useFacturasStore();
    const notasStore = useNotasRecibosStore();

    const toggleModal = ref(true)
    const dateInit = ref<string>(format(subDays(new Date(), 30), "yyyy-MM-dd"));
    const dateFinal = ref<string>(format(new Date(), "yyyy-MM-dd"));
    const idUser = userStore.getIdEnterprise;

    const modal = ref<IDataModal>({
      type: '',
      show: false,
      title: 'no title',
      message: ''
    })

    const body: IRecaudosReq = {
      tipo: "consultarRecaudos",
      data: {
        idtransportador: "",
        dsconsec: "",
        dsvalorrecaudo: "",
        dsfechai: dateInit.value,
        dsfechaf: dateFinal.value,
        dsciudad: "",
        dsciudadd: "",
        idexp: idUser,
        idcampobase: "",
        dsempresap: "",
      },
    };



    const reloadRecaudos = async (dates: DateInputs) => {
      body.data.dsfechai = dates.init;
      body.data.dsfechaf = dates.final;
      const data = await GetRecuados(body);
      if (data) {
        mutationDataStore(data);
      }
    };

    const GetNotasRecibos = async () => {
      const bodyFac: IFacturasReq = {
        tipo: "notasRecibos",
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }
      }
      const data = await GetRecibosYnotas(bodyFac);
      if (data) {
        notasStore.setterTotales(data.totales);
        notasStore.setterDataRecibos({
          recibos: data.recibos,
          recibos_admon: data.recibos_admon,
          notas_credito: data.notas_credito,
          notas_d_credito: data.notas_d_credito,
          notas_c_ia: data.notas_c_ia,
        });
      }
    };

    const GetRecaudos = async () => {
      const data = await GetRecuados(body);
      if (data) {
        mutationDataStore(data);
      }
    };

    const GetInvoices = async () => {
      const bodyFac: IFacturasReq = {
        tipo: "facturas",
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }

      }
      const data = await GetFacturas(bodyFac);
      if (data && data.status == 'ok') {
        facturasStore.setterTotales(data.totales);
        facturasStore.setterFacturas(data.data)
      }
    }

    const GetCostos = async () => {
      const bodyFac: IFacturasReq = {
        tipo: "costosAprox",
        data: {
          dsfechai: body.data.dsfechai,
          dsfechaf: body.data.dsfechaf,
          idexp: body.data.idexp
        }
      }
      const data = await GetGastosAprox(bodyFac);
      if (data && data.status == 'ok') {
        notasStore.setterCostosTotales(data.data);
      }
    }



    const mutationDataStore = function (dataStore: IResponseAllDataRecaudos): void {
      const {
        totales, liquidadas, arecaudar, devolucion, indemnizado, proceso_indemnizacion, recaudadas,
      } = dataStore;

      orderAny(liquidadas, 'dsfecha', 'Desc');

      recudosStore.setterValues("liquidadas").mutation(totales.liquidadas);
      recudosStore.setterValues("liquidadas_billetera").mutation(totales.liquidadas_billetera);
      recudosStore.setterValues("arecaudar").mutation(totales.arecaudar);
      recudosStore.setterValues("devoluciones").mutation(totales.devoluciones);
      recudosStore
        .setterValues("indenizaciones")
        .mutation(totales.indemnizaciones);
      recudosStore
        .setterValues("procesoindem")
        .mutation(totales.procesoindemnizacion);
      recudosStore.setterValues("recaudadas").mutation(totales.recaudadas);

      recudosStore.setterData("arecaudar").mutation(arecaudar);
      recudosStore.setterData("devoluciones").mutation(devolucion);
      recudosStore.setterData("indenizaciones").mutation(indemnizado);
      recudosStore.setterData("liquidadas").mutation(liquidadas);
      recudosStore.setterData("procesoindem").mutation(proceso_indemnizacion);
      recudosStore.setterData("recaudadas").mutation(recaudadas);
    };

    const eventEmiter = () => {
      modal.value.show = false;
      if ((dateInit.value > dateFinal.value) || (dateFinal.value < dateInit.value)) {
        return modal.value = {
          show: true,
          title: 'Error',
          message: 'No se puede cruzar las fechas!',
          type: 'error'
        }
      }

      const dates: DateInputs = {
        final: dateFinal.value,
        init: dateInit.value,
      };
      reloadRecaudos(dates);
      GetInvoices();
      GetNotasRecibos();
      GetCostos()
      // emit("searchDate", dates);
    };

    onMounted(() => {
      Promise.all([GetRecaudos(), GetInvoices(), GetNotasRecibos(), GetCostos()])
    })

    return {
      dateInit,
      dateFinal,
      eventEmiter,
      toggleModal,
      modal
    };
  },
});
</script>

<style scoped>
.separate {
  margin: 0 5px;
}
</style>

/* Accesos al Componente *****/
// src\views\ViewAccountStatus.vue
