<template>
  <div class="">
    <ResumenComisiones> </ResumenComisiones>
    <SearchComisiones> </SearchComisiones>
    <div class="my-[16px]">
        <div
          class="
            flex
            items-center
            justify-around
            border-t-2 border-b-2
            my-[10px]
          "
        >
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Fecha
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Cliente
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Referidos activos
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Facturado por el referido
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Total a comisionar
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Estado
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
          <div class="flex p-[10px] items-center">
            <h2 class="text-[16px] font-sansBold text-gray-800 mx-[10px]">
              Aciones
            </h2>
            <svg
              class="cursor-pointer"
              width="10"
              height="14"
              viewBox="0 0 10 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.28125 8C0.59375 8 0.25 8.8125 0.75 9.28125L4.46875 13C4.75 13.3125 5.21875 13.3125 5.53125 13L9.25 9.28125C9.71875 8.8125 9.375 8 8.71875 8H1.28125ZM9.25 4.71875L5.53125 1C5.21875 0.71875 4.75 0.71875 4.46875 1L0.75 4.71875C0.25 5.21875 0.59375 6 1.28125 6H8.71875C9.375 6 9.71875 5.21875 9.25 4.71875Z"
                fill="#42484E"
              />
            </svg>
          </div>
        </div>
      </div>
    <CargaDocumento></CargaDocumento>
    <PendientePago></PendientePago>
    <CargaIncorrecta></CargaIncorrecta>
    <PagadaAve></PagadaAve>
    
  </div>
</template>


<script lang="ts">
import ResumenComisiones from "@/components/comisionesAve/ResumenComisiones.vue";
import SearchComisiones from "@/components/comisionesAve/SearchComisiones.vue";
import CargaDocumento from "@/components/comisionesAve/Tables/CargaDocumento.vue";
import PendientePago from "@/components/comisionesAve/Tables/PendientePago.vue";
import CargaIncorrecta from "@/components/comisionesAve/Tables/CargaIncorrecta.vue";
import PagadaAve from "@/components/comisionesAve/Tables/PagadaAve.vue";





import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  components: {
    CargaDocumento,
    PendientePago,
    CargaIncorrecta,
    PagadaAve,
    ResumenComisiones,
    SearchComisiones
   
  },
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
.bodyTable:not(.active) {
  display: none;
}

</style>






