<template>
  <div class=" flex rounded-[20px] items-center justify-between">
    <div class="border p-[10px] rounded-[20px] w-[20%] h-[240px]">
      <div class="flex items-center justify-start">
        <h2 class="font-sansBold text-[18px] text-gray-800 mr-[10px]">
          Resumen
        </h2>
        <div
          class="flex border items-center p-[8px] rounded-[20px] cursor-pointer"
        >
          <svg
            class="mr-[10px]"
            width="13"
            height="15"
            viewBox="0 0 13 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.625 10.5938V1.40625C12.625 1.05078 12.3242 0.75 11.9688 0.75H3C1.55078 0.75 0.375 1.92578 0.375 3.375V12.125C0.375 13.5742 1.55078 14.75 3 14.75H11.9688C12.3242 14.75 12.625 14.4766 12.625 14.0938V13.6562C12.625 13.4648 12.5156 13.2734 12.3789 13.1641C12.2422 12.7266 12.2422 11.5234 12.3789 11.1133C12.5156 11.0039 12.625 10.8125 12.625 10.5938ZM3.875 4.41406C3.875 4.33203 3.92969 4.25 4.03906 4.25H9.83594C9.91797 4.25 10 4.33203 10 4.41406V4.96094C10 5.07031 9.91797 5.125 9.83594 5.125H4.03906C3.92969 5.125 3.875 5.07031 3.875 4.96094V4.41406ZM3.875 6.16406C3.875 6.08203 3.92969 6 4.03906 6H9.83594C9.91797 6 10 6.08203 10 6.16406V6.71094C10 6.82031 9.91797 6.875 9.83594 6.875H4.03906C3.92969 6.875 3.875 6.82031 3.875 6.71094V6.16406ZM10.793 13H3C2.50781 13 2.125 12.6172 2.125 12.125C2.125 11.6602 2.50781 11.25 3 11.25H10.793C10.7383 11.7422 10.7383 12.5352 10.793 13Z"
              fill="#8A8A8A"
            />
          </svg>

          <h2 class="text-[14px] font-sansBold text-gray-600">Condiciones</h2>
        </div>
      </div>
      <div
        class="flex justify-between mt-[16px] items-start  "
      >
        <div class="w-[100%]">
          <h2 class="font-sans text-[14px] text-gray-600">Meta equipo</h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">$30.000.000</h2>
        </div>
      </div>
      <div
        class="flex justify-between mt-[16px] items-center  pb-[16px]"
      >
        <div class="w-[100%]">
          <h2 class="font-sans text-[14px] text-gray-600">Total facturado</h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">$10.000.000</h2>
        </div>
        <div class="bg-emerald-1000 rounded-[20px] w-[100px] flex justify-center">
            <h2 class="font-sans font-[14px] p-[10px] ">
                60%
            </h2>
        </div>

      </div>
      
    </div>

     <div class="border p-[10px] rounded-[20px] w-[50%]  h-[240px]">
      <div class=" ">
        <h2 class="font-sansBold text-[18px] text-gray-800">
            Total comisión individual por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div style="width:25%"  class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Ene</div>
                </div>
                <div style="width:25%"  class="sub_barra b1">
                  <div class="tag_g"></div>
                  
                </div>
                 <div style="width:25%"  class="sub_barra b1">
                  <div class="tag_g"></div>
                  
                </div>
                
                
                
                
              </div>
              <div class="barra">
                <div style="width:25%"  class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Feb</div>
                </div>
                <div style="width:25%"  class="sub_barra b2">
                  <div class="tag_g"></div>
                  
                </div>
                <div style="width:25%"  class="sub_barra b2">
                  <div class="tag_g"></div>
                  
                </div>
              </div>
              <div class="barra">
                <div style="width:25%"  class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Mar</div>
                </div>
                <div style="width:25%"  class="sub_barra b3">
                  <div class="tag_g"></div>
                
                </div>
                <div style="width:25%"  class="sub_barra b3">
                  <div class="tag_g"></div>
                 
                </div>
              </div>
              <div class="barra">
                <div style="width:25%"  class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Abri</div>
                </div>
                <div style="width:25%"  class="sub_barra b4">
                  <div class="tag_g"></div>
                  
                </div>
                <div style="width:25%"  class="sub_barra b4">
                  <div class="tag_g"></div>
                 
                </div>
               
              </div>
              <div class="barra">
                <div style="width:25%"  class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">May</div>
                </div>
                <div style="width:25%"  class="sub_barra b5">
                  <div class="tag_g"></div>
                  
                </div>
                <div style="width:25%"  class="sub_barra b5">
                  <div class="tag_g"></div>
                  
                </div>
              </div>
              <div class="barra">
                <div style="width:25%"  class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 text-gray-600 font-sans font-w-400 text-[12px]">Jun</div>
                </div>
                <div style="width:25%"  class="sub_barra b6">
                  <div class="tag_g"></div>
                 
                </div>
                <div style="width:25%"  class="sub_barra b6">
                  <div class="tag_g"></div>
                 
                </div>
                
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="pb-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$500 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$400 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$300 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$200 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$100 mil</div>
                <div class="pt-[4px] text-gray-600 font-sans font-w-400 text-[12px]">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
       
      </div>
      
      
    </div>

      <div class="border p-[10px] rounded-[20px] w-[28%]  h-[240px]">
      <div class=" ">
        <h2 class="font-sansBold text-[18px] text-gray-800">
        Total comisión equipo por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Ene</div>
                </div>
              </div>
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Feb</div>
                </div>
              </div>
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Mar</div>
                </div>
              </div>
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Abri</div>
                </div>
              </div>
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">May</div>
                </div>
              </div>
              <div class="barra">
                <div style="width:80%!important;"  class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 text-gray-600 font-sans font-w-400 text-[12px]">Jun</div>
                </div>
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="pb-[4px] text-gray-600 font-sans font-w-400 text-[12px]">30</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">25</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">20</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">15</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">10</div>
                <div class="pt-[4px] text-gray-600 font-sans font-w-400 text-[12px]">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
       
      </div>
      
      
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}

.board{
    margin: auto;
    width: 100%;
    height: 250px;
    background-color: #e2e2e2;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.titulo_grafica{
    width: 100%;
    height: 10%;
}
.titulo_grafica>h3{
    padding: 0;
    margin: 0px;
    text-align: center;
    
}
.sub_board{
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-top: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.sep_board{
    width: 100%;
    height: 10%;
}
.cont_board{
    width: 100%;
    height: 80%;
}
.graf_board{
    width: 85%;
    height: 140px;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(206, 0, 0, 0) 100%, 
    rgba(0,0,0,0) 95%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%), rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%, 
    rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barra{
    width:100%;
    height: 100%;
    justify-content: space-between;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra{
    width: 40%;
    height: 80%;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
    
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 5px 5px 0 0;
}
.tag_g{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 22px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}
.tag_leyenda{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.tag_board{
  
    width: 15%;
  
    
}
.sub_tag_board{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.sub_tag_board>div{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}
.b1{ height: 60%}
.b2{ height: 42%}
.b3{ height: 70%}
.b4{ height: 37%}
.b5{ height: 33%}
.b6{ height: 2%}
</style>






