<template>
  <div class="flex justify-between my-[24px]">
  
      <div class="flex items-center  bg-gray-100 rounded-[20px]">
        <svg
          class="mx-[10px]"
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M15.875 14.6562L12.0938 10.875C12 10.8125 11.9062 10.75 11.8125 10.75H11.4062C12.375 9.625 13 8.125 13 6.5C13 2.9375 10.0625 0 6.5 0C2.90625 0 0 2.9375 0 6.5C0 10.0938 2.90625 13 6.5 13C8.125 13 9.59375 12.4062 10.75 11.4375V11.8438C10.75 11.9375 10.7812 12.0312 10.8438 12.125L14.625 15.9062C14.7812 16.0625 15.0312 16.0625 15.1562 15.9062L15.875 15.1875C16.0312 15.0625 16.0312 14.8125 15.875 14.6562ZM6.5 11.5C3.71875 11.5 1.5 9.28125 1.5 6.5C1.5 3.75 3.71875 1.5 6.5 1.5C9.25 1.5 11.5 3.75 11.5 6.5C11.5 9.28125 9.25 11.5 6.5 11.5Z"
            fill="#C2C2C2"
          />
        </svg>

        <input
          placeholder="Buscar"
          class="
            sas
            text-[14px]
            rounded-[20px]
            w-[100%]
            p-[10px]
            outline-none
            bg-gray-100
            text-gray-400
            font-sans
          "
          name="select"
        />
      </div>
      <div class="flex justify-end items-center w-[100%]">
        <h2 class="text-gray-600 font-sans text-[16px] mx-[4px]">
          1- 10 de 500
        </h2>
        <svg
          class="cursor-cursor-pointer"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.796875 5.125C0.585937 5.33594 0.585937 5.6875 0.796875 5.89844L5.34375 10.4688C5.57812 10.6797 5.92969 10.6797 6.14062 10.4688L6.67969 9.92969C6.89062 9.71875 6.89062 9.36719 6.67969 9.13281L3.07031 5.5L6.67969 1.89062C6.89062 1.65625 6.89062 1.30469 6.67969 1.09375L6.14062 0.554688C5.92969 0.34375 5.57812 0.34375 5.34375 0.554688L0.796875 5.125Z"
            fill="#8A8A8A"
          />
        </svg>
        <h2 class="text-gray-600 font-sans text-[16px] mx-[5px]">1 - 5</h2>
        <svg
          class="cursor-cursor-pointer"
          width="7"
          height="11"
          viewBox="0 0 7 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.67969 5.89844C6.89062 5.6875 6.89062 5.33594 6.67969 5.125L2.13281 0.554688C1.89844 0.34375 1.54687 0.34375 1.33594 0.554688L0.796875 1.09375C0.585937 1.30469 0.585937 1.65625 0.796875 1.89062L4.40625 5.5L0.796875 9.13281C0.585937 9.36719 0.585937 9.71875 0.796875 9.92969L1.33594 10.4688C1.54687 10.6797 1.89844 10.6797 2.13281 10.4688L6.67969 5.89844Z"
            fill="#8A8A8A"
          />
        </svg>
        <div
          class="
            bg-gray-400
            hover:bg-gray-b-hov
            p-[10px]
            rounded-[20px]
            mx-[20px]
            cursor-cursor-pointer
          "
        >
          <svg
            width="15"
            height="19"
            viewBox="0 0 15 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.56934 5.47656V0.695312H1.53809C1.0459 0.695312 0.694336 1.08203 0.694336 1.53906V17.8516C0.694336 18.3438 1.0459 18.6953 1.53809 18.6953H13.3506C13.8076 18.6953 14.1943 18.3438 14.1943 17.8516V6.32031H9.41309C8.9209 6.32031 8.56934 5.96875 8.56934 5.47656ZM11.2412 12.9297L7.86621 16.3047C7.62012 16.5156 7.2334 16.5156 6.9873 16.3047L3.6123 12.9297C3.26074 12.5781 3.50684 11.9453 3.99902 11.9453H6.31934V9.13281C6.31934 8.85156 6.56543 8.57031 6.88184 8.57031H8.00684C8.28809 8.57031 8.56934 8.85156 8.56934 9.13281V11.9453H10.8545C11.3467 11.9453 11.5928 12.5781 11.2412 12.9297ZM13.9482 4.38672L10.5029 0.941406C10.3271 0.800781 10.1162 0.695312 9.90527 0.695312H9.69434V5.19531H14.1943V4.98438C14.1943 4.77344 14.0889 4.5625 13.9482 4.38672Z"
              fill="white"
            />
          </svg>
        </div>
      </div>
    
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>

