<template>
  <div class="flex justify-between">
    <div class="flex pt-5 pb-5 items-center">
      <div class="mx-3.5">
        <div
          class="
            border-1 border-radius-5
            
           
          "
        >
          <svg
            width="40"
            height="28"
            viewBox="0 0 40 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 12C8.1875 12 10 10.25 10 8C10 5.8125 8.1875 4 6 4C3.75 4 2 5.8125 2 8C2 10.25 3.75 12 6 12ZM20 14C23.8125 14 27 10.875 27 7C27 3.1875 23.8125 0 20 0C16.125 0 13 3.1875 13 7V7.0625C13 10.875 16.125 14.0625 19.9375 14.0625C19.9375 14.0625 19.9375 14 20 14ZM22 20C22 18.8125 22.1875 17.6875 22.625 16.625C21.75 16.875 20.875 17 20 17C18.4375 17 17 16.625 15.6875 16H15.1875C11.1875 16.0625 8 19.25 8 23.25V25C8 26.6875 9.3125 28 11 28H26.0625C23.5625 26.1875 22 23.3125 22 20ZM10.8125 15.1875C10.0625 14.5 9.0625 14 8 14H4C1.75 14.0625 0 15.8125 0 18V20C0 21.125 0.875 22 2 22H6.0625C6.5 19.0625 8.25 16.5625 10.8125 15.1875ZM32 12C27.5625 12 24 15.625 24 20C24 24.4375 27.5625 28 32 28C36.375 28 40 24.4375 40 20C40 15.625 36.375 12 32 12ZM36 21C36 21.1875 35.8125 21.375 35.625 21.375H33.3125V23.6875C33.3125 23.875 33.125 24 33 24H31C30.8125 24 30.625 23.875 30.625 23.6875V21.375H28.3125C28.125 21.375 28 21.1875 28 21V19C28 18.875 28.125 18.6875 28.3125 18.6875H30.625V16.375C30.625 16.1875 30.8125 16 31 16H33C33.125 16 33.3125 16.1875 33.3125 16.375V18.6875H35.625C35.8125 18.6875 36 18.875 36 19V21Z"
              fill="#42484E"
            />
          </svg>
        </div>
      </div>
      <div class="">
        <h2
          class="
            font-poppins
            text-[24px]
            font-serifBold
            text-gray-800
            font-extrabold
          "
        >
          Comisiones Aveonline
        </h2>
      </div>
      
    </div>
    <div class="flex">
        <div class="flex items-center">
                <input
                  class="
                    outline-none
                    mx-[10px]
                    font-sans
                    text-[14px] text-gray-400
                    border
                    rounded-[20px]
                    p-[10px]
                  "
                  type="date"
                />
                <input
                  class="
                    outline-none
                    mx-[10px]
                    font-sans
                    text-[14px] text-gray-400
                    border
                    rounded-[20px]
                    p-[10px]
                  "
                  type="date"
                />
              </div>
    </div>
    
  
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






