<template>
  <div class="m-v-24 m-h-24 flex justify-center">
    <div class="w-[33%] items-center justify-center flex bg-gray-50 border-t-2 border-b-4 hover:border-b-red-500  cursor-pointer hover:text-red-500 border-b-red-500">
        <h2 class="text-[18] font-sansBold
        hover:text-red-500
            text-red-500
            sans
            " @click="goTo(ROUTES.DETALLE_COMERCIAL.PATH)">
            Información general
        </h2>
    </div>
    <div class="w-[33%] items-center justify-center flex bg-gray-50 border-t-2 border-x-2 cursor-pointer">
        <h2   class="text-[18] font-sansBold
        hover:text-red-500
            text-gray-600
            sans
            " @click="goTo(ROUTES.DETALLE_COMERCIAL2.PATH)">
            Configuraciones
        </h2>
    </div>
    <div class="bg-gray-50 h-12 items-center justify-center flex w-[33%] border-t-2 cursor-pointer ">
        <h2 class="text-[18] font-sansBold
            text-gray-600
            hover:text-red-500
            sans
            " @click="goTo(ROUTES.DETALLE_COMERCIAL3.PATH)">
            Historial
        </h2>
    </div>
  </div>

  
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






