<template>
  <div class="">
    <ModulosAve></ModulosAve>
    <AgentesAve></AgentesAve>
    <TransportadorasAve></TransportadorasAve>
    <IntegracionesAve></IntegracionesAve>
  </div>
</template>


<script lang="ts">
import ModulosAve from "@/components/detalleComercial/Tables/ModulosAve.vue";
import AgentesAve from "@/components/detalleComercial/Tables/AgentesAve.vue";
import TransportadorasAve from "@/components/detalleComercial/Tables/TransportadorasAve.vue";
import IntegracionesAve from "@/components/detalleComercial/Tables/IntegracionesAve.vue";

import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  components: {
    ModulosAve,
    AgentesAve,
    TransportadorasAve,
    IntegracionesAve
  },
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






