<template>
  <div class="">
    <HistorialGestion></HistorialGestion>
    <HistoricoProcess></HistoricoProcess>
    
  </div>
</template>


<script lang="ts">
import HistorialGestion from "@/components/detalleComercial/HistorialGestion.vue";
import HistoricoProcess from "@/components/detalleComercial/HistoricoProcess.vue";


import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  components: {
    HistorialGestion,
    HistoricoProcess

    
  },
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






