<template>
  <div class="">
    <PlanesServicios></PlanesServicios>
    <InfGeneralClient></InfGeneralClient>
    <InfLogistica></InfLogistica>
    <DatosFacturacion></DatosFacturacion>
    <NegociacionAsignada></NegociacionAsignada>
    <NegociacionAve></NegociacionAve>
    <InfBancaria></InfBancaria>
    <AsesoresAve></AsesoresAve>
  </div>
</template>


<script lang="ts">
import PlanesServicios from "@/components/detalleComercial/Tables/PlanesServicios.vue";
import InfGeneralClient from "@/components/detalleComercial/Tables/InfGeneralClient.vue";
import InfLogistica from "@/components/detalleComercial/Tables/InfLogistica.vue";
import DatosFacturacion from "@/components/detalleComercial/Tables/DatosFacturacion.vue";
import NegociacionAsignada from "@/components/detalleComercial/Tables/NegociacionAsignada.vue";
import NegociacionAve from "@/components/detalleComercial/Tables/NegociacionAve.vue";
import InfBancaria from "@/components/detalleComercial/Tables/InfBancaria.vue";
import AsesoresAve from "@/components/detalleComercial/Tables/AsesoresAve.vue";

import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  components: {
    PlanesServicios,
    InfGeneralClient,
    InfLogistica,
    DatosFacturacion,
    NegociacionAsignada,
    NegociacionAve,
    InfBancaria,
    AsesoresAve, 
  },
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






