<template>
  <div class="m-[16px]">
    <div
      class="
        bg-gray-50
        rounded-[5px]
        h-[500px]
        mx-[40px]
        HistoricoProcess
        overflow-auto
        scroll_sm
        flex
        justify-between
      "
    >
      <div id="" class="flex items-center ">
        <div class="bg-white m-[16px] rounded-[10px] p-[16px] w-[400px]">
          <div class="mb-[16px]">
            <h2 class="text-gray-800 text-[18px] font-sansBold">
              10 Marzo 2022 10:03:55
            </h2>
          </div>
          <div class="my-[16px]">
            <div class="flex">
              <h2 class="text-gray-800 font-sansBold text-[16px] mr-[2px]">
                Inscripción cuenta bancaria:
              </h2>
              <h2 class="text-gray-800 font-sans text-[16px]">
                Santiago Hernandez
              </h2>
            </div>
            <div class="flex">
              <h2 class="text-gray-800 font-sans text-[16px]">
                Bancolombia - Cuenta de ahorros 72860882974
              </h2>
            </div>
          </div>
        </div>
        
      </div>
      <div id="" class="py-[24px]">
        <svg
          width="52"
          height="500"
          viewBox="0 0 52 500"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_108_17)">
            <rect
              width="8.43243"
              height="470.588"
              transform="translate(22.4865 10.2941)"
              fill="white"
            />
            <path
              d="M30.9189 14.7058C30.9189 12.2693 29.0313 10.2941 26.7027 10.2941C24.3742 10.2941 22.4865 12.2693 22.4865 14.7058V476.471C22.4865 478.907 24.3742 480.882 26.7027 480.882C29.0313 480.882 30.9189 478.907 30.9189 476.471V14.7058Z"
              fill="#E2E2E2"
            />
          </g>
          <path
            d="M28.1081 450H23.8919C10.6968 450 0 461.193 0 475C0 488.807 10.6968 500 23.8919 500H28.1081C41.3032 500 52 488.807 52 475C52 461.193 41.3032 450 28.1081 450Z"
            fill="#C2C2C2"
          />
          <path
            d="M38.9122 473.713H37.4299C36.9852 472.679 36.3429 471.8 35.6017 471.025L36.5405 467.096H34.9595C33.4772 467.096 32.1925 467.819 31.3526 468.905C30.9573 468.853 30.5621 468.75 30.2162 468.75H23.8919C20.038 468.75 16.8758 471.594 16.1348 475.368H14.0101C13.269 475.368 12.6761 474.696 12.8243 473.92C12.9231 473.3 13.4666 472.886 14.0595 472.886H14.109C14.2571 472.886 14.4054 472.783 14.4054 472.576V471.542C14.4054 471.387 14.2571 471.232 14.109 471.232C12.6761 471.232 11.4409 472.317 11.2432 473.765C11.0456 475.523 12.3302 477.022 14.0101 477.022H15.9865C15.9865 479.762 17.2217 482.14 19.1486 483.64V487.776C19.1486 488.241 19.4945 488.603 19.9392 488.603H23.1013C23.4967 488.603 23.8919 488.241 23.8919 487.776V485.294H30.2162V487.776C30.2162 488.241 30.5621 488.603 31.0068 488.603H34.1689C34.5643 488.603 34.9595 488.241 34.9595 487.776V483.64C35.5029 483.174 36.0464 482.606 36.4911 481.985H38.9122C39.3075 481.985 39.7027 481.623 39.7027 481.158V474.54C39.7027 474.127 39.3075 473.713 38.9122 473.713ZM32.5878 477.022C32.1432 477.022 31.7973 476.66 31.7973 476.195C31.7973 475.781 32.1432 475.368 32.5878 475.368C32.9832 475.368 33.3784 475.781 33.3784 476.195C33.3784 476.66 32.9832 477.022 32.5878 477.022ZM23.8919 467.096H30.2162C30.4633 467.096 30.7104 467.147 30.9573 467.147C30.9573 467.147 31.0068 467.147 31.0068 467.096C31.0068 464.355 28.8822 462.132 26.2635 462.132C23.6448 462.132 21.5203 464.355 21.5203 467.096C21.5203 467.251 21.5203 467.354 21.5203 467.457C22.2613 467.251 23.0519 467.096 23.8919 467.096Z"
            fill="white"
          />
          <g clip-path="url(#clip1_108_17)">
            <path
              d="M50.5946 25C50.5946 11.1929 39.8978 0 26.7027 0C13.5076 0 2.81079 11.1929 2.81079 25C2.81079 38.8071 13.5076 50 26.7027 50C39.8978 50 50.5946 38.8071 50.5946 25Z"
              fill="#C2C2C2"
            />
            <path
              d="M38.4125 13.4249L33.2741 12.1841C32.7306 12.029 32.1377 12.3392 31.8906 12.9079L29.519 18.6983C29.3214 19.2153 29.4696 19.784 29.8648 20.1459L32.8787 22.7309C31.1001 26.6602 27.9874 29.969 24.1335 31.8819L21.663 28.7283C21.3172 28.3146 20.7736 28.1594 20.2796 28.3663L14.7458 30.848C14.2023 31.1063 13.9552 31.7268 14.054 32.2955L15.2398 37.6724C15.3881 38.241 15.8327 38.603 16.4257 38.603C29.0743 38.603 39.3513 27.901 39.3513 14.614C39.3513 14.0453 38.9561 13.58 38.4125 13.4249Z"
              fill="white"
            />
          </g>
          <g clip-path="url(#clip2_108_17)">
            <path
              d="M49.1892 244.118C49.1892 231.123 39.1217 220.588 26.7027 220.588C14.2838 220.588 4.21625 231.123 4.21625 244.118V247.059C4.21625 260.054 14.2838 270.588 26.7027 270.588C39.1217 270.588 49.1892 260.054 49.1892 247.059V244.118Z"
              fill="#C2C2C2"
            />
            <path
              d="M26.527 245.956C29.9856 245.956 32.8514 243.009 32.8514 239.338C32.8514 235.719 29.9856 232.72 26.527 232.72C23.019 232.72 20.2027 235.719 20.2027 239.338C20.2027 243.009 23.019 245.956 26.527 245.956ZM30.9244 247.61H30.0844C28.9975 248.179 27.8117 248.437 26.527 248.437C25.2424 248.437 24.0071 248.179 22.9202 247.61H22.0802C18.424 247.61 15.4595 250.764 15.4595 254.59V256.709C15.4595 258.105 16.4971 259.191 17.8311 259.191H35.223C36.5077 259.191 37.5946 258.105 37.5946 256.709V254.59C37.5946 250.764 34.5807 247.61 30.9244 247.61Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_108_17">
              <rect
                width="8.43243"
                height="470.588"
                fill="white"
                transform="translate(22.4865 10.2941)"
              />
            </clipPath>
            <clipPath id="clip1_108_17">
              <rect
                width="47.7838"
                height="50"
                fill="white"
                transform="translate(2.81079)"
              />
            </clipPath>
            <clipPath id="clip2_108_17">
              <rect
                width="44.973"
                height="50"
                fill="white"
                transform="translate(4.21625 220.588)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div id="" class="">
        <div class="bg-white m-[16px] rounded-[10px] p-[16px] mb-[200px] w-[600px]">
          <div class="mb-[16px]">
            <h2 class="text-gray-800 text-[18px] font-sansBold">
              10 Marzo 2022 10:03:55
            </h2>
          </div>
          <div class="flex">
            <div
              class="
                flex
                justify-center
                bg-amber-800
                w-32
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[14px] font-sans text-gray-800">
                R0 - Potencial - A
              </h2>
            </div>
            <div
              class="
                flex
                justify-center
                bg-white
                border
                w-32
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[16px] font-sans hover:text-white text-gray-800">
                Sin contacto
              </h2>
            </div>
            <div class="flex justify-center h-9 items-center mr-[16px]">
              <svg
                width="16"
                height="17"
                viewBox="0 0 16 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.66406 0.621094L6.96094 1.28906C6.78516 1.46484 6.78516 1.74609 6.96094 1.88672L12.4102 7.33594H0.421875C0.175781 7.33594 0 7.54688 0 7.75781V8.74219C0 8.98828 0.175781 9.16406 0.421875 9.16406H12.4102L6.96094 14.6484C6.78516 14.7891 6.78516 15.0703 6.96094 15.2461L7.66406 15.9141C7.80469 16.0898 8.08594 16.0898 8.26172 15.9141L15.6094 8.56641C15.7852 8.39062 15.7852 8.14453 15.6094 7.96875L8.26172 0.621094C8.08594 0.445312 7.80469 0.445312 7.66406 0.621094Z"
                  fill="#42484E"
                />
              </svg>
            </div>
            <div
              class="
                flex
                justify-center
                bg-amber-800
                w-32
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[14px] font-sans text-gray-800">
                R0 - Potencial - A
              </h2>
            </div>
            <div
              class="
                flex
                justify-center
                bg-white
                border
                w-32
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[16px] font-sans hover:text-white text-gray-800">
                Sin Respuesta
              </h2>
            </div>
          </div>
          <div class="my-[16px]">
            <div class="flex">
              <h2 class="text-gray-800 font-sansBold text-[16px] mr-[2px]">
                Observaciones:
              </h2>
              <h2 class="text-gray-800 font-sans text-[16px]">
                El cliente no contesto a la llamada
              </h2>
            </div>
            <div class="flex">
              <h2 class="text-gray-800 font-sansBold text-[16px] mr-[2px]">
                Próxima fecha de contacto:
              </h2>
              <h2 class="text-gray-800 font-sans text-[16px]">
                10 Marzo 2022 10:03:55
              </h2>
            </div>
          </div>
        </div>
        <div class="bg-white m-[16px] rounded-[10px] p-[16px] w-[600px]">
          <div class="mb-[16px]">
            <h2 class="text-gray-800 text-[18px] font-sansBold">
              10 Marzo 2022 10:03:55
            </h2>
          </div>
          <div class="flex">
            <div
              class="
                flex
                justify-center
                bg-amber-800
                w-32
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[14px] font-sans text-gray-800">
                R0 - Potencial - A
              </h2>
            </div>
            <div
              class="
                flex
                justify-center
                bg-amber-300
                border
                w-[150px]
                h-9
                rounded-[10px]
                items-center
                text-gray-1000
                font-sansBold
                text-gray-600
                hover:bg-gray-500
                cursor-pointer
                mr-[16px]
              "
            >
              <h2 class="text-[16px] font-sans hover:text-white text-gray-800">
                R0 - Registrado - A
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}

.colum1 {
  background-image: url("data:image/svg+xml;utf8,<svg width='561' height='180' viewBox='0 0 561 180' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(#clip0_103_5)'><path d='M10 88V76L1.01943 81.1318C0.347609 81.5157 0.347609 82.4843 1.01943 82.8682L10 88Z' fill='white'/></g><rect x='10' width='551' height='180' rx='10' fill='white'/><defs><clipPath id='clip0_103_5'><rect width='10' height='12' fill='white' transform='translate(0 76)'/></clipPath></defs></svg>");
}

@media(max-width:900px){
  .HistoricoProcess{
    margin: 0;
}
}


</style>