<template>
  <div class="my-[24px] mx-[8px]   border-t-2 pt-[24px]">
   <div class="mb-[16px]">
       <h2 class="text-[18px] font-sansBold text-gray-800">
           Historial de gestión
       </h2>

   </div>
   <div class="flex overflow-auto py-[20px]">
       <div class="flex px-[8px] rounded-[20px] border items-center mr-[16px] bg-gray-100 ">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.2188 0H1.75C1.0625 0 0.71875 0.8125 1.21875 1.28125L7 7.0625V13.5C7 13.75 7.09375 14 7.3125 14.125L9.8125 15.875C10.3125 16.2188 11 15.875 11 15.25V7.0625L16.75 1.28125C17.25 0.8125 16.9062 0 16.2188 0Z" fill="#8A8A8A"/>
            </svg> 
                <select
                  class="
                  text-[14px] text-sans text-gray-400
                  border-0
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option class="text-[14px] text-sans text-gray-800" value="none" selected disabled hidden>Asesor</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Potencial</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Leal</option>
                </select>

       </div>
       <div class="flex px-[8px] rounded-[20px] border items-center mr-[16px] bg-gray-100">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.2188 0H1.75C1.0625 0 0.71875 0.8125 1.21875 1.28125L7 7.0625V13.5C7 13.75 7.09375 14 7.3125 14.125L9.8125 15.875C10.3125 16.2188 11 15.875 11 15.25V7.0625L16.75 1.28125C17.25 0.8125 16.9062 0 16.2188 0Z" fill="#8A8A8A"/>
            </svg> 
                <select
                  class="
                  text-[14px] text-sans text-gray-400
                  border-0
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option class="text-[14px] text-sans text-gray-800" value="none" selected disabled hidden>Estado</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Potencial</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Leal</option>
                </select>

       </div>
       <div class="flex px-[8px] rounded-[20px] border items-center mr-[16px] bg-gray-100">
            <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.2188 0H1.75C1.0625 0 0.71875 0.8125 1.21875 1.28125L7 7.0625V13.5C7 13.75 7.09375 14 7.3125 14.125L9.8125 15.875C10.3125 16.2188 11 15.875 11 15.25V7.0625L16.75 1.28125C17.25 0.8125 16.9062 0 16.2188 0Z" fill="#8A8A8A"/>
            </svg> 
                <select
                  class="
                  text-[14px] text-sans text-gray-400
                  border-0
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option class="text-[14px] text-sans text-gray-800" value="none" selected disabled hidden>Tipo de historico</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Potencial</option>
                  <option class="text-[14px] text-sans text-gray-800" value="">Leal</option>
                </select>

       </div>
       <div class="flex">
           <input class="border px-[8px] rounded-[20px] text-[14px] text-sans text-gray-400 outline-none" type="date">
           <span class="flex items-center px-[16px]">
               -
           </span>
            <input class="border px-[8px] rounded-[20px] text-[14px] text-sans text-gray-400 outline-none" type="date">
       </div>
   </div>
  </div>

  
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






