<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[10px] w-[45%] px-3.5 py-3.5 ">
    <div
      class="
        mb-4
        flex-5 flex flex-justify-between
        border-1 border-style-solid border-gray-3 border-radius-5
        overflow-auto
      "
    >
      <div class="text-align-left">
        <div class="height-64 flex text-align-left p-v-16 p-h-20">
          <h2 class="text-[18px] font-sansBold text-gray-800">
            Resumen cliente
          </h2>
        </div>
      </div>
    </div>
    <div class="flex justify-between ">
      <div class="w-[130px] mr-[20px]">
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600">
            Calificación CIFIN
          </h2>
          <h2 class="text-[18px] font-sansBold text-gray-800 ">AA</h2>
        </div>
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600">Tipo de cliente</h2>
          <h2 class="text-[18px] font-sansBold text-gray-800">AA</h2>
        </div>
      </div>
      <div class="w-1 h-25 border-r-2"></div>
      <div class=" w-[200px] mx-[40px]">
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600">
            Transportadora Envia
          </h2>
          <div class="flex items-center justify-between ">
              <select class="text-[14px] mr-5 font-sans text-gray-600 pl-1 pr-5 py-2 items-center flex rounded-[10px] bg-gray-1000 border border-gray-400 " name="select">
                <option class="text-[14px] font-sans text-gray-600" value="value1">Si</option>
                <option class="text-[14px] font-sans text-gray-600" value="value2" selected>No</option>
              </select>
              <div class="flex justify-center bg-gray-400 w-32 h-9 rounded-[20px] items-center text-gray-1000 font-sansBold text-gray-600 hover:bg-gray-500 cursor-pointer">
                  <h2 class="text-[14px]">Ver oferta</h2>
              </div>
          </div>
        </div>
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600">Estado del cliente</h2>
            <div class="flex justify-center bg-amber-800 w-32 h-9 rounded-[10px] items-center text-gray-1000 font-sansBold text-gray-600 hover:bg-gray-500 cursor-pointer">
                <h2 class="text-[14px] color-gray-800">R0 - Potencial - A</h2>
            </div>
        </div>
      </div>
      <div class="w-1 h-25 border-r-2 w-[200px]"></div>
      <div class="mx-[20px]">
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600 w-[120px]">
            Calificación CIFIN
          </h2>
          <h2 class="text-[18px] font-sansBold text-gray-800 w-[120px]">AA</h2>
        </div>
        <div class="">
          <h2 class="text-[14px] font-sans text-gray-600 w-[120px]">Tipo de cliente</h2>
          <h2 class="text-[18px] font-sansBold text-gray-800 w-[120px]">AA</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>