<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[10px] w-[55%] px-3.5 py-3.5 ">
    <table class="demo w-full">
      
      <thead class="border-b">
        <tr class="h-10">
          <th class="text-[14px] font-sansBold text-gray-800 px-5">Recaudo</th>
          <th class="text-[14px] font-sansBold text-gray-800 px-5">Recaudo</th>
          <th class="text-[14px] font-sansBold text-gray-800 px-5">Transportadora nacional</th>
          <th class="text-[14px] font-sansBold text-gray-800 px-5">Transportadora internacional</th>
          <th><h2 class="text-[14px] font-sansBold text-gray-800 px-5 ">Ultma milla</h2>  </th>
          <th class=""><h2 class="text-[14px] font-sansBold text-gray-800 px-5 ">Link de pago</h2></th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-14">
          <td class=" text-left font-sansBold text-gray-800">Promedio de guías (mes)</td>
          <td class="text-center font-sansBold text-gray-800">100</td>
          <td class="text-center font-sansBold text-gray-800">100</td>
          <td class="text-center font-sansBold text-gray-800">100</td>
          <td class="text-center font-sansBold text-gray-800">100</td>
          <td class="text-center font-sansBold text-gray-800">100</td>
        </tr>
        <tr class="h-10">
          <td class=" text-left font-sansBold text-gray-800">Fecha primer servicio</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
        </tr>
        <tr>
         <td class=" text-left font-sansBold text-gray-800">Fecha último servicio</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
          <td class="text-center font-sans text-gray-800">100</td>
        </tr>
       
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, onMounted, watch } from "vue";

import { ESTADO_CUENTA } from "@/models/mocks/index";
import { AccountState } from "@/models/types/index";
import { LOCAL_STORAGE } from "@/constants/index";
import { DownLoadCSV } from "@/services";
import { format } from "date-fns";

export default defineComponent({
  components: {},
  setup() {
    const date = format(new Date(), "yyyy-MM-dd");
    const numberFav = localStorage.getItem(LOCAL_STORAGE.NUMBER_SHOW);

    const States = ref<AccountState[]>();
    const counterSelect = ref(numberFav ? Number(numberFav) : 10);
    const initVal = ref(1);

    const search = computed(() => {
      return {
        init: initVal.value,
        end: Math.ceil(ESTADO_CUENTA.length / counterSelect.value),
      };
    });

    const nextPage = () => {
      const { init, end } = search.value;
      const count = Number(counterSelect.value);
      const initSlice = Number(initVal.value) * count;
      const endSlice = Number(initSlice) + count;

      if (init < end) {
        States.value = [];
        States.value = ESTADO_CUENTA.slice(initSlice, endSlice);
        initVal.value = initVal.value + 1;
      }
    };

    const prevPage = () => {
      const { init } = search.value;
      const count = Number(counterSelect.value);
      const endSlice = Number(initVal.value) * count;
      const initSlice = Number(endSlice) - count;

      if (init > 1) {
        States.value = [];
        States.value = ESTADO_CUENTA.slice(initSlice - count, endSlice - count);
        initVal.value = initVal.value - 1;
      }
    };

    const createCSV = () => {
      const Headers = [
        "id Fectura",
        "Número de documento",
        "Descripción",
        "Ingreso",
        "Egreso",
        "Saldo factura",
        "Saldo total",
      ];
      const data = ESTADO_CUENTA;
      data.forEach((el) => {
        delete el.opcionales;
      });

      DownLoadCSV(data, Headers, `movimientos-${date}.csv`);
    };

    onMounted(() => {
      const { init } = search.value;
      States.value = ESTADO_CUENTA.slice(init - 1, counterSelect.value);
    });

    watch(
      () => counterSelect.value,
      (newVal) => {
        const start = search.value.init;
        States.value = ESTADO_CUENTA.slice(start - 1, newVal);
      }
    );

    return {
      counterSelect,
      States,
      search,
      nextPage,
      prevPage,

      createCSV,
    };
  },
});
</script>