<template>
  <div class="m-v-24 m-h-24 flex justify-between">
    <div class="flex flex-4 pt-5 pb-5 items-center">
      <div class="mr-3">
        <div
          class="
            border-1 border-radius-5
            p-h-30 p-v-14
            border-style-solid
            rounded-[5px]
            border-gray border
            pt-5
            pb-5
            pr-5
            pl-5
          "
        >
          <svg
            width="24"
            height="32"
            viewBox="0 0 25 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.5 7.625C24.5 7.25 24.3125 6.875 24 6.5625L17.9375 0.5C17.625 0.1875 17.25 0 16.875 0H16.5V8H24.5V7.625ZM16 10C15.125 10 14.5 9.375 14.5 8.5V0H2C1.125 0 0.5 0.6875 0.5 1.5V30.5C0.5 31.375 1.125 32 2 32H23C23.8125 32 24.5 31.375 24.5 30.5V10H16ZM7.5 11C9.1875 11 10.5 12.375 10.5 14C10.5 15.6875 9.1875 17 7.5 17C5.875 17 4.5 15.6875 4.5 14C4.5 12.375 5.875 11 7.5 11ZM20.5 26H4.5L4.5625 23L7 20.5C7.3125 20.25 7.75 20.25 8.0625 20.5625L10.5 23L17 16.5625C17.25 16.25 17.75 16.25 18.0625 16.5625L20.5 19V26Z"
              fill="#A7A6A6"
            />
          </svg>
        </div>
      </div>
      <div class="w-[300px]">
        <h2
          class="
            font-poppins
            text-[24px]
            font-serifBold
            text-gray-800
            font-extrabold
          "
        >
          NOMBRE EMPRESA
        </h2>
        <h2 class="font-bold text-lg text-gray-900">.NIT</h2>
      </div>
    </div>
    <div class="flex align-center justify-right overflow-auto">
      <div class="flex p-v-10 flex-align-center items-center">
        <div
          class="
            btn1-tel
            rounded-[5px]
            border-radius-5
            cursor-pointer
            bg-red-500
            h-10
            items-center
            flex
            pr-3
            hover:bg-gray-500
            pl-3
            mr-8
            text-white
            font-sansBold
            text-[14px]
          "
        >
          <svg
            width="18"
            height="19"
            viewBox="0 0 19 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.832 1.12891L14.1758 0.285156C13.7891 0.179688 13.3672 0.390625 13.1914 0.777344L11.5039 4.71484C11.3633 5.06641 11.4688 5.45312 11.75 5.69922L13.8945 7.45703C12.6289 10.1289 10.4141 12.3789 7.67188 13.6797L5.91406 11.5352C5.66797 11.2539 5.28125 11.1484 4.92969 11.2891L0.992188 12.9766C0.605469 13.1523 0.429688 13.5742 0.5 13.9609L1.34375 17.6172C1.44922 18.0039 1.76562 18.25 2.1875 18.25C11.1875 18.25 18.5 10.9727 18.5 1.9375C18.5 1.55078 18.2188 1.23438 17.832 1.12891Z"
              fill="white"
            />
          </svg>
        </div>
        <div
          class="
            comercialButton
            p-h-14 p-v-14
            bg-gray-400
            gray-400
            cursor-pointer
            w-32
            justify-center
            pb-5
            pt-5
            pr-5
            pl-5
            mr-5
            hover:bg-gray-500
            rounded-[20px]
            h-10
            btn1-guias
          "
        >
          <h2 class="text-white font-sansBold text-[14px]">Ver guías</h2>
        </div>
        <div
          class="
            bg-gray-400
            comercialButton
            rounded-[20px]
            w-32
            pb-5
            pt-5
            pr-5
            pl-5
            mr-5
            h-10
            hover:bg-gray-500
            cursor-pointer
            btn1-cotizar
          "
        >
          <h2 class="text-white font-sansBold text-[14px]">Cotizar envío</h2>
        </div>
        <div
          class="
            flex
            m-h-4
            border-radius-5
            bg-gray-400
            w-32
            justify-center
            mr-8
            hover:bg-gray-500
            bg-gray-3 bg-gray-1-hover
            comercialButton
            rounded-[20px]
            h-10
            cursor-pointer
            btn1-recaudos
          "
        >
          <svg
            class="mr-2"
            width="18"
            height="16"
            viewBox="0 0 18 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.50144 8H14.506C14.7561 8 15.0062 7.78125 15.0062 7.5V0.5C15.0062 0.25 14.7561 0 14.506 0H11.0045V2L9.00371 1L7.00289 2V0H3.50144C3.22008 0 3.00124 0.25 3.00124 0.5V7.5C3.00124 7.78125 3.22008 8 3.50144 8ZM17.6635 10.2812C17.2884 9.9375 16.7256 9.96875 16.3192 10.2812L13.443 12.5625C13.0992 12.875 12.6302 13 12.1925 13H8.5035C8.22214 13 8.0033 12.7812 8.0033 12.5C8.0033 12.25 8.22214 12 8.5035 12H10.942C11.4422 12 11.9112 11.6875 11.9737 11.1875C12.0675 10.5625 11.5985 10 11.0045 10H6.00247C5.15838 10 4.31428 10.3125 3.65776 10.8438L2.21967 12H0.500206C0.21884 12 0 12.25 0 12.5V15.5C0 15.7812 0.21884 16 0.500206 16H11.6298C12.0987 16 12.5364 15.875 12.8803 15.5625L17.6323 11.7812C18.1012 11.4062 18.1325 10.6875 17.6635 10.2812Z"
              fill="white"
            />
            <path
              d="M9.9433 4.13281L8.94292 3.84115C8.8225 3.8138 8.7484 3.70443 8.7484 3.58594C8.7484 3.4401 8.86882 3.3125 9.01702 3.3125H9.62837C9.74878 3.3125 9.85994 3.34896 9.95256 3.41276C10.0081 3.44922 10.0822 3.4401 10.1286 3.39453L10.4528 3.08464C10.5176 3.02083 10.5083 2.92057 10.4342 2.85677C10.2119 2.68359 9.92477 2.59245 9.63763 2.58333V2.14583C9.63763 2.07292 9.56353 2 9.48942 2H9.19301C9.10965 2 9.04481 2.07292 9.04481 2.14583V2.58333H9.01702C8.4242 2.58333 7.9518 3.08464 8.00738 3.67708C8.04443 4.09635 8.36863 4.44271 8.78545 4.5612L9.73026 4.83464C9.85067 4.86198 9.93404 4.97135 9.93404 5.08984C9.93404 5.23568 9.80436 5.35417 9.65615 5.35417H9.04481C8.93366 5.35417 8.8225 5.32682 8.72988 5.26302C8.66504 5.22656 8.59093 5.23568 8.54462 5.28125L8.22042 5.59115C8.15558 5.65495 8.16485 5.75521 8.23895 5.8099C8.47052 5.99219 8.7484 6.08333 9.04481 6.08333V6.52083C9.04481 6.60286 9.10965 6.66667 9.19301 6.66667H9.48942C9.56353 6.66667 9.63763 6.60286 9.63763 6.52083V6.08333C10.0637 6.07422 10.4713 5.82812 10.6102 5.42708C10.814 4.86198 10.4805 4.28776 9.9433 4.13281Z"
              fill="#C2C2C2"
            />
          </svg>
          <h2 class="text-white font-sansBold text-[14px] font-bold">
            Recaudos
          </h2>
        </div>
        <div
          class="
            flex
            m-h-4
            hover:bg-gray-500
            border-radius-5
            bg-gray-400 bg-gray-3 bg-gray-1-hover
            comercialButton
            rounded-[20px]
            justify-center
            w-40
            pr-2
            pl-1
            mr-5
            h-10
            cursor-pointer
            btn1-cuenta
          "
        >
          <svg
            class="mr-2"
            width="14"
            height="15"
            viewBox="0 0 14 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 11.8516V13C0 13.9844 2.35156 14.75 5.25 14.75C8.14844 14.75 10.5 13.9844 10.5 13V11.8516C9.35156 12.6445 7.30078 13 5.25 13C3.17188 13 1.12109 12.6445 0 11.8516ZM8.75 4.25C11.6484 4.25 14 3.48438 14 2.5C14 1.54297 11.6484 0.75 8.75 0.75C5.85156 0.75 3.5 1.54297 3.5 2.5C3.5 3.48438 5.85156 4.25 8.75 4.25ZM0 8.98047V10.375C0 11.3594 2.35156 12.125 5.25 12.125C8.14844 12.125 10.5 11.3594 10.5 10.375V8.98047C9.35156 9.91016 7.30078 10.375 5.25 10.375C3.17188 10.375 1.12109 9.91016 0 8.98047ZM11.375 9.28125C12.9336 8.98047 14 8.40625 14 7.75V6.60156C13.3438 7.03906 12.4141 7.33984 11.375 7.53125V9.28125ZM5.25 5.125C2.35156 5.125 0 6.10938 0 7.3125C0 8.54297 2.35156 9.5 5.25 9.5C8.14844 9.5 10.5 8.54297 10.5 7.3125C10.5 6.10938 8.14844 5.125 5.25 5.125ZM11.2383 6.68359C12.8789 6.38281 14 5.80859 14 5.125V3.97656C13.0156 4.66016 11.3477 5.01562 9.59766 5.125C10.3906 5.50781 10.9922 6.02734 11.2383 6.68359Z"
              fill="white"
            />
          </svg>
          <h2 class="text-white font-sansBold text-[14px]">Estado de cuenta</h2>
        </div>
        <div
          class="
            flex
            w-40
            hover:bg-gray-500
            border-radius-5
            bg-gray-400 bg-gray-3 bg-gray-1-hover
            comercialButton
            rounded-[20px]
            justify-center
            mr-5
            cursor-pointer
            b-act
            h-10
            cursor-pointer
          "
        >
          <svg
          class="mr-2"
            width="18"
            height="15"
            viewBox="0 0 18 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.3125 6.4375H15.5625V4.6875C15.5625 4.46875 15.3438 4.25 15.125 4.25H14.25C14.0039 4.25 13.8125 4.46875 13.8125 4.6875V6.4375H12.0625C11.8164 6.4375 11.625 6.65625 11.625 6.875V7.75C11.625 7.99609 11.8164 8.1875 12.0625 8.1875H13.8125V9.9375C13.8125 10.1836 14.0039 10.375 14.25 10.375H15.125C15.3438 10.375 15.5625 10.1836 15.5625 9.9375V8.1875H17.3125C17.5312 8.1875 17.75 7.99609 17.75 7.75V6.875C17.75 6.65625 17.5312 6.4375 17.3125 6.4375ZM6.375 7.75C8.28906 7.75 9.875 6.19141 9.875 4.25C9.875 2.33594 8.28906 0.75 6.375 0.75C4.43359 0.75 2.875 2.33594 2.875 4.25C2.875 6.19141 4.43359 7.75 6.375 7.75ZM8.80859 8.625H8.34375C7.74219 8.92578 7.08594 9.0625 6.375 9.0625C5.66406 9.0625 4.98047 8.92578 4.37891 8.625H3.91406C1.89062 8.625 0.25 10.293 0.25 12.3164V13.4375C0.25 14.1758 0.824219 14.75 1.5625 14.75H11.1875C11.8984 14.75 12.5 14.1758 12.5 13.4375V12.3164C12.5 10.293 10.832 8.625 8.80859 8.625Z"
              fill="white"
            />
          </svg>

          <h2 class="text-white font-sansBold text-[14px]">Referidos</h2>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}

@media(max-width:1440px){
  .btn1-tel{
    margin-right: 4px;
  }
}

@media(max-width:1440px){
  .btn1-guias{
    padding: 2px;
    width: 90px;
    margin-right: 4px;
  }
}

@media(max-width:1440px){
  .btn1-cotizar{
    padding: 2px;
    width: 100px;
    margin-right: 4px;
    justify-content: center;
  }
}
@media(max-width:1440px){
  .btn1-recaudos{
    padding: 2px;
    width: 100px;
    margin-right: 4px;
    justify-content: center;
  }
}

@media(max-width:1440px){
  .btn1-cuenta{
    padding: 2px;
    width: 150px;
    margin-right: 4px;
    justify-content: center;
  }
}


</style>






