<template>
  <section class="mt-6">

    <AppResumenFiltersVue></AppResumenFiltersVue>

  </section>
</template>

<script lang="ts">

  import { defineComponent } from "vue";
  import AppResumenFiltersVue from "./AppResumenFilters.vue";

  export default defineComponent({
    components: {
      AppResumenFiltersVue
    }
  })

</script>