<template>
  <section
    class="
      flex
      w-full
      mt-8
      justify-between
      rounded-[5px]
      flex-col
      items-center
      border border-gray-400
      px-12
      py-8
      lg:flex-row
    "
  >
    <section
      class="info1 min-h-[7rem] flex items-center lg:border-r border-r-gray-400"
    >
      <div>
        <AppTitleTwo>Dinero disponible en</AppTitleTwo>
        <AppTitleTwo>tu billetera</AppTitleTwo>
      </div>

      <div class="mx-4">
        <AppTitleTwo color="text-gray-600">$10.000.000</AppTitleTwo>
        <p class="text-gray-600 text-sm">Actualizado el 12/03/2021</p>
      </div>
    </section>
    <section class="info2">
      <div class="info text-left m-auto text-gray-800 text-[16px] font-sans">
        <p class="font-bold">Este dinero corresponde a</p>
        <p class="font-normal ml-1">1. Tus recaudos de envíos contraentrega</p>
        <p class="font-normal ml-1">2. Recaudos por pago electrónico</p>
        <p class="font-normal ml-1">3. Reclamaciones efectivas.</p>

        <a
          href="https://www.google.com/?hl=es"
          class="ml-4 font-bold underline underline-offset-1"
        >
          Ver más
        </a>
      </div>
    </section>
    <section class="flex gap-3">
      <AppButtonVue>Solicitar desembolso</AppButtonVue>
      <AppButtonVue color="secondary">Cargar dinero</AppButtonVue>
    </section>
  </section>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AppButtonVue from "@/components/microComponents/AppButton.vue";
import AppTitleTwo from "@/components/microComponents/AppTitleTwo.vue";

export default defineComponent({
  components: {
    AppButtonVue,
    AppTitleTwo,
  },
});
</script>