<template>

  <section class="rounded-lg flex justify-center max-w-fit items-center border border-gray-400 py-3 px-2">
    <div class="text-sm mr-2">
      <slot></slot>
    </div>
    <div class="text-base font-bold border-r border-r-gray-400 pr-2">
      {{ formatCurrencyCo(total_value) }}
    </div>
    <div class="text-xs ml-2">{{ total_count }} guías</div>
  </section>

</template>

<script lang="ts">
  import { defineComponent } from "vue";
  import { formatCurrencyCo } from "@/utils";

  export default defineComponent({
    props: {
      total_value: {
        type: Number,
        default: 0,
        require: true
      },
      total_count: {
        type: Number,
        default: 0,
        require: true
      }
    },
    setup() {
      return {
        formatCurrencyCo
      }
    }
  })
</script>