<template>
  <section class="flex justify-between w-full flex-col lg:flex-row ">

    <AppTitleTwo>Resumen</AppTitleTwo>

    <div class="filtros flex flex-wrap flex-row gap-2 justify-end lg:flex-nowrap">

      <AppMiniatureFilterVue :total_count="235" :total_value="1300000">
        Sin recaudo
      </AppMiniatureFilterVue>

      <AppMiniatureFilterVue :total_count="23" :total_value="320000">
        Pendiente de pago
      </AppMiniatureFilterVue>

      <AppMiniatureFilterVue :total_count="2" :total_value="550000">
        Pagada
      </AppMiniatureFilterVue>

      <AppMiniatureFilterVue :total_count="23" :total_value="320000">
        Devolución
      </AppMiniatureFilterVue>

    </div>
  </section>

  <section class="w-full mt-8">

    <AppSelectIconVue  :options="tipos_cuentas">Transportadora</AppSelectIconVue>

  </section>
</template>

<script lang="ts">

  import { defineComponent, ref, onMounted } from "vue";

  import AppTitleTwo from '@/components/microComponents/AppTitleTwo.vue';
  import AppMiniatureFilterVue from "./AppMiniatureFilter.vue";
  import AppSelectIconVue from '@/components/microComponents/AppSelectIcon.vue'

  import { formatCurrencyCo } from "@/utils";

  import { tipos_cuentas } from '@/constants';
  import { PostListarTransProveedor } from "@/services/http";


  export default defineComponent({
    components: {
      AppTitleTwo,
      AppMiniatureFilterVue,
      AppSelectIconVue
    }, 
    setup() {
      const typeAccount  = ref('');

      const getTransportadoras = () => {
        PostListarTransProveedor();
      }

      onMounted(() => {
        getTransportadoras();
      })

      return {
        formatCurrencyCo,

        tipos_cuentas,
        typeAccount
      }
    }
  })
</script>


<style>
  @media (min-width: 1024px) {
    .filtros {
      min-width: 85%;
    }
  }
</style>
