<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 owerflow-auto">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-40
                p-h-10 p-v-10
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Información general del cliente
            </div>
          </th>
          <th class="flex justify-end text-right pb-1">
            <div class="flex-align-center height-65 p-h-10 p-v-10">
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                    fill="#42484E"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-start items-center py-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Tipo de documento *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[132px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="Arauca">NIT</option>
                  <option value="Armenia">CC</option>
                  <option value="Armenia">CE</option>
                </select>
              </div>
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Documento *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[294px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
              </div>
            </div>
          </td>

          <td class="w-[33%]">
            <div class="height-65 flex justify-start mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Correo electrónico *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="email"
                />
              </div>
            </div>
          </td>

          <td class="w-[33%]">
            <div class="justify-start items-center flex justify-start mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Descuento</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="Arauca">Potencial</option>
                  <option value="Armenia">Leal</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-start items-center py-2  mr-[10px]">
              <div class="w-[100%] mr-[5px]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Razon social *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[352px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
              </div>
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                    text-transparent
                  "
                  >-</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[80px]
                    h-[40px]
                    px-2
                    py-2
                    outline-none
                    text-white
                    bg-red-500
                    cursor-pointer
                    hover:bg-gray-800
                    font-sansBold
                    text-[14px]
                  "
                  type="submit"
                  value="Validar"
                />
              </div>
            </div>
          </td>

          <td class="w-[33%]">
            <div class="height-65 flex justify-start  mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Ciudad del cliente *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                   <option value="none" selected disabled hidden></option>
                  <option value="Arauca">Arauca</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Barranquilla">Barranquilla</option>
                  <option value="Bogotá">Bogotá</option>
                  <option value="Bucaramanga">Bucaramanga</option>
                  <option value="Cali">Cali</option>
                  <option value="Cartagena">Cartagena</option>
                  <option value="Cúcuta">Cúcuta</option>
                  <option value="Florencia">Florencia</option>
                  <option value="Ibagué">Ibagué</option>
                  <option value="Leticia">Leticia</option>
                  <option value="Manizales">Manizales</option>
                  <option value="Medellín">Medellín</option>
                  <option value="Mitú">Mitú</option>
                  <option value="Mocoa">Mocoa</option>
                  <option value="Montería">Montería</option>
                  <option value="Neiva">Neiva</option>
                  <option value="Pasto">Pasto</option>
                  <option value="Pereira">Pereira</option>
                  <option value="Popayán">Popayán</option>
                  <option value="Puerto Carreño">Puerto Carreño</option>
                  <option value="Puerto Inírida">Puerto Inírida</option>
                  <option value="Quibdó">Quibdó</option>
                  <option value="Riohacha">Riohacha</option>
                  <option value="San Andrés">San Andrés</option>
                  <option value="San José del Guaviare">
                    San José del Guaviare
                  </option>
                  <option value="Santa Marta">Santa Marta</option>
                  <option value="Sincelejo">Sincelejo</option>
                  <option value="Tunja">Tunja</option>
                  <option value="Valledupar">Valledupar</option>
                  <option value="Villavicencio">Villavicencio</option>
                  <option value="Yopal">Yopal</option>
                </select>
              </div>
            </div>
          </td>

          <td class="w-[33%]">
            <div class="justify-start items-center flex justify-start  mr-[10px]">
              <div class="w-[100%] mr-[5px]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha inicio</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                    text-gray-400
                  "
                  type="date"
                />
                  
              </div>
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha fin</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                    text-gray-400
                  "
                  type="date"
                />
                  
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Correo electrónico *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="email"
                />
                 
              </div>
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Dirección *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
                 
              </div>
            </div>
          </td>
           <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 mr-[10px]">
              <div class=" w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Motivo</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
                 
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Celular *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
                 
              </div>
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Tipo de mercancía *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                <option value="">Potencial</option>
                <option value="">Leal</option>
                </select>
                 
              </div>
            </div>
          </td>
         
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InfGeneralClient",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

