<template>
  <div class=" flex rounded-[20px] items-center justify-between">
    <div class="border p-[10px] rounded-[20px] w-[38%] h-[240px]">
      <div class="flex items-center justify-between">
        <h2 class="font-sansBold text-[18px] text-gray-800">
          Resumen referidos
        </h2>
        <div
          class="flex border items-center p-[8px] rounded-[20px] cursor-pointer"
        >
          <svg
            class="mr-[10px]"
            width="13"
            height="15"
            viewBox="0 0 13 15"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.625 10.5938V1.40625C12.625 1.05078 12.3242 0.75 11.9688 0.75H3C1.55078 0.75 0.375 1.92578 0.375 3.375V12.125C0.375 13.5742 1.55078 14.75 3 14.75H11.9688C12.3242 14.75 12.625 14.4766 12.625 14.0938V13.6562C12.625 13.4648 12.5156 13.2734 12.3789 13.1641C12.2422 12.7266 12.2422 11.5234 12.3789 11.1133C12.5156 11.0039 12.625 10.8125 12.625 10.5938ZM3.875 4.41406C3.875 4.33203 3.92969 4.25 4.03906 4.25H9.83594C9.91797 4.25 10 4.33203 10 4.41406V4.96094C10 5.07031 9.91797 5.125 9.83594 5.125H4.03906C3.92969 5.125 3.875 5.07031 3.875 4.96094V4.41406ZM3.875 6.16406C3.875 6.08203 3.92969 6 4.03906 6H9.83594C9.91797 6 10 6.08203 10 6.16406V6.71094C10 6.82031 9.91797 6.875 9.83594 6.875H4.03906C3.92969 6.875 3.875 6.82031 3.875 6.71094V6.16406ZM10.793 13H3C2.50781 13 2.125 12.6172 2.125 12.125C2.125 11.6602 2.50781 11.25 3 11.25H10.793C10.7383 11.7422 10.7383 12.5352 10.793 13Z"
              fill="#8A8A8A"
            />
          </svg>

          <h2 class="text-[14px] font-sansBold text-gray-600">Condiciones</h2>
        </div>
      </div>
      <div
        class="flex justify-between mt-[16px] items-start border-b pb-[16px]"
      >
        <div class="w-[120px]">
          <h2 class="font-sans text-[14px] text-gray-600">Clientes activos</h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">10</h2>
        </div>
        <div class="flex pt-5 pb-5 items-center border-r h-[80px]"></div>
        <div class="w-[120px]">
          <h2 class="font-sans text-[14px] text-gray-600">
            Ingreso promedio por mes
          </h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">$30.000</h2>
        </div>
        <div class="flex pt-5 pb-5 items-center border-r h-[80px]"></div>
        <div class="w-[120px]">
          <h2 class="font-sans text-[14px] text-gray-600">
            Ingresos generados totales
          </h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">$30.000</h2>
        </div>
        <div class="flex pt-5 pb-5 items-center border-r h-[80px]"></div>
        <div class="w-[120px]">
          <h2 class="font-sans text-[14px] text-gray-600">
            Comisión promedio mensual
          </h2>
          <h2 class="font-sansBold text-[18px] text-gray-800">$30.000</h2>
        </div>
      </div>
      <div class="flex justify-between mt-[16px] items-start">
        <div>
          <h2 class="font-sansBold text-[18px] text-gray-800">
            ¡Empieza a generar ingresos extras!
          </h2>
          <h2 class="font-sans text-[16px] text-gray-600">
            Compartzelo con tus amigos y familiares
          </h2>
        </div>
        <div class="cursor-pointer
              hover:bg-red-b-hov
              bg-red-500 flex items-center  p-[10px]
               rounded-[20px]
              ">
          
            <svg class="mr-[8px] cursor-pointer" width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5.9375 2.875C2.79297 2.875 0.25 5.44531 0.25 8.5625C0.25 11.707 2.79297 14.25 5.9375 14.25C9.05469 14.25 11.625 11.707 11.625 8.5625C11.625 5.44531 9.05469 2.875 5.9375 2.875ZM7.6875 6.53906C8.07031 6.53906 8.39844 6.86719 8.39844 7.25C8.39844 7.66016 8.07031 7.98828 7.6875 7.98828C7.27734 7.98828 6.94922 7.66016 6.94922 7.25C6.94922 6.86719 7.27734 6.53906 7.6875 6.53906ZM4.1875 6.53906C4.57031 6.53906 4.89844 6.86719 4.89844 7.25C4.89844 7.66016 4.57031 7.98828 4.1875 7.98828C3.77734 7.98828 3.44922 7.66016 3.44922 7.25C3.44922 6.86719 3.77734 6.53906 4.1875 6.53906ZM8.67188 10.3945C7.98828 11.1875 6.97656 11.625 5.9375 11.625C4.87109 11.625 3.85938 11.1875 3.17578 10.3945C3.03906 10.2031 3.03906 9.92969 3.23047 9.76562C3.42188 9.60156 3.69531 9.62891 3.85938 9.82031C4.35156 10.4219 5.11719 10.75 5.91016 10.75C6.73047 10.75 7.46875 10.4219 7.98828 9.82031C8.15234 9.62891 8.42578 9.60156 8.61719 9.76562C8.80859 9.92969 8.80859 10.2031 8.67188 10.3945ZM17.3125 2.4375H15.5625V0.6875C15.5625 0.46875 15.3438 0.25 15.125 0.25H14.25C14.0039 0.25 13.8125 0.46875 13.8125 0.6875V2.4375H12.0625C11.8164 2.4375 11.625 2.65625 11.625 2.875V3.75C11.625 3.99609 11.8164 4.1875 12.0625 4.1875H13.8125V5.9375C13.8125 6.18359 14.0039 6.375 14.25 6.375H15.125C15.3438 6.375 15.5625 6.18359 15.5625 5.9375V4.1875H17.3125C17.5312 4.1875 17.75 3.99609 17.75 3.75V2.875C17.75 2.65625 17.5312 2.4375 17.3125 2.4375Z" fill="white"/>
</svg>


          <input
            class="
              text-white text-[14px]
              font-sansBold
              cursor-pointer
            "
            type="submit"
            name=""
            value="Invitación"
            id=""
          />
        </div>
      </div>
    </div>
     <div class="border p-[10px] rounded-[20px] w-[32%]  h-[240px]">
      <div class=" ">
        <h2 class="font-sansBold text-[18px] text-gray-800">
         Total comisión por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Ene</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Feb</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Mar</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Abri</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">May</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 text-gray-600 font-sans font-w-400 text-[12px]">Jun</div>
                </div>
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="pb-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$500 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$400 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$300 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$200 mil</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">$100 mil</div>
                <div class="pt-[4px] text-gray-600 font-sans font-w-400 text-[12px]">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
       
      </div>
      
      
    </div>
      <div class="border p-[10px] rounded-[20px] w-[28%]  h-[240px]">
      <div class=" ">
        <h2 class="font-sansBold text-[18px] text-gray-800">
        Referidos por mes
        </h2>
        <div class="sub_board">
          <div class="sep_board"></div>
          <div class="cont_board">
            <div class="graf_board">
              <div class="barra">
                <div class="sub_barra b1">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Ene</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b2">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Feb</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b3">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Mar</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b4">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">Abri</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b5">
                  <div class="tag_g"></div>
                  <div class="tag_leyenda text-gray-600 font-sans font-w-400 text-[12px]">May</div>
                </div>
              </div>
              <div class="barra">
                <div class="sub_barra b6">
                  <div class="tag_g"></div>
                  <div class="color-gray-4 text-gray-600 font-sans font-w-400 text-[12px]">Jun</div>
                </div>
              </div>
            </div>
            <div class="tag_board">
              <div class="sub_tag_board">
                
                <div class="pb-[4px] text-gray-600 font-sans font-w-400 text-[12px]">30</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">25</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">20</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">15</div>
                <div class="py-[4px] text-gray-600 font-sans font-w-400 text-[12px]">10</div>
                <div class="pt-[4px] text-gray-600 font-sans font-w-400 text-[12px]">0</div>
              </div>
            </div>
          </div>
          <div class="sep_board"></div>
        </div>
       
      </div>
      
      
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}

.board{
    margin: auto;
    width: 100%;
    height: 250px;
    background-color: #e2e2e2;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.titulo_grafica{
    width: 100%;
    height: 10%;
}
.titulo_grafica>h3{
    padding: 0;
    margin: 0px;
    text-align: center;
    
}
.sub_board{
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-top: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.sep_board{
    width: 100%;
    height: 10%;
}
.cont_board{
    width: 100%;
    height: 80%;
}
.graf_board{
    width: 85%;
    height: 140px;
    float: right;
    margin-top: 0px;
    background-color: darkgrey;
    box-sizing: border-box;
    display: flex;
    background: -moz-linear-gradient(top, rgba(206, 0, 0, 0) 100%, 
    rgba(0,0,0,0) 95%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 100%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, 
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%) 30%, rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%,  
    rgba(0,0,0,0) 100%);

    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) 9.5%,  rgba(248, 248, 248, 100%) 10%, rgba(0,0,0,0) 10.5%, 
    rgba(0,0,0,0) 19.5%, rgba(248, 248, 248, 100%) 20%, rgba(0,0,0,0) 20.5%, 
    rgba(0,0,0,0) 29.5%, rgba(248, 248, 248, 100%), rgba(0,0,0,0) 30.5%, 
    rgba(0,0,0,0) 39.5%, rgba(248, 248, 248, 100%) 40%, rgba(0,0,0,0) 40.5%, 
    rgba(0,0,0,0) 49.5%, rgba(248, 248, 248, 100%) 50%, rgba(0,0,0,0) 50.5%, 
    rgba(0,0,0,0) 59.5%, rgba(248, 248, 248, 100%) 60%, rgba(0,0,0,0) 60.5%, 
    rgba(0,0,0,0) 69.5%, rgba(248, 248, 248, 100%) 70%, rgba(0,0,0,0) 70.5%, 
    rgba(0,0,0,0) 79.5%, rgba(248, 248, 248, 100%) 80%, rgba(0,0,0,0) 80.5%, 
    rgba(0,0,0,0) 89.5%, rgba(248, 248, 248, 100%) 90%, rgba(0,0,0,0) 90.5%, 
    rgba(0,0,0,0) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.barra{
    width:100%;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra{
    width: 100%;
    height: 80%;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    background: #C80935;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00799b', endColorstr='#64d1be',GradientType=0 );
    
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 5px 5px 0 0;
}
.tag_g{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 22px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}
.tag_leyenda{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.tag_board{
  
    width: 15%;
  
    
}
.sub_tag_board{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.sub_tag_board>div{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}
.b1{ height: 60%}
.b2{ height: 42%}
.b3{ height: 70%}
.b4{ height: 37%}
.b5{ height: 33%}
.b6{ height: 2%}
</style>






