<template>
  <div class=" my-[24px] flex justify-between border rounded-[20px] px-[24px] py-[24px] items-center">
    <div class="flex pt-5 pb-5 items-center ">
        <h2 class="font-serifBold  text-[24px] text-gray-800 w-[200px] mr-[32px]">
            Total disponible para retirar
        </h2>
        <div class="">
            <h2 class="font-serifBold  text-[24px] text-gray-600 w-[200px] ">
                $200.000
            </h2>
            <h2 class="font-sans text-[14px] text-gray-600">
                Actualizado el 12/03/2021
            </h2>
        </div>
    </div>
    <div class="flex pt-5 pb-5 items-center border-r h-[80px]">
       
    </div>
    <div class="">
        <h2 class="w-[361px] text-sans text-[14px] text-gray-800">
            Este dinero corresponde a clientes nuevos referidos por ti, más los ingresos por transporte en caso de utilizar este servicio. Ten en cuenta que al solicitarlo se desembolsará el dinero a la cuenta bancaria que selecciones.    
        </h2> 
    </div>
    <div>
        <input class="cursor-pointer hover:bg-red-b-hov bg-red-500 p-[10px] text-white text-[14px] rounded-[20px] font-sansBold" type="submit" name="" value="Solicitar desembolso" id="">
    </div>
    
  
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






