<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 overflow-auto">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Agentes
            </div>
          </th>
          <th class="flex justify-end text-right items-center pb-1">
            <div class="flex">
              <div class="flex-align-center height-65 p-h-10 p-v-10">
                <button
                  class="bg-transparent border-0"
                  v-on:click.stop.prevent="toggleBodyHeader()"
                >
                  <svg
                    width="10"
                    height="6"
                    viewBox="0 0 10 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                      fill="#42484E"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <td class="pb-1" colspan="8">
            <div>
              <table class="w-full my-[16px]">
                <tbody>
                  <tr class="border-b-2 border-t-2">
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Código
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Agente
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800 text-center">
                          Orden recogida
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Correo agente
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Contacto
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Teléfono
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Dirección
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Postcode
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Opciones
                        </h2>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[5px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mx-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-[5px]
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                          px-[5px]
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          px-[5px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          09046
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[112px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="email"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[120px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[280px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[68px]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <div class="flex justify-between items-center">
                          <svg
                            class="cursor-pointer mx-2"
                            width="18"
                            height="12"
                            viewBox="0 0 18 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M0.125 5.5625C1.8125 2.25 5.1875 0 9 0C12.8438 0 16.2188 2.25 17.9062 5.5625C17.9688 5.6875 18 5.84375 18 6C18 6.1875 17.9688 6.34375 17.9062 6.46875C16.2188 9.78125 12.8438 12 9 12C5.1875 12 1.8125 9.78125 0.125 6.46875C0.0625 6.34375 0.03125 6.1875 0.03125 6.03125C0.03125 5.84375 0.0625 5.6875 0.125 5.5625ZM9 10.5C11.5 10.5 13.5 8.5 13.5 6C13.5 3.53125 11.5 1.5 9 1.5C6.53125 1.5 4.5 3.53125 4.5 6V6.03125C4.5 8.5 6.53125 10.5312 9 10.5312V10.5ZM9 3C9.28125 3.03125 9.5625 3.0625 9.8125 3.125C9.625 3.375 9.53125 3.6875 9.53125 4.03125C9.53125 4.84375 10.1875 5.5 11 5.5C11.3438 5.5 11.6562 5.40625 11.9062 5.21875C11.9688 5.46875 12 5.75 12 6C12 7.65625 10.6562 9 9 9C7.34375 9 6 7.65625 6 6C6 4.34375 7.34375 3.03125 9 3.03125V3Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="14"
                            height="16"
                            viewBox="0 0 14 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M7 8C4.8125 8 3 6.21875 3 4C3 1.8125 4.8125 0 7 0C9.21875 0 11 1.8125 11 4C11 6.21875 9.21875 8 7 8ZM4.21875 9H4.75C5.4375 9.34375 6.1875 9.5 7 9.5C7.8125 9.5 8.59375 9.34375 9.28125 9H9.8125C12.125 9 14 10.9062 14 13.2188V14.5C14 15.3438 13.3438 16 12.5 16H1.5C0.6875 16 0 15.3438 0 14.5V13.2188C0 10.9062 1.90625 9 4.21875 9Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

