<template>
  <div
    class="
      pt-5
      pb-5
      ml-2
      border
      mt-5
      rounded-[20px]
      px-3.5
      py-3.5
      overflow-auto
    "
  >
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Negociación asignada
            </div>
          </th>
          <th class="flex justify-end text-right pb-1">
            <div class="flex-align-center height-65 p-h-10 p-v-10">
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                    fill="#42484E"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="w-[30%]">
            <div class="flex justify-between items-center pt-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Lista de precios paqueteria *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="email"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="flex justify-between items-center py-10 border-r-2 mt-2"
            ></div>
          </td>
          <td class="w-[30%]">
            <div
              class="flex justify-center items-center pt-2 mr-[10px] pl-[10px]"
            >
              <div class="w-[100%]">
                <div class="flex">
                  <label
                    class="
                      mb-2
                      text-gray-800
                      font-sans
                      text-[14px]
                      color-gray-1
                      block
                      mr-2
                    "
                    >Lista de descuento *</label
                  >
                  <svg
                    class="cursor-pointer hover:bg-gray-800 rounded-[50px]"
                    width="16"
                    height="16"
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M15.75 8C15.75 3.75 12.25 0.25 8 0.25C3.71875 0.25 0.25 3.75 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.25 15.75 15.75 12.2812 15.75 8ZM8 9.5625C8.78125 9.5625 9.4375 10.2188 9.4375 11C9.4375 11.8125 8.78125 12.4375 8 12.4375C7.1875 12.4375 6.5625 11.8125 6.5625 11C6.5625 10.2188 7.1875 9.5625 8 9.5625ZM6.625 4.40625C6.59375 4.1875 6.78125 4 7 4H8.96875C9.1875 4 9.375 4.1875 9.34375 4.40625L9.125 8.65625C9.09375 8.875 8.9375 9 8.75 9H7.21875C7.03125 9 6.875 8.875 6.84375 8.65625L6.625 4.40625Z"
                      fill="#C2C2C2"
                    />
                  </svg>
                </div>
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-2
              "
            ></div>
          </td>
          <td class="w-[33%]">
            <div
              class="flex justify-center items-center pt-2 mr-[10px] pl-[10px]"
            >
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                    mr-2
                  "
                  >¿Se factura fee? *</label
                >

                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="w-[30%]">
            <div class="flex justify-between items-center py-2 pr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Lista de precios mensajería *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="email"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-12px]
              "
            ></div>
          </td>
          <td class="w-[30%] pl-[10px] flex">
            <div class="flex">
              <div class="mr-[10px] w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha inicio</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha fin</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-12px]
              "
            ></div>
          </td>
          <td class="w-[33%] flex pl-[10px]">
            <div class="flex">
              <div class="mr-[10px] w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha inicio</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha fin</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="w-[30%]">
            <div class="flex justify-between items-center py-2 pr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Lista de precios mensajería *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="email"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-30px]
              "
            ></div>
          </td>
          <td class="w-[30%] px-[50px] flex"></td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-30px]
              "
            ></div>
          </td>
          <td class="w-[33%] px-[78px] flex"></td>
        </tr>
        <tr class="">
          <td class="w-[30%]">
            <div class="flex justify-between items-center py-2 pr-[10px]">
              
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-30px]
              "
            ></div>
          </td>
           <td class="w-[30%] flex justify-center m-auto">
            <div class="flex justify-between items-center py-2 p-[10px]">
              <div class="w-full">
                <div class="flex w-[320px]">
                  <h2 class="mb-2 text-gray-800 font-sans text-[14px] w-[100%]">
                    Fecha última promoción 12/04/2022
                    <a class="text-[14px] font-sansBold" href="/"
                      >Ver historial</a
                    >
                  </h2>
                </div>
              </div>
            </div>
          </td>
          <td class="w-[3%]">
            <div
              class="
                flex
                justify-between
                items-center
                px-10
                py-10
                border-r-2
                mt-[-30px]
              "
            ></div>
          </td>
          <td class="w-[33%] px-[78px] flex"></td>
          
            
         
          
          
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

