<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 overflow-auto">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Información bancaria
            </div>
          </th>
          <th class="flex justify-end text-right pb-1">
            <div class="flex-align-center height-65 p-h-10 p-v-10">
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                    fill="#42484E"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="w-[100%] m-0 flex">
            <div class="flex justify-between items-center pt-2 mr-[10px]">
              <div class="w-[100%]">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                   
                  "
                  >Celular de verificación para la inscripción de cuentas y
                  transferencias *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[100%]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />
              </div>
            </div>
          </td>

          <td class="w-[60%]">
            <div class="flex justify-left items-center px-[10px] py-[10px]">
              <div class="w-[100%] border rounded-[20px] border-gray-3 p-5">
                <h2
                  class="
                    font-sansBold
                    text-[18px] text-gray-800 text-left
                    border-b-2
                    py-[8px]
                    border-0 border-gray-3
                  "
                >
                  Cuentas inscritas
                </h2>
                <div class="w-full overflow-auto max-h-40 scroll_sm">
                  <table class="w-full" id="tabla2 ">
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E3E030"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E2E2E2"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E2E2E2"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E2E2E2"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E2E2E2"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="flex p-v-15">
                          <h2
                            class="
                              font-sansBold
                              text-[16px] text-gray-800
                              mr-[5px]
                            "
                          >
                            Santiago Hernandez
                          </h2>
                          <h2 class="font-sans text-[16px] text-gray-800">
                            Bancolombia - Cuenta de ahorros 72860882974
                          </h2>
                        </div>
                      </td>
                      <td>
                        <div class="flex py-[15px]">
                          <h2
                            class="font-sans text-[16px] text-gray-400 mr-[5px]"
                          >
                            Inscrita Lunes 22/04/2022
                          </h2>
                          <svg
                            width="18"
                            height="18"
                            viewBox="0 0 18 18"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.09375 1.5625L6.0625 5.71875L1.46875 6.375C0.65625 6.5 0.34375 7.5 0.9375 8.09375L4.21875 11.3125L3.4375 15.8438C3.3125 16.6562 4.1875 17.2812 4.90625 16.9062L9 14.75L13.0625 16.9062C13.7812 17.2812 14.6562 16.6562 14.5312 15.8438L13.75 11.3125L17.0312 8.09375C17.625 7.5 17.3125 6.5 16.5 6.375L11.9375 5.71875L9.875 1.5625C9.53125 0.84375 8.46875 0.8125 8.09375 1.5625Z"
                              fill="#E2E2E2"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

