<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 overflow-auto">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                height-40
                p-h-10 p-v-10
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Información logística
            </div>
          </th>
          <th class="flex justify-end text-right pb-1">
            <div class="flex-align-center height-65 p-h-10 p-v-10">
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                    fill="#42484E"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center py-2 pr-[20px]">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Tipo de mercancía *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[442px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
            </div>
          </td>

          <td class="w-[33%]">
            <div class="height-65 flex justify-start">
              <div class="flex justify-between w-[442px] border-b-2">
                <h2 class="text-[16px] font-sansBold text-gray-800">
                  Recogidas diarias
                </h2>
                <div
                  class="
                    bg-red-500
                    hover:bg-gray-800
                    px-2
                    py-2
                    rounded-[20px]
                    mb-2
                    cursor-pointer
                  "
                >
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.5 5H7V0.5C7 0.25 6.75 0 6.5 0H5.5C5.21875 0 5 0.25 5 0.5V5H0.5C0.21875 5 0 5.25 0 5.5V6.5C0 6.78125 0.21875 7 0.5 7H5V11.5C5 11.7812 5.21875 12 5.5 12H6.5C6.75 12 7 11.7812 7 11.5V7H11.5C11.75 7 12 6.78125 12 6.5V5.5C12 5.25 11.75 5 11.5 5Z"
                      fill="white"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </td>

          <td class="w-[33%]"></td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Carta de exoneración *</label
                >
                <div
                  class="
                    border
                    rounded-[20px]
                    w-[442px]
                    h-10
                    flex
                    items-center
                    px-5
                    py-5
                  "
                >
                  <input
                    class="border-0 text-[14px] font-sans cursor-pointer"
                    type="file"
                  />
                </div>
              </div>
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between w-[442px]">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Transportadora *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha solicitud *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
            </div>
          </td>
          <td class="w-[33%]"></td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center w-[442px]">
              <div class="flex">
                <label
                  class="
                    w-[144px]
                    mr-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >¿Activar logo en rótulos? *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[61px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
              </div>
              <div class="flex">
                <label
                  class="
                    w-[144px]
                    mr-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >¿Activar prefijo en AVE? *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[61px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between w-[442px]">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Estado *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">Potencial</option>
                  <option value="">Leal</option>
                </select>
              </div>
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Fecha de aprobación *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="date"
                />
              </div>
            </div>
          </td>
          <td class="w-[33%]"></td>
        </tr>
        <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center w-[442px]">
              <div class="flex">
                <label
                  class="
                    w-[144px]
                    mr-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >¿Transporta mercancía vulnerable? *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[61px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
              </div>
              <div class="flex">
                <label
                  class="
                    w-[144px]
                    mr-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >¿Tiene recogida diaria?</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[61px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="">Si</option>
                  <option value="">No</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between w-[442px]">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Días *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                  <option value="">6</option>
                  <option value="">7</option>
                  <option value="">8</option>
                  <option value="">9</option>
                  <option value="">10</option>
                  <option value="">11</option>
                  <option value="">12</option>
                  <option value="">13</option>
                  <option value="">14</option>
                  <option value="">15</option>
                </select>
              </div>
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Ciudad *</label
                >
                <select
                  class="
                    rounded-[20px]
                    w-[213px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                >
                  <option value="none" selected disabled hidden></option>
                  <option value="Arauca">Arauca</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Barranquilla">Barranquilla</option>
                  <option value="Bogotá">Bogotá</option>
                  <option value="Bucaramanga">Bucaramanga</option>
                  <option value="Cali">Cali</option>
                  <option value="Cartagena">Cartagena</option>
                  <option value="Cúcuta">Cúcuta</option>
                  <option value="Florencia">Florencia</option>
                  <option value="Ibagué">Ibagué</option>
                  <option value="Leticia">Leticia</option>
                  <option value="Manizales">Manizales</option>
                  <option value="Medellín">Medellín</option>
                  <option value="Mitú">Mitú</option>
                  <option value="Mocoa">Mocoa</option>
                  <option value="Montería">Montería</option>
                  <option value="Neiva">Neiva</option>
                  <option value="Pasto">Pasto</option>
                  <option value="Pereira">Pereira</option>
                  <option value="Popayán">Popayán</option>
                  <option value="Puerto Carreño">Puerto Carreño</option>
                  <option value="Puerto Inírida">Puerto Inírida</option>
                  <option value="Quibdó">Quibdó</option>
                  <option value="Riohacha">Riohacha</option>
                  <option value="San Andrés">San Andrés</option>
                  <option value="San José del Guaviare">
                    San José del Guaviare
                  </option>
                  <option value="Santa Marta">Santa Marta</option>
                  <option value="Sincelejo">Sincelejo</option>
                  <option value="Tunja">Tunja</option>
                  <option value="Valledupar">Valledupar</option>
                  <option value="Villavicencio">Villavicencio</option>
                  <option value="Yopal">Yopal</option>
                </select>
              </div>
            </div>
          </td>
          <td class="w-[33%]"></td>
        </tr>
         <tr class="">
          <td class="w-[33%]">
            <div class="flex justify-between items-center w-[442px]">
              
            </div>
          </td>
          <td class="w-[33%]">
            <div class="flex justify-between w-[442px]">
              <div class="">
                <label
                  class="
                    mb-2
                    text-gray-800
                    font-sans
                    text-[14px]
                    color-gray-1
                    block
                  "
                  >Dirección *</label
                >
                <input
                  class="
                    rounded-[20px]
                    w-[442px]
                    height-40
                    px-2
                    py-2
                    outline-none
                    border
                    text-gray-800
                    bg-transparent
                  "
                  type="text"
                />                  
              </div>
              
            </div>
          </td>
          <td class="w-[33%]"></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "InfLogistica",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}
</style>



