<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 overflow-auto ">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex 
                border-style-solid
                font-sansBold
                text-[18px]
                 text-gray-800
                
              "
            >
              Planes y servicios
            </div>
          </th>
          <th class="flex justify-end	 text-right pb-1">
            <div
              class="
                 flex-align-center
                height-65
                 p-v-10
              
              "
            >
              <button
                class="bg-transparent border-0"
                v-on:click.stop.prevent="toggleBodyHeader()"
              >
                <svg
                  width="10"
                  height="6"
                  viewBox="0 0 10 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                    fill="#42484E"
                  />
                </svg>
              </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="">
          <td class="w-[30%] " >
            <div
              class="
                flex justify-between items-center
                px-10
                py-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-0
              "
            >
              <div class="mr-[10px]">
                <h2 class="text-[18px] font-sans text-gray-800 ">
                  Plan básico
                </h2>
                 <h2 class="text-[24px] font-serifBold text-gray-800 ">
                  $30.000
                </h2>
                <h2 class="text-[18px] font-sans text-gray-400">
                  Por mes
                </h2>
              </div>
              <div class="px-[10px] ">
                <h2 class="text-[16px] font-sansBold text-gray-800 w-[100%]">
                  Próximo pago
                </h2>
                <h2 class="text-[14px] font-sans text-gray-800">
                  03/03/2020
                </h2>
              </div>
              <div class="p-[5px]">
                <input
                  class="
                    text-[16px] font-sansBold
                    
                    text-white
                    bg-red-500 bg-gray-1-hover
                    rounded-[20px]
                    px-10
                    py-4
                    hover:bg-gray-400
                    cursor-pointer
                    w-[100%]
                    border-0
                  "
                  value="Cambiar plan"
                  type="submit"
                />
              </div>
            </div>
          </td>
          <td class="w-[3%]  " >
            <div
              class="
                flex justify-between items-center
                w-[5%]
                py-10
                px-[2px]
                border-r-2
                
              "
            > </div>
          </td>
          <td class="w-[30%]" >
            <div
              class="
                
                height-65
                flex justify-start
                 
              "
            >
              <div class="text-center mr-10">
                <h2 class="text-[16px] font-sansBold text-gray-800">
                  Credito
                </h2>
                <div
                  class="
                    border rounded-[5px] border-gray-3 border-style-solid
                  "
                >
                  <select
                    class="
                    pr-[15px]
                      border-0
                      bg-transparent
                      h-10
                      px-5 p-v-5
                      outline-none
                      text-gray-400
                      font-sans
                      text-[14px]
                      
                    "
                    name="cars"
                    id="cars"
                  >
                    <option class="color-gray-3" value="free">SI</option>
                    <option class="color-gray-3" value="starter">NO</option>
                  </select>
                </div>
              </div>
              <div class="w-[180px]">
                <h2 class="text-[16px] font-sansBold text-gray-800 mb-3">
                  Próximo pago cartera vencida
                </h2>
                <h2 class="text-[14px] font-sans text-gray-800 flex">
                  03/03/2020
                </h2>
              </div>
            </div>
          </td>
          <td class="w-[3%]  " >
            <div
              class="
                flex justify-between items-center
                px-[2px]
                py-10
                border-r-2
                
              "
            ></div>
          </td>
          <td class="w-[33%]" >
            <div
              class="
                justify-around
                py-10 px-[10px]
                items-center flex justify-center
              "
            >
              <div class="mr-[10px]">
                <input
                  value="Cotizar envío"
                  type="submit"
                  class="
                    w-[100%]
                    py-4
                    px-4
                    rounded-[20px]
                    font-14 font-w-700 font-roboto
                    bg-gray-400 hover:bg-gray-800
                    cursor-pointer
                    text-white
                    font-sansBold
                    border-radius-5 border-0
                  "
                />
              </div>
              <div class="">
                <input
                  value="Enviar negociación"
                  type="submit"
                   class="
                    w-[100%]
                    py-4
                    px-4
                    rounded-[20px]
                    font-14 font-w-700 font-roboto
                    bg-gray-400 hover:bg-gray-800
                    cursor-pointer
                    text-white
                    font-sansBold
                    border-radius-5 border-0
                  "
                />
              </div>
            </div>
          </td>
        </tr>
        <tr class="">
          <td class="">
            <div
              class="
                flex flex-justify-center flex-align-center
                px-10 p-v-10
                height-65
                border-gray-3
                border-style-solid
                border-r-0
                border-r-0
                border-t-0
                border-l-1
                border-b-1
                border-b-l-radius-5
              "
            ></div>
          </td>
          <td class="">
            <div
              class="
                p-v-10 px-10
                height-65
                flex flex-align-center
                border-0 border-b-1 border-style-solid border-gray-3
              "
            ></div>
          </td>

          <td class="" colspan="2">
            <div
              class="
                p-v-10 px-10
                height-65
                border-style-solid
                border-b-1
                border-gray-3
                border-r-1
                border-l-0
                border-t-0
                flex-align-center flex flex-justify-center
                border-b-r-radius-5
              "
            ></div>
          </td>
        </tr>
      </tbody>
    </table>

    
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "PlanesServicios",
  props: {
    title1: String,
    money:String,
    text:String,
    text1:String,
    date:String,
    title2:String,
    title3:String,
    date1:String
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>


.bodyTable:not(.active) {
  display: none;
}
</style>

