<template>
  <div class="pt-5 pb-5 ml-2 border mt-5 rounded-[20px] px-3.5 py-3.5 overflow-auto">
    <table class="border-white-3 w-full" style="max-width: 100%">
      <thead
        :id="`headerTable-${id}`"
        :class="`w-full  border-0 headerTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <th class="pb-1" colspan="4">
            <div
              class="
                flex-align-center flex flex-justify-start
                border-gray-3 border-style-solid
                font-sansBold
                text-gray-800 text-[18px]
              "
            >
              Transportadoras
            </div>
          </th>
          <th class="flex justify-end text-right items-center pb-1">
            <div class="flex">
              <div class="flex-align-center height-65 p-h-10 p-v-10">
                <button
                  class="bg-transparent border-0"
                  v-on:click.stop.prevent="toggleBodyHeader()"
                >
                  <svg
                    width="10"
                    height="6"
                    viewBox="0 0 10 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M9.14165 6C9.90946 6 10.2934 5.06866 9.73496 4.53134L5.58183 0.268657C5.26773 -0.089552 4.74423 -0.0895519 4.39523 0.268657L0.242105 4.53134C-0.281397 5.06866 0.102505 6 0.835409 6L9.14165 6Z"
                      fill="#42484E"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody
        :id="`bodyTable-${id}`"
        :class="`border-t-2  bodyTable ${showBody ? `active` : ``}`"
      >
        <tr class="pb-5">
          <td class="pb-1" colspan="8">
            <div>
              <table class="w-full my-[16px]">
                <tbody>
                  <tr class="border-b-2 border-t-2">
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Transportadora
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center w-[400px] m-auto">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Activar para recogidas en proveedores?
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center w-[300px] m-auto">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                          Plugin Wordpress
                        </h2>
                      </div>
                    </td>
                    <td>
                      <div class="py-[10px] flex justify-center">
                        <h2 class="font-sansBold text-[16px] text-gray-800">
                         Opciones
                        </h2>
                      </div>
                    </td>
                  </tr>
                  <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                           p-[5px]
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                   <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                   <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                   <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                          w-[100%]
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                   <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                   <tr class="">
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <h2 class="font-sans text-[16px] text-gray-800">
                          Envia
                        </h2>
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                           p-[5px]
                          justify-center
                        "
                      >
                        <input
                          class="
                            font-sans
                            px-2
                            text-[16px] text-gray-800
                            outline-none
                            border
                            h-[40px]
                            rounded-[20px]
                            w-[100%]
                          "
                          type="text"
                        />
                      </div>
                    </td>
                    
                    <td class="">
                      <div
                        class="
                          py-[10px]
                          my-[10px]
                          mr-[-2px]
                          flex
                          justify-center
                        "
                      >
                      
                        <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Costos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Paquetería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Mensajería">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Recaudos">
                         <input class="bg-gray-400 outline-none h-[40px] w-[100%] text-white text-[14px] font-sansBold rounded-[20px] cursor-pointer hover:bg-gray-800 px-[1px] mx-[4px]" type="submit" value="Otros Destinos">
                      
                        <div class="flex justify-between items-center">
                          
                          <svg
                            class="cursor-pointer mx-2"
                            width="12"
                            height="12"
                            viewBox="0 0 12 12"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M8.0625 6L11.1875 2.875C11.5938 2.5 11.5938 1.875 11.1875 1.5L10.5 0.8125C10.125 0.40625 9.5 0.40625 9.125 0.8125L6 3.9375L2.84375 0.8125C2.46875 0.40625 1.84375 0.40625 1.46875 0.8125L0.78125 1.5C0.375 1.875 0.375 2.5 0.78125 2.875L3.90625 6L0.78125 9.15625C0.375 9.53125 0.375 10.1562 0.78125 10.5312L1.46875 11.2188C1.84375 11.625 2.46875 11.625 2.84375 11.2188L6 8.09375L9.125 11.2188C9.5 11.625 10.125 11.625 10.5 11.2188L11.1875 10.5312C11.5938 10.1562 11.5938 9.53125 11.1875 9.15625L8.0625 6Z"
                              fill="#8A8A8A"
                            />
                          </svg>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                  
                  
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "DatosFacturacion",
  props: {
    title1: String,
    money: String,
    text: String,
    text1: String,
    date: String,
    title2: String,
    title3: String,
    date1: String,
  },
  data() {
    return {
      id: null,
      showBody: false,
    };
  },
  mounted() {
    this.id = uuidv4();
  },

  methods: {
    toggleBodyHeader: function () {
      this.showBody = !this.showBody;
    },
  },
};
</script>

 <style>
.bodyTable:not(.active) {
  display: none;
}

select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='15px' viewBox='0 0 450 520'><path d='M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z'/></svg>");
  background-repeat: no-repeat;
  background-position: right;
  color: #8a8a8a;

  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
</style>

