<template>
  <div
    class="p-[16px] justify-center mx-[24px] items-center border rounded-[20px]"
  >
    <div class="flex justify-between items-center">
      <div class="flex">
        <h2 class="font-sansBold text-[18px] text-gray-800">
          Embudo comercial
        </h2>
      </div>
      <div class="flex items-center">
        <div class="">
          <div class="flex items-center">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25C3.71875 0.25 0.25 3.71875 0.25 8ZM4.71875 8.90625C4.4375 9.21875 3.9375 9.21875 3.65625 8.9375L3.3125 8.59375C3 8.28125 3 7.8125 3.3125 7.53125L7.46875 3.375C7.75 3.09375 8.21875 3.09375 8.53125 3.375L12.6562 7.53125C12.9688 7.8125 12.9688 8.28125 12.6562 8.59375L12.3125 8.9375C12.0312 9.21875 11.5312 9.21875 11.25 8.90625L9 6.5625V12.25C9 12.6875 8.65625 13 8.25 13H7.75C7.3125 13 7 12.6875 7 12.25V6.5625L4.71875 8.90625Z"
                fill="#1BC755"
              />
            </svg>
            <h2 class="font-sans text-[14px] text-gray-600 px-[2px]">
              Aumentaron operación
            </h2>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <h2 class="text-[18px] font-sansBold text-gray-600">Total</h2>
              <h2 class="text-[18px] font-sansBold text-gray-800 px-[3px]">
                350
              </h2>
              <h2 class="border-r h-[20px] px-[3px]"></h2>
              <svg
                class="mx-[8px]"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.59375 1.78125L3.84375 1.03125C4.1875 0.9375 4.5625 1.125 4.71875 1.46875L6.21875 4.96875C6.34375 5.28125 6.25 5.625 6 5.84375L4.09375 7.40625C5.21875 9.78125 7.1875 11.7812 9.625 12.9375L11.1875 11.0312C11.4062 10.7812 11.75 10.6875 12.0625 10.8125L15.5625 12.3125C15.9062 12.4688 16.0625 12.8438 16 13.1875L15.25 16.4375C15.1562 16.7812 14.875 17 14.5 17C6.5 17 0 10.5312 0 2.5C0 2.15625 0.25 1.875 0.59375 1.78125Z"
                  fill="#C2C2C2"
                />
              </svg>

              <h2 class="text-[20px] font-sansBold text-gray-800 px-[3px]">
                20
              </h2>
            </div>
          </div>
        </div>
        <div class="border-r h-[50px] mx-[10px]"></div>
        <div class="">
          <div class="flex items-center">
            <svg
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.75 8C15.75 3.71875 12.2812 0.25 8 0.25C3.71875 0.25 0.25 3.71875 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8ZM11.25 7.125C11.5312 6.8125 12.0312 6.8125 12.3125 7.09375L12.6562 7.4375C12.9688 7.71875 12.9688 8.21875 12.6562 8.5L8.5 12.6562C8.21875 12.9375 7.75 12.9375 7.46875 12.6562L3.3125 8.5C3.03125 8.21875 3.03125 7.75 3.3125 7.4375L3.65625 7.09375C3.9375 6.8125 4.4375 6.8125 4.71875 7.125L7 9.46875V3.75C7 3.34375 7.3125 3 7.75 3H8.25C8.65625 3 9 3.34375 9 3.75V9.46875L11.25 7.125Z"
                fill="#FBAB2D"
              />
            </svg>

            <h2 class="font-sans text-[14px] text-gray-600 px-[2px]">
              Disminuyeron operación
            </h2>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <h2 class="text-[18px] font-sansBold text-gray-600">Total</h2>
              <h2 class="text-[18px] font-sansBold text-gray-800 px-[3px]">
                350
              </h2>
              <h2 class="border-r h-[20px] px-[3px]"></h2>
              <svg
                class="mx-[8px]"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.59375 1.78125L3.84375 1.03125C4.1875 0.9375 4.5625 1.125 4.71875 1.46875L6.21875 4.96875C6.34375 5.28125 6.25 5.625 6 5.84375L4.09375 7.40625C5.21875 9.78125 7.1875 11.7812 9.625 12.9375L11.1875 11.0312C11.4062 10.7812 11.75 10.6875 12.0625 10.8125L15.5625 12.3125C15.9062 12.4688 16.0625 12.8438 16 13.1875L15.25 16.4375C15.1562 16.7812 14.875 17 14.5 17C6.5 17 0 10.5312 0 2.5C0 2.15625 0.25 1.875 0.59375 1.78125Z"
                  fill="#C2C2C2"
                />
              </svg>

              <h2 class="text-[20px] font-sansBold text-gray-800 px-[3px]">
                20
              </h2>
            </div>
          </div>
        </div>
        <div class="border-r h-[50px] mx-[10px]"></div>
        <div class="">
          <div class="flex items-center">
            <h2 class="font-sans text-[14px] text-gray-600 px-[2px]">
              Pendientes cancelación
            </h2>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <h2 class="text-[18px] font-sansBold text-gray-600">Total</h2>
              <h2 class="text-[18px] font-sansBold text-gray-800 px-[3px]">
                350
              </h2>
              <h2 class="border-r h-[20px] px-[3px]"></h2>
              <svg
                class="mx-[8px]"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.59375 1.78125L3.84375 1.03125C4.1875 0.9375 4.5625 1.125 4.71875 1.46875L6.21875 4.96875C6.34375 5.28125 6.25 5.625 6 5.84375L4.09375 7.40625C5.21875 9.78125 7.1875 11.7812 9.625 12.9375L11.1875 11.0312C11.4062 10.7812 11.75 10.6875 12.0625 10.8125L15.5625 12.3125C15.9062 12.4688 16.0625 12.8438 16 13.1875L15.25 16.4375C15.1562 16.7812 14.875 17 14.5 17C6.5 17 0 10.5312 0 2.5C0 2.15625 0.25 1.875 0.59375 1.78125Z"
                  fill="#C2C2C2"
                />
              </svg>

              <h2 class="text-[20px] font-sansBold text-gray-800 px-[3px]">
                20
              </h2>
            </div>
          </div>
        </div>
        <div class="border-r h-[50px] mx-[10px]"></div>
        <div class="">
          <div class="flex items-center">
            <h2 class="font-sans text-[14px] text-gray-600 px-[2px]">
              Pendientes info. Tributaria
            </h2>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <h2 class="text-[18px] font-sansBold text-gray-600">Total</h2>
              <h2 class="text-[18px] font-sansBold text-gray-800 px-[3px]">
                350
              </h2>
            </div>
          </div>
        </div>
        <div class="border-r h-[50px] mx-[10px]"></div>
        <div class="">
          <div class="flex items-center">
            <h2 class="font-sans text-[14px] text-gray-600 px-[2px]">Otros</h2>
          </div>
          <div class="flex">
            <div class="flex items-center">
              <svg
                width="28"
                height="28"
                viewBox="0 0 28 28"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M18.1608 24.1129C18.3718 24.1481 18.5238 24.061 18.6765 23.9136C18.7681 23.8251 18.8597 23.7367 18.8916 23.5864L19.6524 20.4026C19.7156 20.1624 19.6579 19.9194 19.4788 19.7339C19.4191 19.6721 19.3296 19.5794 19.2394 19.5471L15.814 18.0165C15.5739 17.89 15.2713 17.9432 15.027 18.1791L14.9965 18.2086L13.4358 20.0144C11.0933 18.8717 9.18296 16.8936 8.09295 14.4816L9.95206 12.985L9.98259 12.9555C10.2269 12.7196 10.2907 12.4191 10.1726 12.1746L8.7625 8.69796C8.73333 8.60666 8.64379 8.51393 8.58409 8.45211C8.405 8.26665 8.16416 8.20057 7.92194 8.25527L4.71349 8.90456C4.38036 8.98733 4.16594 9.25412 4.16183 9.61649C4.04297 17.4369 10.341 23.9587 18.1608 24.1129ZM10.473 6.98637C10.142 6.88794 9.83733 7.12241 9.80337 7.45387L9.79926 7.81624C9.79652 8.05781 9.94508 8.27275 10.1859 8.33884C10.3664 8.40351 10.5462 8.52857 10.7253 8.71402C10.8745 8.86857 10.9932 9.0526 11.0515 9.23521C11.1092 9.47821 11.3188 9.63418 11.5603 9.63987L11.9226 9.64841C12.2551 9.62605 12.5 9.32977 12.4132 8.99546C12.1521 8.05293 11.4059 7.28021 10.473 6.98637ZM10.5354 1.49044C10.2341 1.42292 9.98987 1.65881 9.98644 1.96078L9.95249 2.29224C9.9796 2.56473 10.158 2.81058 10.4294 2.84718C13.7171 3.19654 16.3139 5.88563 16.5483 9.18356C16.5755 9.45605 16.8149 9.64292 17.0863 9.67953L17.4187 9.65716C17.7207 9.66428 17.9649 9.42839 17.908 9.12499C17.6512 5.13182 14.5171 1.88636 10.5354 1.49044ZM10.474 4.23769C10.1728 4.17018 9.89867 4.37515 9.89525 4.67713L9.89114 5.0395C9.85787 5.31056 10.0668 5.52693 10.3077 5.59301C12.1469 5.84781 13.6095 7.36236 13.7999 9.20938C13.8576 9.45239 14.0665 9.66875 14.3386 9.64496L14.7009 9.6535C15.0028 9.66062 15.2172 9.39382 15.1602 9.09042C14.9169 6.57763 12.9462 4.59802 10.474 4.23769Z"
                  fill="#C80935"
                />
              </svg>
              <h2 class="text-[18px] font-sansBold text-gray-800">1</h2>

              <h2 class="border-r h-[20px] px-[3px]"></h2>
              <svg
                class="mx-[8px]"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.59375 1.78125L3.84375 1.03125C4.1875 0.9375 4.5625 1.125 4.71875 1.46875L6.21875 4.96875C6.34375 5.28125 6.25 5.625 6 5.84375L4.09375 7.40625C5.21875 9.78125 7.1875 11.7812 9.625 12.9375L11.1875 11.0312C11.4062 10.7812 11.75 10.6875 12.0625 10.8125L15.5625 12.3125C15.9062 12.4688 16.0625 12.8438 16 13.1875L15.25 16.4375C15.1562 16.7812 14.875 17 14.5 17C6.5 17 0 10.5312 0 2.5C0 2.15625 0.25 1.875 0.59375 1.78125Z"
                  fill="#C2C2C2"
                />
              </svg>

              <h2 class="text-[20px] font-sansBold text-gray-800 px-[3px]">
                20
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center py-[16px] justify-between">
      <div class="text-center px-[2px]">
        <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
        <h2 class="font-sansBold text-gray-800 text-[16px]">Potencial</h2>
        <div
          class="
            border-red-500 border
            rounded-[20px]
            bg-red-150
            p-[3px]
            flex
            items-center
          "
        >
          <h2 class="font-sans text-gray-800 text-[12px]">Sin contactar</h2>
          <h2 class="font-sansBold text-gray-800 text-[14px] px-[2px]">4</h2>
        </div>
      </div>
      <div class="border-r-2 border-amber-800 h-[80px] px-[5px]"></div>
      <div class="text-center px-[5px]">
        <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
        <h2 class="font-sansBold text-gray-800 text-[16px]">Lead</h2>
        <div
          class="
            border-red-500 border
            rounded-[20px]
            bg-red-150
             p-[3px]
            flex
            items-center
          "
        >
          <h2 class="font-sans text-gray-800 text-[12px]">Sin contactar</h2>
          <h2 class="font-sansBold text-gray-800 text-[14px] px-[2px]">4</h2>
        </div>
      </div>
      <div class="border-r-2 border-amber-300 h-[80px] px-[5px]"></div>
      <div class="text-center px-[5px] flex">
        <div class="">
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Sin registrar</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Registrado</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">
              Listo para <br />comenzar
            </h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
        </div>
        <div class="">
          <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
          <h2 class="font-sansBold text-gray-800 text-[16px]">Activos</h2>
          <div
            class="
              border-red-500 border
              rounded-[20px]
              bg-red-150
               p-[3px]
              flex
              items-center
            "
          >
            <h2 class="font-sans text-gray-800 text-[12px]">Sin contactar</h2>
            <h2 class="font-sansBold text-gray-800 text-[14px] px-[2px]">4</h2>
          </div>
        </div>
      </div>
      <div class="border-r-2 border-emerald-350 h-[80px] px-[5px]"></div>
      <div class="text-center px-[5px] flex">
        <div class="">
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Nuevo</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Esporádico</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Frecuente</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
        </div>
        <div class="items-center">
          <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
          <h2 class="font-sansBold text-gray-800 text-[16px]">Inactivos</h2>
        </div>
      </div>
      <div class="border-r-2 h-[80px] px-[5px]"></div>
      <div class="text-center px-[5px] flex">
        <div class="">
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">15 días</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">30 días</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">≥ 60 días</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
        </div>
        <div class="items-center">
          <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
          <h2 class="font-sansBold text-gray-800 text-[16px]">Perdido</h2>
        </div>
      </div>
      <div class="border-r-2 border-red-150 h-[80px] px-[5px]"></div>
      <div class="text-center px-[5px] flex">
        <div class="">
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px] text-left">
              Rechazo oferta
            </h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Cancelada</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
          <div class="flex items-center justify-between">
            <h2 class="font-sans text-gray-800 text-[14px]">Vedado</h2>
            <h2 class="font-sansBold text-gray-600 text-[16px] px-[10px]">
              600
            </h2>
          </div>
        </div>
      </div>
      <div class="text-center px-[5px] flex bg-gray-100 items-center py-[10px] rounded-[20px]">
        <div class="items-center px-[2px]">
          <h2 class="font-serifBold text-gray-600 text-[24px]">600</h2>
          <h2 class="font-sansBold text-gray-800 text-[16px]">Cartera</h2>
        </div>
        <div class="border-r-2 border-red-500 h-[80px] px-[5px]"></div>
        <div class="px-[4px]">
          <div class="flex items-center">
            <svg
              width="14"
              height="13"
              viewBox="0 0 14 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.6055 2.88281H2.1875C1.94141 2.88281 1.75 2.69141 1.75 2.44531C1.75 2.22656 1.94141 2.00781 2.1875 2.00781H12.6875C12.9062 2.00781 13.125 1.81641 13.125 1.57031C13.125 0.859375 12.5234 0.257812 11.8125 0.257812H1.75C0.765625 0.257812 0 1.05078 0 2.00781V10.7578C0 11.7422 0.765625 12.5078 1.75 12.5078H12.6055C13.3711 12.5078 14 11.9336 14 11.1953V4.19531C14 3.48438 13.3711 2.88281 12.6055 2.88281ZM11.375 8.57031C10.8828 8.57031 10.5 8.1875 10.5 7.69531C10.5 7.23047 10.8828 6.82031 11.375 6.82031C11.8398 6.82031 12.25 7.23047 12.25 7.69531C12.25 8.1875 11.8398 8.57031 11.375 8.57031Z"
                fill="#8A8A8A"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
          <div class="flex items-center">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14 7.38281C14 6.37109 13.3438 5.49609 12.4141 5.14062C12.8242 4.26562 12.6602 3.17188 11.9492 2.43359C11.2109 1.72266 10.1172 1.55859 9.24219 1.96875C8.88672 1.03906 8.01172 0.382812 7 0.382812C5.96094 0.382812 5.08594 1.03906 4.73047 1.96875C3.85547 1.55859 2.76172 1.72266 2.05078 2.43359C1.3125 3.17188 1.14844 4.26562 1.55859 5.14062C0.628906 5.49609 0 6.37109 0 7.38281C0 8.42188 0.628906 9.29688 1.55859 9.65234C1.14844 10.5273 1.3125 11.6211 2.05078 12.332C2.76172 13.0703 3.85547 13.2344 4.73047 12.8242C5.08594 13.7539 5.96094 14.3828 7 14.3828C8.01172 14.3828 8.88672 13.7539 9.24219 12.8242C10.1445 13.2344 11.2109 13.0703 11.9492 12.332C12.6602 11.6211 12.8242 10.5273 12.4141 9.65234C13.3438 9.29688 14 8.42188 14 7.38281ZM10.0352 6.17969L6.45312 9.73438C6.31641 9.87109 6.125 9.84375 6.01562 9.73438L3.9375 7.65625C3.82812 7.54688 3.82812 7.35547 3.9375 7.21875L4.64844 6.50781C4.78516 6.39844 4.97656 6.39844 5.08594 6.53516L6.23438 7.68359L8.88672 5.05859C9.02344 4.92188 9.21484 4.92188 9.32422 5.05859L10.0352 5.76953C10.1445 5.87891 10.1445 6.07031 10.0352 6.17969Z"
                fill="#1BC755"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
          <div class="flex items-center">
            <svg
              width="18"
              height="19"
              viewBox="0 0 18 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 2.60156C5.25391 2.60156 2.21875 5.66406 2.21875 9.38281C2.21875 13.1289 5.25391 16.1641 9 16.1641C12.7188 16.1641 15.7812 13.1289 15.7812 9.38281C15.7812 5.66406 12.7188 2.60156 9 2.60156ZM12.5547 5.82812C14.332 7.63281 14.4688 10.3672 13.1016 12.2812L6.10156 5.28125C8.01562 3.91406 10.75 4.05078 12.5547 5.82812ZM5.41797 12.9648C3.64062 11.1602 3.50391 8.42578 4.87109 6.51172L11.8711 13.5117C9.95703 14.8789 7.22266 14.7422 5.41797 12.9648Z"
                fill="#D81023"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
        </div>
        <div class="px-[4px]">
          <div class="flex items-center">
            <svg
              width="18"
              height="19"
              viewBox="0 0 18 19"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.7812 7.85156L15.1797 7.22266C14.9062 6.97656 14.4961 6.97656 14.25 7.22266L14.0859 7.38672L10.9961 4.29688L11.1602 4.13281C11.4062 3.88672 11.4062 3.47656 11.1602 3.20312L10.5312 2.60156C10.2852 2.32812 9.875 2.32812 9.60156 2.60156L6.21094 5.99219C5.9375 6.23828 5.9375 6.67578 6.21094 6.92188L6.8125 7.55078C7.08594 7.79688 7.49609 7.79688 7.74219 7.55078L7.90625 7.38672L9 8.45312L6.78516 10.6953L6.62109 10.5312C6.26562 10.1758 5.71875 10.1758 5.39062 10.5312L2.24609 13.6758C1.89062 14.0039 1.89062 14.5508 2.24609 14.9062L3.47656 16.1367C3.83203 16.4922 4.37891 16.4922 4.70703 16.1367L7.85156 12.9922C8.20703 12.6641 8.20703 12.1172 7.85156 11.7617L7.6875 11.5977L9.92969 9.38281L10.9961 10.4766L10.832 10.6406C10.5859 10.8867 10.5859 11.2969 10.832 11.5703L11.4609 12.1719C11.707 12.4453 12.1445 12.4453 12.3906 12.1719L15.7812 8.78125C16.0547 8.50781 16.0547 8.09766 15.7812 7.85156Z"
                fill="#D81023"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
          <div class="flex items-center">
            <svg
              width="18"
              height="15"
              viewBox="0 0 18 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.832 4.85742C14.3602 3.89355 13.0082 3.89 12.533 4.85742C10.2038 9.62344 10.2815 9.39375 10.2815 9.82031C10.2815 11.027 11.8142 12.0078 13.7083 12.0078C15.6025 12.0078 17.1111 11.0267 17.1111 9.82031C17.0862 9.38008 17.1478 9.58242 14.832 4.85742ZM11.7317 9.38281L13.6583 5.44531L15.5904 9.38281H11.7317ZM6.82969 9.82031C6.82969 9.37953 6.8665 9.58105 4.55082 4.85742C4.07909 3.89355 2.72708 3.89 2.25187 4.85742C-0.0773368 9.62344 0.000303281 9.39375 0.000303281 9.82031C0.000303281 11.027 1.53303 12.0078 3.40308 12.0078C5.27314 12.0078 6.82969 11.0262 6.82969 9.82031ZM3.40014 5.44531L5.33311 9.38281H1.47413L3.40014 5.44531ZM13.231 12.8828H9.39984V4.82461C10.029 4.54297 10.5002 3.96328 10.6421 3.25781H13.6834C14.1565 3.25781 14.5161 2.86598 14.5161 2.38281C14.5161 1.89965 14.1324 1.50781 13.6834 1.50781H10.2459C9.85444 0.977891 9.24189 0.632812 8.54259 0.632812C7.84329 0.632812 7.20718 0.977891 6.8404 1.50781H3.40281C2.92894 1.50781 2.5461 1.89965 2.5461 2.38281C2.5461 2.86598 2.92894 3.25781 3.37872 3.25781H6.42007C6.56062 3.96191 7.03235 4.54297 7.66151 4.82324V12.8828H3.83117C3.12144 12.8828 2.54583 13.4704 2.54583 14.1953C2.54583 14.4369 2.73765 14.6328 2.97419 14.6328H14.1115C14.3481 14.6328 14.5399 14.4369 14.5399 14.1953C14.5402 13.4707 13.9645 12.8828 13.231 12.8828Z"
                fill="#D81023"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
          <div class="flex items-center">
            <svg
              width="11"
              height="15"
              viewBox="0 0 11 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.75 3.71875C10.75 3.55469 10.668 3.39062 10.5586 3.25391L7.87891 0.574219C7.74219 0.464844 7.57812 0.382812 7.41406 0.382812H7.25V3.88281H10.75V3.71875ZM10.75 4.75781H7.03125C6.64844 4.75781 6.375 4.48438 6.375 4.10156V0.382812H0.90625C0.523438 0.382812 0.25 0.683594 0.25 1.03906V13.7266C0.25 14.1094 0.523438 14.3828 0.90625 14.3828H10.0938C10.4492 14.3828 10.75 14.1094 10.75 13.7266V4.75781ZM4.40625 6.42578C4.40625 6.23438 4.54297 6.07031 4.73438 6.07031H6.23828C6.42969 6.07031 6.56641 6.23438 6.56641 6.42578L6.375 9.48828C6.34766 9.67969 6.21094 9.78906 6.04688 9.78906H4.95312C4.76172 9.78906 4.625 9.67969 4.625 9.48828L4.40625 6.42578ZM6.59375 11.3203C6.59375 11.9492 6.10156 12.4141 5.5 12.4141C4.87109 12.4141 4.40625 11.9492 4.40625 11.3203C4.40625 10.7188 4.87109 10.2266 5.5 10.2266C6.10156 10.2266 6.59375 10.7188 6.59375 11.3203Z"
                fill="#D81023"
              />
            </svg>

            <h2
              class="font-sansBold text-gray-600 text-[14px] text-left px-[5px]"
            >
              600
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style scoped>
.sds {
  position: absolute;
  right: 25px;
  cursor: pointer;
}
</style>
