<template>
  <div class="flex justify-center bg-red-150 p-[24px] items-center">
    <svg
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18.1608 24.1129C18.3718 24.1481 18.5238 24.061 18.6765 23.9136C18.7681 23.8251 18.8597 23.7367 18.8916 23.5864L19.6524 20.4026C19.7156 20.1624 19.6579 19.9194 19.4788 19.7339C19.4191 19.6721 19.3296 19.5794 19.2394 19.5471L15.814 18.0165C15.5739 17.89 15.2713 17.9432 15.027 18.1791L14.9965 18.2086L13.4358 20.0144C11.0933 18.8717 9.18296 16.8936 8.09295 14.4816L9.95206 12.985L9.98259 12.9555C10.2269 12.7196 10.2907 12.4191 10.1726 12.1746L8.7625 8.69796C8.73333 8.60666 8.64379 8.51393 8.58409 8.45211C8.405 8.26665 8.16416 8.20057 7.92194 8.25527L4.71349 8.90456C4.38036 8.98733 4.16594 9.25412 4.16183 9.61649C4.04297 17.4369 10.341 23.9587 18.1608 24.1129ZM10.473 6.98637C10.142 6.88794 9.83733 7.12241 9.80337 7.45387L9.79926 7.81624C9.79652 8.05781 9.94508 8.27275 10.1859 8.33884C10.3664 8.40351 10.5462 8.52857 10.7253 8.71402C10.8745 8.86857 10.9932 9.0526 11.0515 9.23521C11.1092 9.47821 11.3188 9.63418 11.5603 9.63987L11.9226 9.64841C12.2551 9.62605 12.5 9.32977 12.4132 8.99546C12.1521 8.05293 11.4059 7.28021 10.473 6.98637ZM10.5354 1.49044C10.2341 1.42292 9.98987 1.65881 9.98644 1.96078L9.95249 2.29224C9.9796 2.56473 10.158 2.81058 10.4294 2.84718C13.7171 3.19654 16.3139 5.88563 16.5483 9.18356C16.5755 9.45605 16.8149 9.64292 17.0863 9.67953L17.4187 9.65716C17.7207 9.66428 17.9649 9.42839 17.908 9.12499C17.6512 5.13182 14.5171 1.88636 10.5354 1.49044ZM10.474 4.23769C10.1728 4.17018 9.89867 4.37515 9.89525 4.67713L9.89114 5.0395C9.85787 5.31056 10.0668 5.52693 10.3077 5.59301C12.1469 5.84781 13.6095 7.36236 13.7999 9.20938C13.8576 9.45239 14.0665 9.66875 14.3386 9.64496L14.7009 9.6535C15.0028 9.66062 15.2172 9.39382 15.1602 9.09042C14.9169 6.57763 12.9462 4.59802 10.474 4.23769Z"
        fill="#C80935"
      />
    </svg>

    <h2 class="font-sans text-[14px] text-gray-800">
      Tienes 5 clientes pendientes de llamar en menos de 60 minutos
      <a style="text-decoration: underline; cursor: pointer">
        ver llamadas prioritarias</a
      >
    </h2>
    <svg class="sds" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.70705 6L10.8321 2.875C11.2383 2.5 11.2383 1.875 10.8321 1.5L10.1446 0.8125C9.76955 0.40625 9.14455 0.40625 8.76955 0.8125L5.64455 3.9375L2.4883 0.8125C2.1133 0.40625 1.4883 0.40625 1.1133 0.8125L0.425803 1.5C0.0195532 1.875 0.0195532 2.5 0.425803 2.875L3.5508 6L0.425803 9.15625C0.0195532 9.53125 0.0195532 10.1562 0.425803 10.5312L1.1133 11.2188C1.4883 11.625 2.1133 11.625 2.4883 11.2188L5.64455 8.09375L8.76955 11.2188C9.14455 11.625 9.76955 11.625 10.1446 11.2188L10.8321 10.5312C11.2383 10.1562 11.2383 9.53125 10.8321 9.15625L7.70705 6Z" fill="#8A8A8A"/>
</svg>

  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style scoped>

.sds{
    position: absolute;
    right: 25px;
    cursor: pointer;
}
</style>
