<template>
  <div class="p-[24px]">
    <div class="flex justify-between items-center px-[10px]">
      <div class="flex justify-end items-center py-[10px]">
        <svg
          width="19"
          height="14"
          viewBox="0 0 19 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.75 3.65625L4 8.40625V13.5C4 13.7812 4.21875 14 4.5 14H8C8.25 14 8.46875 13.7812 8.46875 13.5V10.5C8.46875 10.25 8.71875 10 8.96875 10H10.9688C11.25 10 11.4688 10.25 11.4688 10.5V13.5C11.4688 13.7812 11.7188 14 11.9688 14H15.5C15.75 14 16 13.7812 16 13.5V8.375L10.2188 3.65625C10.1562 3.59375 10.0625 3.5625 10 3.5625C9.90625 3.5625 9.8125 3.59375 9.75 3.65625ZM18.8438 6.875L10.9375 0.34375C10.6875 0.15625 10.3438 0.03125 10 0.03125C9.625 0.03125 9.28125 0.15625 9.03125 0.34375L1.125 6.875C1.03125 6.9375 0.96875 7.0625 0.96875 7.15625C0.96875 7.25 1.03125 7.34375 1.0625 7.40625L1.875 8.375C1.9375 8.46875 2.03125 8.5 2.15625 8.5C2.25 8.5 2.34375 8.46875 2.40625 8.40625L9.75 2.375C9.8125 2.3125 9.90625 2.28125 10 2.28125C10.0625 2.28125 10.1562 2.3125 10.2188 2.375L17.5625 8.40625C17.625 8.46875 17.7188 8.5 17.8125 8.5C17.9375 8.5 18.0312 8.46875 18.0938 8.375L18.9062 7.40625C18.9688 7.34375 19 7.25 19 7.15625C19 7.0625 18.9375 6.9375 18.8438 6.875Z"
            fill="#C2C2C2"
          />
        </svg>
        <h2 class="px-[5px] font-sans text-[14px] text-gray-600">
          Nombre ubicación /
        </h2>
        <h2 class="font-sans text-[14px] text-gray-800 cursor-pointer">
          Nombre ubicación
        </h2>
      </div>
      <div class="flex justify-end">
        <div class="flex items-center border
              rounded-[20px]">
          <input
            class="
              outline-none
              mx-[10px]
              font-sans
              text-[14px] text-gray-400
              
              p-[10px]
              border-0
            "
            type="date"
          />
          <input
            class="
              outline-none
              mx-[10px]
              font-sans
              text-[14px] text-gray-400
              
              p-[10px]
              border-0
            "
            type="date"
          />
        </div>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="flex pt-5 pb-5 items-center">
        <div class="mx-3.5">
          <div class="border-1 border-radius-5">
            <svg
              width="28"
              height="32"
              viewBox="0 0 28 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20 22H18.5C17.125 22.6875 15.625 23 14 23C12.375 23 10.8125 22.6875 9.4375 22H8C3.5625 22 0 25.625 0 30C0 31.125 0.875 32 2 32H26C27.0625 32 28 31.125 28 30C28 25.625 24.375 22 20 22ZM3 14C3.5 14 4 13.5625 4 13V12C4 6.5 8.4375 2 14 2C19.5 2 24 6.5 24 12V13C23.9375 15.8125 21.75 18 19 18H17C17 16.9375 16.0625 16 15 16H13C11.875 16 11 16.9375 11 18C11 19.125 11.875 20 13 20H19C22.8125 20 25.9375 16.875 26 13V12C26 5.4375 20.5625 0 14 0C7.375 0 2 5.4375 2 12V13C2 13.5625 2.4375 14 3 14ZM13 14H15C16.4375 14.0625 17.75 14.8125 18.4375 16H19C20.625 16 21.9375 14.6875 22 13V12C22 7.625 18.375 4 14 4C9.5625 4 6 7.625 6 12C6 14.5625 7.1875 16.75 9 18.25C9 18.1875 9 18.125 9 18C9 15.8125 10.75 14.0625 13 14Z"
                fill="#42484E"
              />
            </svg>
          </div>
        </div>
        <div class="">
          <h2
            class="
              font-poppins
              text-[24px]
              font-serifBold
              text-gray-800
              font-extrabold
            "
          >
            Gestión comercial
          </h2>
        </div>
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






