<template>
  <section class="w-full flex justify-center items-center p-[10px]">
    <div
      class="
        shadow-md
        rounded-[10px]
        p-[24px]
        bg-white
        justify-center
        order-inf
      ">
      <h2
        class="
          text-[32px]
          justify-center
          text-center
          w-[70%]
          m-auto
          leading-[38px]
          title-order
          font-serifBold
        ">
        Información sobre tu pedido
      </h2>
      <picture class="flex justify-center pt-[5px] pb-[32px]">
        <svg width="80" height="4" viewBox="0 0 80 4" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2" y1="2" x2="78" y2="2" stroke="#C80935" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

      </picture>
      <h3 class="text-[15px] text-justify leading-[21px] font-normal font-sans">
        Hemos recibido tu pedido realizado en la tienda “nombre de la marca”;
        debido a que al momento de agregar los datos de pago seleccionaste pago
        contraentrega, tu cotización ha cambiado y se generaron costos
        adicionales.
      </h3>
      <div class="m-[12px] border-b list-price">
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor de los productos
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $50.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor del envío
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $10.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Costo del pago contraentrega
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $5.000
          </h3>
        </div>
      </div>
      <div class="flex justify-between mx-[12px]">
        <h3 class="text-[18px] font-sans font-bold list-text-inf">Total a pagar</h3>
        <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">$65.000</h3>
      </div>

      <div class="flex justify-center mt-[32px] mb-[16px] bg-emerald-100 rounded-[20px] py-[8px] px-[16px]">
        <picture class="mr-[5px] pt-[4px]">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.2812 7.75C14.2812 4.03125 11.2188 0.96875 7.5 0.96875C3.75391 0.96875 0.71875 4.03125 0.71875 7.75C0.71875 11.4961 3.75391 14.5312 7.5 14.5312C11.2188 14.5312 14.2812 11.4961 14.2812 7.75ZM6.70703 11.3594C6.54297 11.5234 6.24219 11.5234 6.07812 11.3594L3.23438 8.51562C3.07031 8.35156 3.07031 8.05078 3.23438 7.88672L3.86328 7.28516C4.02734 7.09375 4.30078 7.09375 4.46484 7.28516L6.40625 9.19922L10.5078 5.09766C10.6719 4.90625 10.9453 4.90625 11.1094 5.09766L11.7383 5.69922C11.9023 5.86328 11.9023 6.16406 11.7383 6.32812L6.70703 11.3594Z" fill="#8A8A8A"/>
</svg>

        </picture>
        <h3 class="text-[15px] text-justify leading-[21px] font-normal font-sans text-gray-600">
          Tu compra ha sido confirmada, la tienda preparará tu pedido y realizará el envío del mismo.
      </h3>
      </div>
    </div>
    
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'OrderInformation',
  components: {}
})
</script>

<style scoped>
.order-inf {
  width: min(100%, 530px);
}
@media(max-width:425px){
  .title-order{
  font-size: 28px !important ;
}
}
@media(max-width:375px){
  .title-order{
  font-size: 21px !important ;
}
}
@media(max-width:425px){
  .list-text-inf{
  font-size: 16px !important ;
  line-height: 40px !important;
}
}
@media(max-width:425px){
  .list-price{
    margin: 4px;
  }
}


.contendor[data-v-a716fe58] {
    
     overflow-y: initial !important; 
}

.content-order-inf{
  width: min(100%,570px);
}
</style>
