<template>
  <section class="w-full flex justify-center items-center p-[10px]">
    <div
      class="
        shadow-md
        rounded-[10px]
        p-[24px]
        bg-white
        justify-center
        order-inf
      ">
      <h2
        class="
          text-[32px]
          justify-center
          text-center
          w-[70%]
          m-auto
          leading-[38px]
          title-order
          font-serifBold
        ">
        Información sobre tu pedido
      </h2>
      <picture class="flex justify-center pt-[5px] pb-[32px]">
        <svg width="80" height="4" viewBox="0 0 80 4" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2" y1="2" x2="78" y2="2" stroke="#C80935" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

      </picture>
      <h3 class="text-[15px] text-justify leading-[21px] font-normal font-sans">
        Hemos recibido tu pedido realizado en la tienda “nombre de la marca”;
        debido a que al momento de agregar los datos de pago seleccionaste pago
        contraentrega, tu cotización ha cambiado y se generaron costos
        adicionales.
      </h3>
      <div class="m-[12px] border-b list-price">
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor de los productos
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $50.000
          </h3>
        </div>
        <div class="flex justify-between"> 
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor del envío
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $10.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Costo del pago contraentrega
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $5.000
          </h3>
        </div>
      </div>
      <div class="flex justify-between mx-[12px]">
        <h3 class="text-[18px] font-sans font-bold list-text-inf">Total a pagar</h3>
        <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">$65.000</h3>
      </div>

      <div class="flex justify-center mt-[32px] mb-[16px] bg-gray-100 rounded-[20px] py-[8px] border-gray-400 border px-[16px]">
        <picture class="mr-[5px] pt-[4px]">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7 0.96875C3.25391 0.96875 0.21875 4.00391 0.21875 7.75C0.21875 11.4961 3.25391 14.5312 7 14.5312C10.7461 14.5312 13.7812 11.4961 13.7812 7.75C13.7812 4.00391 10.7461 0.96875 7 0.96875ZM10.3086 9.55469C10.4453 9.66406 10.4453 9.88281 10.3086 10.0195L9.24219 11.0859C9.10547 11.2227 8.88672 11.2227 8.77734 11.0859L7 9.28125L5.19531 11.0859C5.08594 11.2227 4.86719 11.2227 4.73047 11.0859L3.66406 9.99219C3.52734 9.88281 3.52734 9.66406 3.66406 9.52734L5.46875 7.75L3.66406 5.97266C3.52734 5.86328 3.52734 5.64453 3.66406 5.50781L4.75781 4.44141C4.86719 4.30469 5.08594 4.30469 5.22266 4.44141L7 6.21875L8.77734 4.44141C8.88672 4.30469 9.10547 4.30469 9.24219 4.44141L10.3086 5.50781C10.4453 5.64453 10.4453 5.86328 10.3086 5.97266L8.53125 7.75L10.3086 9.55469Z" fill="#8A8A8A"/>
</svg>

        </picture>
        <h3 class="text-[15px] text-justify leading-[21px] font-normal font-sans text-gray-600">
           Compra rechazada, le comunicaremos a “Nombre tienda” para que no despache tu pedido; si tienes alguna duda, comunícate directamente con la tienda.
      </h3>
      </div>
    </div>
    
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'OrderInformation',
  components: {}
})
</script>

<style scoped>
.order-inf {
  width: min(100%, 530px);
}
@media(max-width:425px){
  .title-order{
  font-size: 28px !important ;
}
}
@media(max-width:375px){
  .title-order{
  font-size: 21px !important ;
}
}
@media(max-width:425px){
  .list-text-inf{
  font-size: 16px !important ;
  line-height: 40px !important;
}
}
@media(max-width:425px){
  .list-price{
    margin: 4px;
  }
}
</style>
