<template>
  <section class="w-full flex justify-center items-center p-[10px]">
    <div
      class="
        shadow-md
        rounded-[10px]
        p-[24px]
        bg-white
        justify-center
        order-inf
      ">
      <h2
        class="
          text-[32px]
          justify-center
          text-center
          w-[70%]
          m-auto
          leading-[38px]
          title-order
          font-serifBold
        ">
        Información sobre tu pedido
      </h2>
      <picture class="flex justify-center pt-[5px] pb-[32px]">
        <svg width="80" height="4" viewBox="0 0 80 4" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="2" y1="2" x2="78" y2="2" stroke="#C80935" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

      </picture>
      <h3 class="text-[15px] text-justify leading-[21px] font-normal font-sans">
        Hemos recibido tu pedido realizado en la tienda “nombre de la marca”;
        debido a que al momento de agregar los datos de pago seleccionaste pago
        contraentrega, tu cotización ha cambiado y se generaron costos
        adicionales.
      </h3>
      <div class="m-[12px] border-b list-price">
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor de los productos
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $50.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Valor del envío
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $10.000
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="text-[18px] text-gray-600 font-sans font-bold list-text-inf">
            Costo del pago contraentrega
          </h3>
          <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">
            $5.000
          </h3>
        </div>
      </div>
      <div class="flex justify-between mx-[12px]">
        <h3 class="text-[18px] font-sans font-bold list-text-inf">Total a pagar</h3>
        <h3 class="text-[18px] text-gray-600 font-sans font-normal list-text-inf">$65.000</h3>
      </div>
      <div class="flex justify-center py-[20px]">
        <h2 class="text-[20px] font-sans text-gray-600 list-text-inf">
          ¿Confirmas y aceptas el pedido?
        </h2>
      </div>
      <div class="flex justify-center">
        <button
          class="
            text-gray-600 text-[20px]
            hover:bg-gray-100
            mx-[4px]
            font-sans
            border
            p-[10px]
            rounded-[20px]
            w-[92px]
            border-gray-400
            list-text-inf
          ">
          Si
        </button>
        <button
          class="
            text-gray-600
            hover:bg-gray-100
            text-[20px]
            mx-[4px]
            font-sans
            border
            p-[10px]
            rounded-[20px]
            w-[92px]
            border-gray-400
            list-text-inf
          ">
          No
        </button>
      </div>
      <div class="flex justify-center mt-[32px] mb-[16px]">
        <h3 class="ww text-[15px] text-justify leading-[21px] font-normal font-sans list-text-inf">
          En caso de no recibir respuesta se entenderá que has aceptado las modificaciones.
      </h3>
      </div>
    </div>
    
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'

export default defineComponent({
  name: 'OrderInformation',
  components: {}
})
</script>

<style scoped>
.order-inf {
  width: min(100%, 530px);
}
@media(max-width:425px){
  .title-order{
  font-size: 28px !important ;
}
}
@media(max-width:375px){
  .title-order{
  font-size: 21px !important ;
}
}
@media(max-width:425px){
  .list-text-inf{
  font-size: 16px !important ;
  line-height: 40px !important;
}
}
@media(max-width:425px){
  .list-price{
    margin: 4px;
  }
}

@media(max-width:425px){
  .ww{
    line-height: 24px !important;
  }
}


</style>
