
<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col mb-[50px]">
      <section >
        <TitleRegister> </TitleRegister>
        <CaptacionCliente> </CaptacionCliente>
        <InfGeneralClient> </InfGeneralClient>
        


      </section>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TitleRegister from "@/components/registroNuevoCliente/TitleRegister.vue";
import CaptacionCliente from "@/components/registroNuevoCliente/Tables/CaptacionCliente.vue";
import InfGeneralClient from "@/components/registroNuevoCliente/Tables/InfGeneralClient.vue";






export default defineComponent({
  components: {
    TitleRegister,
    CaptacionCliente,
    InfGeneralClient
    
  },
});
</script>,
   