
<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col mb-[50px]">
      <section >
        <TitleRegister> </TitleRegister>
        <CaptacionCliente> </CaptacionCliente>
        <InfGeneralClient> </InfGeneralClient>
        <InfGeneralClientNit> </InfGeneralClientNit>
        <DetallesCostos></DetallesCostos>
        <NegociacionAve></NegociacionAve>
        


      </section>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TitleRegister from "@/components/registroNuevoCliente/TitleRegister.vue";
import CaptacionCliente from "@/components/registroNuevoCliente/Tables/CaptacionCliente.vue";
import InfGeneralClientNit from "@/components/registroNuevoClienteNit/InfGeneralClientNit.vue";
import DetallesCostos from "@/components/registroNuevoClienteNit/DetallesCostos.vue";
import NegociacionAve from "@/components/registroNuevoClienteNit/NegociacionAve.vue";





export default defineComponent({
  components: {
    TitleRegister,
    CaptacionCliente,
    InfGeneralClientNit,
    DetallesCostos,
    NegociacionAve
    
  },
});
</script>,
   