

<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col">
      <section>
        <TheTitleHeaderVue />
      </section>

      <TheHeadInfo class="mx-auto mt-5" />

      <TheBodyInfo />
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import TheTitleHeaderVue from "@/components/estadoDeCuenta/TheTitleHeader.vue";
import TheHeadInfo from "@/components/estadoDeCuenta/TheHeadInfo.vue";
import TheBodyInfo from "@/components/estadoDeCuenta/TheBodyInfo.vue";
import { useUsuarioStore } from "@/stores/usuario.store";
import { ISendMsg } from "@/models/types";
import { coverUpIdUser, coverUpIdEnterprise, orderAny } from "@/utils";
import { GetSubscribedAccounts } from "@/services";

export default defineComponent({
  components: {
    TheTitleHeaderVue,
    TheHeadInfo,
    TheBodyInfo,
  },
  emits: ["filter"],
  props: {},
  setup() {
    const userStore = useUsuarioStore();

    const setListAccounts = async () => {
      const body: ISendMsg = {
        enterprise: coverUpIdEnterprise(userStore.getIdEnterprise),
        userEnterprise: coverUpIdUser(userStore.getIdUser),
      };

      const list = await GetSubscribedAccounts(body);
      if (list) {
        orderAny(list, "cuentaPorDefecto");
        userStore.addListAccounts(list);
      }
    };

    onMounted(() => {
      setListAccounts();
      userStore.sumPayOut(0); // commit 92f4f6d3164c73b62a0ceccf1fb89000d2e4de9d
    });
  },
});
</script>
