
<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col mb-[50px]">
      <section >
        <TheTitleHeaderVue> </TheTitleHeaderVue>
        <TotalDisponible> </TotalDisponible>
        <ResumenGrafick> </ResumenGrafick>
        <ComisionMes></ComisionMes>
        <UsuariosReferidos></UsuariosReferidos>

        
      
      
        

      </section>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TheTitleHeaderVue from "@/components/DetalleClienteReferidos/TheTitleHeader.vue";
import TotalDisponible from "@/components/DetalleClienteReferidos/TotalDisponible.vue";
import ResumenGrafick from "@/components/DetalleClienteReferidos/ResumenGrafick.vue";
import ComisionMes from "@/components/DetalleClienteReferidos/ComisionMes.vue";
import UsuariosReferidos from "@/components/DetalleClienteReferidos/UsuariosReferidos.vue";



export default defineComponent({
  components: {
    TheTitleHeaderVue,
    TotalDisponible,
    ResumenGrafick,
    ComisionMes,
    UsuariosReferidos
    
  },
});
</script>,
   