<template>
  <main class="contenedor contendor  flex justify-center m-auto ">
     <div class="img-background flex justify-center content-order-inf">
       <OrderInformationRefused/>
       
    </div>
 
    
  </main>
</template>

<script lang="ts">
import { computed, defineComponent } from 'vue'

import OrderInformationRefused from '@/views/OrderInformationRefused.vue'


export default defineComponent({
  components: {
   OrderInformationRefused
  },
  setup() {
  

    return {
      
      
    }
  }
})
</script>

<style scoped>
.contendor {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

.img-background{
  background-image: url("/src/assets/svgs/Realizar1.svg") ,url("/src/assets/svgs/Realizar2.svg");
  background-position: center top, right bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 950px;
  
  
  

 
}
.contendor[data-v-7ea8e8e8] {
    
     overflow-y: initial; 
}

.content-order-inf{
  width: min(100%,570px);
}

@media (min-width: 768px) {
  .contendor {
    margin-top: 1rem;
  }
}
</style>
