
<template>
  <main class="">
     <TelAve> </TelAve>
      <TitleEmbudo> </TitleEmbudo>
      <EmbudoColumns> </EmbudoColumns>

     

      
      

      
    
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TitleEmbudo from "@/components/embudoComercial/TitleEmbudo.vue";
import TelAve from "@/components/embudoComercial/TelAve.vue";
import EmbudoColumns from "@/components/embudoComercial/EmbudoColumns.vue";





export default defineComponent({
  data: () => ({
    
  }),
  components: {
    TitleEmbudo,
    TelAve,
    EmbudoColumns
 
  },
  methods: {
    
  },
});
</script>

<style scoped>
.tabs-item-active > h2 {
  color: #c80935;
}
.tabs-item-active {
  border-bottom: 4px solid #c80935;
}
</style>
   