<template>
  <main class="contenedor p-5 h-screen">

    <div class="w-full flex justify-between items-center">
      <AppTitleIconPrincipalVue>Recaudos</AppTitleIconPrincipalVue>

      <div class="dates flex items-center">
        <AppInputDateVue type="date" v-model="dateInit" :max="dateFinal" @change="eventEmiter" />
        <span class="separate">-</span>
        <AppInputDateVue type="date" v-model="dateFinal" :min="dateInit" @change="eventEmiter" />
      </div>

    </div>

    <AppInfoHeaderVue></AppInfoHeaderVue>

    <AppBodyContentVue></AppBodyContentVue>

  </main>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import AppTitleIconPrincipalVue from "@/components/microComponents/AppTitleIconPrincipal.vue";
  import AppInputDateVue from "@/components/microComponents/AppInputDate.vue";
  import AppInfoHeaderVue from "@/components/recaudos/AppInfoHeader.vue"
  import AppBodyContentVue from '@/components/recaudos/AppBodyContent.vue';

  import { format, subDays } from "date-fns";

  export default defineComponent({
    components: {
      AppTitleIconPrincipalVue,
      AppInputDateVue,
      AppInfoHeaderVue,
      AppBodyContentVue
    },
    setup() {
      const dateInit = ref<string>(format(subDays(new Date(), 30), "yyyy-MM-dd"));
      const dateFinal = ref<string>(format(new Date(), "yyyy-MM-dd"));

      const eventEmiter = () => {
        console.log('eventEmiter');
      }

      return {
        eventEmiter,

        dateInit,
        dateFinal
      }
      
    }

  })


</script>

<style scoped>
.separate {
  margin: 0 5px;
}
</style>
