
<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col mb-[50px]">
      <section>
        <TheTitleHeaderVue> </TheTitleHeaderVue>

        <div class="tabs-container flex justify-start mx-[8px]">
          <div
            @click="handleTabClick(tabNames.INFORMACIONGENERAL)"
            :class="{
              'tabs-item-active': activeTabName === tabNames.INFORMACIONGENERAL,
            }"
            class="
              
              items-center
              justify-center
              flex
              px-[8px]
              
              hover:border-b-red-500
              cursor-pointer
              hover:text-red-500
            "
          >
            <h2
              class="
                www
                text-[18]
                font-sansBold
                hover:text-red-500
                text-gray-500
                sans
              "
            >
              Información general
            </h2>
          </div>
          <div
            @click="handleTabClick(tabNames.CONFIGURACIONES)"
            :class="{
              'tabs-item-active': activeTabName === tabNames.CONFIGURACIONES,
            }"
            class="
             
              items-center
              justify-center
              flex
              
              px-[8px]
              cursor-pointer
            "
          >
            <h2
              class="
                text-[18]
                font-sansBold
                hover:text-red-500
                text-gray-600
                sans
              "
            >
              Configuraciones
            </h2>
          </div>
          <div
            @click="handleTabClick(tabNames.HISTORIAL)"
            :class="{
              'tabs-item-active': activeTabName === tabNames.HISTORIAL,
            }"
            class="
             
              px-8px
              items-center
              justify-center
              flex
              
              
              cursor-pointer
            "
          >
            <h2
              class="
                text-[18]
                font-sansBold
                text-gray-600
                hover:text-red-500
                sans
              "
            >
              Historial
            </h2>
          </div>
        </div>
        <section class="flex w-full">
          <ResumenClient> </ResumenClient>
          <TablaResumenClient> </TablaResumenClient>
        </section>
        

        
        <component class="mb-[24px]" :is="tabs[activeTabName]"/>
      </section>
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TheTitleHeaderVue from "@/components/detalleComercial/TheTitleHeader.vue";
import BarSeccion from "@/components/detalleComercial/BarSeccion.vue";
import ResumenClient from "@/components/detalleComercial/ResumenClient.vue";
import TablaResumenClient from "@/components/detalleComercial/TablaResumenClient.vue";
import ComponentInf from "@/components/detalleComercial/ComponentInf.vue";
import ComponentConf from "@/components/detalleComercial/ComponentConf.vue";
import ComponentHist from "@/components/detalleComercial/ComponentHist.vue";

const tabNames = {
  INFORMACIONGENERAL: "Informacion general",
  CONFIGURACIONES: "Configuraciones",
  HISTORIAL: "Historial",
};

export default defineComponent({
  data: () => ({
    activeTabName: tabNames.INFORMACIONGENERAL,
    tabNames,
    tabs: {
      [tabNames.INFORMACIONGENERAL]: ComponentInf,
      [tabNames.CONFIGURACIONES]: ComponentConf,
      [tabNames.HISTORIAL]: ComponentHist,
    },
  }),
  components: {
    TheTitleHeaderVue,
    BarSeccion,
    ResumenClient,
    TablaResumenClient,  
    ComponentInf,
    ComponentConf,
    ComponentHist
  },
  methods: {
    handleTabClick: function (tabName) {
      this.activeTabName = tabName;
    }
  },
});
</script>

<style scoped>
.tabs-item-active > h2 {
  color: #c80935;
}
.tabs-item-active {
  border-bottom: 4px solid #c80935;
}
</style>
   