
<template>
  <main class="contenedor p-5 h-screen">
    <div class="w-full flex flex-col mb-[50px]">
      <TitleComisiones> </TitleComisiones>

      <div class="tabs-container flex justify-start my-[16px]">
        <div
          @click="handleTabClick(tabNames.REFERIDOSCLIENTES)"
          :class="{
            'tabs-item-active': activeTabName === tabNames.REFERIDOSCLIENTES,
          }"
          class="
            items-center
            justify-center
            flex
            px-[8px]
            hover:border-b-red-500
            cursor-pointer
            hover:text-red-500
          "
        >
          <h2
            class="
              www
              text-[18]
              font-sansBold
              hover:text-red-500
              text-gray-500
              sans
            "
          >
            Referidos clientes
          </h2>
        </div>
        <div
          @click="handleTabClick(tabNames.COMISIONESCOMERCIAL)"
          :class="{
            'tabs-item-active': activeTabName === tabNames.COMISIONESCOMERCIAL,
          }"
          class="items-center justify-center flex px-[8px] cursor-pointer"
        >
          <h2
            class="
              text-[18]
              font-sansBold
              hover:text-red-500
              text-gray-600
              sans
            "
          >
            Comisiones comercial
          </h2>
        </div>
      </div>
      
      

      <component class="mb-[24px]" :is="tabs[activeTabName]" />
    </div>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import TitleComisiones from "@/components/comisionesAve/TitleComisiones.vue";
import ComponentRefClient from "@/components/comisionesAve/ComponentRefClient.vue";
import ComponentComcomercial from "@/components/comisionesAve/ComponentComcomercial.vue";


const tabNames = {
  REFERIDOSCLIENTES: "Referidos clientes",
  COMISIONESCOMERCIAL: "Comisiones comercial",
};

export default defineComponent({
  data: () => ({
    activeTabName: tabNames.REFERIDOSCLIENTES,
    tabNames,
    tabs: {
      [tabNames.REFERIDOSCLIENTES]: ComponentRefClient,
      [tabNames.COMISIONESCOMERCIAL]: ComponentComcomercial,
    },
  }),
  components: {
    TitleComisiones,
    
    ComponentRefClient,
    ComponentComcomercial
  },
  methods: {
    handleTabClick: function (tabName) {
      this.activeTabName = tabName;
    },
  },
});
</script>

<style scoped>
.tabs-item-active > h2 {
  color: #c80935;
}
.tabs-item-active {
  border-bottom: 4px solid #c80935;
}
</style>
   