<template>
  <div class="m-v-24 m-h-24 flex justify-between">
    <div class="flex flex-4 pt-5 pb-5 items-center">
      <div class="mx-3.5">
        <svg
          width="40"
          height="32"
          viewBox="0 0 40 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M39 13H35V9C35 8.5 34.5 8 34 8H32C31.4375 8 31 8.5 31 9V13H27C26.4375 13 26 13.5 26 14V16C26 16.5625 26.4375 17 27 17H31V21C31 21.5625 31.4375 22 32 22H34C34.5 22 35 21.5625 35 21V17H39C39.5 17 40 16.5625 40 16V14C40 13.5 39.5 13 39 13ZM14 16C18.375 16 22 12.4375 22 8C22 3.625 18.375 0 14 0C9.5625 0 6 3.625 6 8C6 12.4375 9.5625 16 14 16ZM19.5625 18H18.5C17.125 18.6875 15.625 19 14 19C12.375 19 10.8125 18.6875 9.4375 18H8.375C3.75 18 0 21.8125 0 26.4375V29C0 30.6875 1.3125 32 3 32H25C26.625 32 28 30.6875 28 29V26.4375C28 21.8125 24.1875 18 19.5625 18Z"
            fill="#42484E"
          />
        </svg>
      </div>
      <div class="">
        <h2
          class="
            font-poppins
            text-[24px]
            font-serifBold
            text-gray-800
            font-extrabold
          "
        >
          Registro nuevo cliente
        </h2>
        
      </div>
    </div>
  </div>
</template>


<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { ROUTES } from "@/constants";

export default defineComponent({
  emits: ["filter"],
  setup() {
    const router = useRouter();

    const goTo = (route: string) => {
      return router.push(route);
    };

    return {
      goTo,
      ROUTES,
    };
  },
});
</script>
<style >
.comercialButton {
  display: flex;
  align-items: center;
}
</style>






