<template>
  <transition name="fade">
    <section v-if="modelValueInp" :class="classBase">
      <section :class="classBody" :style="cssProps">
        <div class="head flex mx-auto w-full mt-2">
          <div class="tit w-10/12 mx-auto">
            <div class="icon flex justify-center" v-if="headerIcon">
              <img
                v-if="headerIcon == 'alert'"
                src="../assets/svgs/checkAlert.svg"
                alt="icon alert"
              />
              <img
                v-if="headerIcon == 'ok'"
                src="../assets/svgs/checkOk.svg"
                alt="icon ok"
              />
              <img
                v-if="headerIcon == 'error'"
                src="../assets/svgs/checkError.svg"
                alt="icon error"
              />
            </div>

            <AppTitleOne addClass="mt-4">{{ title }}</AppTitleOne>

            <hr class="w-[30%] m-auto mt-2 h-[6px] bg-red-600 rounded-md" />
          </div>

          <div class="cursor-pointer absolute right-4 top-4" @click="close">
            <svg
              width="13"
              height="12"
              viewBox="0 0 13 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5625 6L11.6875 2.875C12.0937 2.5 12.0937 1.875 11.6875 1.5L11 0.8125C10.625 0.40625 10 0.40625 9.625 0.8125L6.5 3.9375L3.34375 0.8125C2.96875 0.40625 2.34375 0.40625 1.96875 0.8125L1.28125 1.5C0.875 1.875 0.875 2.5 1.28125 2.875L4.40625 6L1.28125 9.15625C0.875 9.53125 0.875 10.1562 1.28125 10.5312L1.96875 11.2188C2.34375 11.625 2.96875 11.625 3.34375 11.2188L6.5 8.09375L9.625 11.2188C10 11.625 10.625 11.625 11 11.2188L11.6875 10.5312C12.0937 10.1562 12.0937 9.53125 11.6875 9.15625L8.5625 6Z"
                fill="#C2C2C2"
              />
            </svg>
          </div>
        </div>

        <section>
          <slot></slot>
        </section>
      </section>
    </section>
  </transition>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from "vue";
import AppTitleOne from "@/components/microComponents/AppTitleOne.vue";
import { TypeIcon } from "@/models/types/index";

export default defineComponent({
  components: {
    AppTitleOne,
  },
  props: {
    title: {
      type: String,
      default: "Titulo modal",
    },
    headerIcon: {
      type: String as PropType<TypeIcon>,
      default: "",
    },
    classNameTitle: {
      type: String,
      default: "m-2 font-bold text-[22px]",
    },
    modelValue: Boolean,
    width: {
      type: String,
      default: "50%",
      required: false,
    },
  },
  setup(props, { emit }) {
    const modelValueInp = computed(() => props.modelValue);
    const cssProps = computed(() => ({ width: props.width }));
    const titleInp = computed(() => props.title);
    const close = () => emit("update:modelValue", false);
    const classBase = `w-full h-full overflow-auto z-10 fixed top-0
						left-0 flex	justify-center items-center	bg-black/25	opacity-3`;
    const classBody = `overflow-x-hidden relative	rounded-[5px] bg-white p-4 min-h-6`;
    return {
      modelValueInp,
      close,
      cssProps,
      classBase,
      classBody,
      titleInp,
    };
  },
});
</script>

<style scoped>
.icon {
  cursor: pointer;
}
</style>
