<template>

	<section class="flex">
	
		<div class="ml-4 my-auto">
			<p class="text-sm ml-20">{{ search.init }}-{{ search.end }} de {{ total }}</p>
		</div>

		<div class="rounded-[5px] flex items-center ml-4 border border-gray-400 ">
			<button 
				@click="prevPage"
				class="border-r py-[5px] h-[40px]	px-4 border-gray-400">
				<fontAwesomeIcon  class="my-auto" icon="caret-left" />
			</button>

			<span class="mx-4 font-bold">{{ searchResumen.pagina }} - {{ searchResumen.pagFinal }}</span>

			<button 
				@click="nextPage"
				class="border-l py-[5px] h-[40px]	px-4 border-gray-400">
				<fontAwesomeIcon  class="my-auto" icon="caret-right" />
			</button>
		</div>

		<div @click="createCSV"
			class="bg-gray-btn hover:bg-gray-b-hov h-10 w-10 flex justify-center rounded-[5px] ml-4 cursor-pointer">
			<img width="16" height="16" src="../../src/assets/svgs/fileDownload.svg" alt="icon download file">
		</div>
	</section>

</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
	
	props: {
		total: {
			type: Number,
			default: 0
		}
	},
	emits: ['createDoc', 'nextP', 'prevP'],
	setup(props, {emit}) {

		const search = ref<{init: number, end: number}>({
			init: props.total > 10 ? 1 : props.total,
			end: props.total > 10 ? 10 : props.total
		})

		const paginFin = () => {
			let p: string = (props.total / 10).toFixed(0);
			let r: number = (props.total % 10);
			return r > 1 ? Number(p) + 1 : Number(p);
		}

		const pagActual = ref(1);

		const searchResumen = ref({
			pagina: pagActual,
			pagFinal: paginFin()
		})

		const createCSV = () => emit('createDoc');

		const prevPage = () => {
			if (search.value.init > 10) {
				if (search.value.end == props.total ) {
					const residuo = search.value.end % Number(paginFin() - 1);
					search.value.end = search.value.end - residuo;
					search.value.end += 10;
				}
				pagActual.value -= 1;
				search.value.init -= 10;
				search.value.end -= 10;
				emit('prevP');
			}
		} 
		const nextPage = () => {
			if ((search.value.init + 10) < props.total) {
				search.value.init += 10;
				search.value.end += 10;
				pagActual.value += 1;
				if (search.value.end > props.total ) {
					search.value.end = props.total
				}
				emit('nextP');
			}
		}

		return {
			createCSV,
			search,
			prevPage,
			nextPage,
			searchResumen
		}
		
	}
})

</script>