<template>
  <section class="w-full flex items-center mt-2 justify-end gap-4" >

    <AppInputTextVue
      class="input_no_icon mt-3"
      v-model="dateInit"
      label='Fecha inicial ' 
      name='email_destiny'
      flex='flex-row'
      type='date'
    />

    <AppInputTextVue
      class="input_no_icon mt-3"
      v-model="dateFinal"
      label='Fecha final ' 
      name='email_destiny'
      flex='flex-row'
      type='date'
    />

    <div class="flex ">
      <AppButton color="primary" class="mt-3" @click="eventEmiter" >
        Buscar 
      </AppButton>
    
    </div>

  </section>
</template>

<script lang="ts">
  import { defineComponent, ref } from 'vue';
  import AppInputTextVue from './microComponents/AppInputText.vue';
  import AppButton from '@/components/microComponents/AppButton.vue';
  import { format, subDays } from 'date-fns';
  import { DateInputs } from '@/models/types/index';

  
  export default defineComponent ({
    components: {
      AppInputTextVue,
      AppButton
    },
    emits: ['searchDate'],
    setup(_, {emit}) {
      const dateFinal = ref<string>(format(new Date(), 'yyyy-MM-dd'));
      const dateInit = ref<string>(format(subDays(new Date(), 30), 'yyyy-MM-dd'));

      const eventEmiter = () => {
        const dates:DateInputs = {
          final: dateFinal.value,
          init: dateInit.value,
        }
        emit('searchDate', dates);
      }

      return {
        dateInit,
        dateFinal,

        eventEmiter
      }
    }

  }) 
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue