<template>
  <nav class="flex bg-red-500 pos-f z-index-9 width-p-100 top-0 left-0 p-v-20">
    <div class="h-16 flex items-center">
      <picture class="icon h-[30px] flex ml-6 my-auto"
        @click="goTo(ROUTES.ESTADO_CUENTA.PATH)">
        <img class="cursor-pointer" src="../assets/svgs/logoAveOnline.svg" alt="logo de aveOnline">
      </picture>

      <div class="navbar-content ml-[40px] h-full flex items-center text-[14px]" >
        <ul class="flex justify-around h-full text-white font-sans font-bold text-lg">
          <li class="recogidas cursor-pointer relative
                    h-full min-w-[100px] 
                    flex items-center justify-center
                    ml-3 px-2
                    hover:bg-red-600"
          >
            Shopy
            <div class="icon ml-[10px]">
              <fontAwesomeIcon  class="my-auto" icon="chevron-down" />
            </div>
            <div class="sub_menu absolute w-[140px] text-gray-800 top-[64px]">
              <ul class="bg-gray-100 w-full text-base">
                <li class="sub_li hover:bg-gray-300 font-light" @click="goTo(ROUTES.SHOPY.PATH)">Shopy</li>
                <li class="sub_li hover:bg-gray-300 font-light" @click="goTo(ROUTES.SHOPY_CONFIRM.PATH)">Estado confirmado</li>
               <li class="sub_li hover:bg-gray-300 font-light" @click="goTo(ROUTES.SHOPY_EXCCED.PATH)">Estado OrderExceed</li>
                <li class="sub_li hover:bg-gray-300 font-light" @click="goTo(ROUTES.SHOPY_REFUSE.PATH)">Estado Refuse</li>
              </ul>
            </div>
          </li>

        </ul>
      </div>

    </div>

    <div class="icon_user cursor-pointer mr-[32px] flex items-center relative ml-auto left-0">
      <img class="flex" @click="goTo(ROUTES.DETALLE_COMERCIAL.PATH)"
        src="../assets/svgs/user.svg" 
        alt="icon user">
    </div>
  </nav>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  import { useRouter } from 'vue-router';
  import { ROUTES } from "@/constants";


  export default defineComponent({
    emits: ['filter'],
    setup() {
      const router = useRouter();

      const goTo = (route: string) => {
        return router.push(route);
      }

      return {
        goTo,
        ROUTES
      }
    }
  })
</script>
<style scoped>

  .sub_menu {
    display: none;
  }
  .sub_li{
    padding: 10px 16px;
    width: 100%;
  }
  .recogidas:hover > .sub_menu {
    display: block;
  }
  .estado_cuenta:hover > .sub_menu {
    display: block;
  }
  .envios:hover > .sub_menu {
    display: block;
  }

</style>


/* Accesos al Componente *****/
/// → src\App.vue