<template>
 <button @click="onClick" type="button" :class="getClass">
    <div v-if="isLoad" class="mt-[4px]">
      <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="16px" height="16px" viewBox="0 0 128 128" xml:space="preserve"><g>
        <path d="M64 9.75A54.25 54.25 0 0 0 9.75 64H0a64 64 0 0 1 128 0h-9.75A54.25 54.25 0 0 0 64 9.75z" fill="#ffffff"/><animateTransform attributeName="transform" type="rotate" from="0 64 64" to="360 64 64" dur="1800ms" repeatCount="indefinite"></animateTransform></g>
      </svg>
    </div>
    <slot v-if="!isLoad"></slot>
  </button>
</template>


<script lang="ts">
  import { defineComponent, computed, PropType } from 'vue';
  type IColorBotton = "primary" | "secondary" | "none";

  export default defineComponent({
    props:{
      color: {
        type: String as PropType<IColorBotton>,
        default: '',
      },
      className: {
        type: String,
        default: '',
      },
      isLoad: {
        type: Boolean,
        default: false
      }
    },
    emits: ['click'],
    setup(props, {emit}) {
      const ClassBase =`h-10 flex items-center text-white justify-center 
                        font-bold rounded-[5px] py-1 px-3 tracking-wider`;

      const getClass = computed(() => {
        if (props.color === 'primary') {
          return `bg-red-btn hover:bg-red-b-hov ${ClassBase} ${props.className}`;
        }
        if (props.color === 'secondary') {
          return `bg-gray-btn hover:bg-gray-b-hov ${ClassBase} ${props.className}`;
        }
        if (props.color === 'none') {
          return `bg-trans text-gray-200 border-gray-400 border hover:text-gray-800 ${ClassBase} ${props.className}`;
        }
        return `bg-red-btn hover:bg-red-b-hov ${ClassBase} ${props.className}`
      })

      const onClick = () => emit('click')

      return {getClass, onClick}
    },
  })
</script>