<template> 
  <div class='flex gap-2 w-full' :class="flex">
      <label class='text-gray-800 font-normal text-[14px]' :for="name">
        {{ label }} {{ isRequired ? '*' : ''}}
      </label>
    <small v-if="subtitleLabel" class='text-gray-600'>{{ subtitleLabel }}</small>
    <input
      :id="name"
      :class="className + '' + wInput "
      :placeholder="placeholder"
      :type="type"
      :min="min"
      :max="max"
      :minlength="min"
      :maxlength="max"
      :name="name"
      v-mask="maskered"
      :value="modelValue"
      @input="handleChange"
    />
  </div>
</template>

<script lang="ts">
  import { isNumber } from '@/utils';
  import { defineComponent,computed , PropType} from 'vue';
  type IMasker = "" | "number" | "account" | "numberId";
  export default defineComponent({
    props: { // 
      masker: {
        type: String as PropType<IMasker>,
        default: '',
      },
      type: {
        type: String,
        default: 'text',
      },
      /** En caso de quere el texto y input en row o col @"flex-row" | "flex-col"*/
      flex: {
        type: String,
        default: "flex-col",
      },
      /** Ancho del boton si se desea forzar */
      wInput: {
        type: String,
        default: '',
      },
      /** Texto principal del label */
      label: {
        type: String,
        default: 'text',
      },
      /**Valor minimo para la propiedad MIN del imput */
      min: {
        type: String,
        default: '1',
      },
      /**Valor maximo para la propiedad MAX del imput */
      max: {
        type: String,
        default: '300',
      },
      id: {
        type: String,
        default: '',
      },
      name: {
        type: String,
        default: 'name',
      },
      placeholder: {
        type: String,
        default: '',
      },
      modelValue: {
        type: [String, Number],
        default: '',
      },
      isRequired: {
        type: Boolean,
        default: false,
      },
      className: {
        type: String,
        default: 'py-[5px] h-[39px] px-4 rounded-[5px] border w-full border-gray-400 focus:outline-none ',
      },
      /** Texto segundario y mas pequeño*/
      subtitleLabel: {
        type: String,
        default: '',
      },
    },
    emits: ['update:modelValue'],
    setup(props, {emit}) {

      const handleChange = (ev: Event ) =>{
        const target = ev.currentTarget as HTMLInputElement;
        if (isNumber(target.value)) {
          const value = String(target.value).split('.').join('');
          return emit('update:modelValue', value);
        }
        return emit('update:modelValue', target.value)
      }

      const createLimit = () => {
        let arr: string[] = [];
        for (let i = 0; i < Number(props.max) ; i++) { arr.push('X')}
        return arr.join('').replace(',', '')
      }

      const tokenDimamic = (value: number | string, extend = false) => {
        const num = Number(value);
        if (num > 999999999999 && extend ) { return '#.###.###.###.###' }
        if (num > 99999999999 && extend ) { return '###.###.###.###' }
        if (num > 9999999999 && extend ) { return '##.###.###.###' }
        if (num > 999999999 && extend ) { return '#.###.###.###' }
        if (num > 99999999 && extend ) { return '###.###.###' }
        if (num > 9999999) { return '##.###.###' }
        if (num > 999999) { return '#.###.###' }
        if (num > 99999) { return '###.###' }
        if (num > 9999) { return '##.###' }
        if (num > 999) { return '#.###' }
        else { return '#.###.###.###.###' }
      }

      const maskered = computed(() => {
        switch (props.masker) {
          case 'account':
            return ['###-######-##','###-######-####-####'];
          case 'number':
            return tokenDimamic(props.modelValue);
          case 'numberId':
            return tokenDimamic(props.modelValue, true);
          default:
            return createLimit()
        }
      })
      
      return { handleChange, maskered }
    }
  })

</script>