<template> 
  <div class='flex gap-2 items-center' :class="flex">
    <input
      :id="name"
      :class="className + '' + wInput "
      :placeholder="placeholder"
      :type="type"
      :min="min"
      :minlength="min"
      :name="name"
      :max="max"
      :value="modelValue"
      @input="handleChange"
    />
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue';
  export default defineComponent({
    props: {
      type: {
        type: String,
        default: 'text',
      },
      /** En caso de quere el texto y input en row o col @"flex-row" | "flex-col"*/
      flex: {
        type: String,
        default: "flex-col",
      },
      /** Ancho del boton si se desea forzar */
      wInput: {
        type: String,
        default: '',
      },
      /** Texto principal del label */
      label: {
        type: String,
        default: 'text',
      },
      /**Valor minimo para la propiedad MIN del imput */
      min: {
        type: String,
        default: '1',
      },
      /**Valor max para la propiedad MAX del imput */
      max: {
        type: String
      },
      id: {
        id: String,
        default: '',
      },
      name: {
        type: String,
        default: 'name',
      },
      placeholder: {
        type: String,
        default: '',
      },
      modelValue: {
        type: [String, Number],
        default: '',
      },
      isRequired: {
        type: Boolean,
        default: false,
      },
      className: {
        type: String,
        default: 'py-[5px] px-4 rounded-[5px] border border-gray-400 focus:outline-none ',
      }
    },
    emits: ['update:modelValue'],
    setup(_, {emit}) {
      const handleChange = (ev: Event ) =>{
        const target = ev.currentTarget as HTMLInputElement;        
        return emit('update:modelValue', target.value)
      } 

      return { handleChange }
    }
  })

</script>