<template>
  <section class="w-56 rounded-[5px] flex-col 
                  border border-gray-400 
                  text-gray-800 pl-4 pr-2 
                  cursor-pointer text-sm"
                  @click="show = !show">

    <div class="flex justify-between h-10 items-center ">
      <div class="flex font-bold">
        <fontAwesomeIcon  class="my-auto mr-2 text-base" icon="filter" />
        <p v-if="value">{{value?.label}}</p>
        <slot v-if="!value"></slot>
      </div>
      <div class="icon">
        <fontAwesomeIcon  class="my-auto mr-2" icon="caret-down" />
      </div>
    </div>

    <div class="options" v-if="show" >
      <div class="opt ml-6 my-[5px] hover:font-bold" 
        v-for="(item, index) in options" 
        :class="[index == 0 ? '-mt-[5px]' : '']"
        :key="item.value" 
        @click="emitValue(item)">
        {{ item.label }}
      </div>
    </div>

  </section>
</template>

<script lang="ts">

  interface IOptions { label: string, value: string | number  }

  import { defineComponent, PropType, ref } from "vue";
  export default defineComponent({
    props: {
      options: {
        type: Array as PropType<IOptions[]>,
        required: true
      }
    }, 
    emits: ['emitValue'],
    setup(_, {emit}) {
      const show = ref<boolean>(false);
      const value = ref<IOptions>();

      const emitValue = (val: IOptions) => {
        console.log(val);
        value.value = val;
        emit('emitValue', val);
      }
      return {
        emitValue,
        show,
        value
      }
    }
  })
</script>


