

<template >
    <div class="flex" :class="className">
        <img class="mr-3" src="../../assets/svgs/stackCoins.svg" alt="stack of coins">
        <slot ></slot>
    </div>
</template>

<script lang="ts">
import { defineComponent, computed } from 'vue';

  export default defineComponent({
    props: {
      justify: {
        type: String,
        default: 'center'
      },
      addClass: {
        type: String,
        default: ''
      } 
    },
    setup(props) {

      const className = computed(() => {
        return `font-serifBold font-bold text-[32px] text-gray-800 ${props.addClass}`
      })

      return {
        className
      }

    }
  })
</script>

/* Accesos al Componente *****/
// src\views\ViewAccountStatus.vue

