<template>
  <section class="tooltip_box font-sans z-50" :class="className">
    <div class="body_tooltip">
      <h3 class="text-[19px] font-bold" >{{ title }}</h3>
      <p class="text-base mt-3">{{ text }}</p>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, onMounted,computed,ref, PropType } from 'vue';
type Position = "top" | "bottom" | "right" | "left"
type RowPosition = "right" | "center" | "left" | "top" | "bottom"

export default defineComponent({
  props: {
    title: {
      type: String,
      default: 'Titulo tooltip'
    },
    text: {
      type: String,
      default: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, nemo fugiat rerum eos nisi amet quae deleniti'
    },
    position: {
      type: String as PropType<Position>,
      default: "top"
    },
    row: {
      type: String as PropType<RowPosition>,
      default: ""
    },
    addClass: {
      type: String,
      default: ""
    }
  },
  setup(props){
    const here = document.getElementsByClassName('tooltip_box');
    const top = ref<string>('');

    const defineTop = (len:number) => {
      if (props.addClass.includes('top')) {
        return '';
      }
      if (len > 85) {
        if (props.row === 'center') {
          return '-top-[3em] ';
        }
        if (props.row === 'bottom') {
          return '-top-[4.2em]';
        }
      }
      if (len > 140) {
        if (props.row === 'center') {
          return '-top-[3.7em]';
        }
      }
      if (props.row === 'bottom') {
        return '-top-[3em]';
      }
      return '-top-[2em]'
    }

    const className = computed(() => {
      if (props.position === 'top') {
        return `tooltip_top${props.row ? '_'+props.row : ''} ${props.addClass}`;
      }
      if (props.position === 'bottom') {
        return `tooltip_bottom${props.row ? '_'+props.row : ''} ${props.addClass}`;
      }
      if (props.position === 'right') {
        return `tooltip_right${props.row ? '_'+props.row : ''} ${top.value} ${props.addClass}`;
      }
      if (props.position === 'left') {
        return `tooltip_left${props.row ? '_'+props.row : ''} ${top.value} ${props.addClass}`;
      }
      return `tooltip_top${props.row ? '_'+props.row : ''} ${props.addClass}`;
    })

    onMounted(() => {
      const hereRef = here[0].parentElement;
      hereRef?.classList.add('tooltip');
      const lenTxt = props.text.length;

      top.value = defineTop(lenTxt);
    })

    return {
      className
    }
  }
})
</script>

<style scoped>
.tooltip_box {
  display: none;
  position: absolute;
  width: max-content;
  max-width: 332px;
  text-align: start;
  padding: 12px 16px;
  gap: 4px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: #cbcbcb 1px 1px 12px 3px;
  color: #42484E;
}
/***********************************/
/* TAMAÑO DE CONTENIDO DEL TOOLTIP */
.body_tooltip {
  max-height: 106px;
  overflow: hidden;
}
/***********************************/
/* POSICIONAMIENTO TOP DEL TOOLTIP */
.tooltip_top,
.tooltip_top_center,
.tooltip_top_left,
.tooltip_top_right {
  bottom: calc(100% + 8px);
}
/* ****************** */
.tooltip_bottom,
.tooltip_bottom_center,
.tooltip_bottom_left,
.tooltip_bottom_right {
  top: calc(100% + 8px);
}

.tooltip_right,
.tooltip_right_right,
.tooltip_right_top{
  left: 100%;
  top: -0.5rem;
}
.tooltip_left,
.tooltip_left_top,
.tooltip_left_right {
  right: 100%;
  top: -0.5rem;
}
/** POSSIONAMIENTO A LA DERECHA */
.tooltip_right_center,
.tooltip_right_top,
.tooltip_right_bottom,
.tooltip_right{
  left: 100%;
}
/** POSSIONAMIENTO A LA IZQUIERDA */
.tooltip_left_center
.tooltip_left_top,
.tooltip_left_bottom,
.tooltip_left {
  right: 100%;
}

/*************************************/
/* CREACION DE LA FLECHA DEL TOOLTIP */
.tooltip_top::after,
.tooltip_top_left::after,
.tooltip_top_center::after,
.tooltip_top_right::after {
  content: "";
  display: block;
  border-top: 8px solid #FFFFFF;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  position: absolute;
  bottom: -8px;
}
/******************** */
.tooltip_bottom::after,
.tooltip_bottom_left::after,
.tooltip_bottom_center::after,
.tooltip_bottom_right::after {
  content: "";
  display: block;
  border-bottom: 8px solid #FFFFFF;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  position: absolute;
  top: -8px;
}
/******************** */
.tooltip_right::after,
.tooltip_right_top::after,
.tooltip_right_bottom::after,
.tooltip_right_left::after,
.tooltip_right_center::after,
.tooltip_right_right::after {
  content: "";
  display: block;
  border-right: 8px solid #FFFFFF;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  position: absolute;
  left: -8px;
}
/******************** */
.tooltip_left::after,
.tooltip_left_top::after,
.tooltip_left_bottom::after,
.tooltip_left_left::after,
.tooltip_left_center::after,
.tooltip_left_right::after {
  content: "";
  display: block;
  border-left: 8px solid #FFFFFF;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  position: absolute;
  right: -8px;
}


.tooltip_right::after,
.tooltip_right_top::after,
.tooltip_right_left::after {
  top: .5rem;
}
.tooltip_left::after,
.tooltip_left_top::after,
.tooltip_left_left::after {
  top: .5rem;
}

.tooltip_right_bottom::after,
.tooltip_left_bottom::after {
  bottom: .5rem;
}



/****************************************************/
/* POSICIONAMIENTO CENTRAL DE LA FLECHA DEL TOOLTIP */
.tooltip_bottom_center::after,
.tooltip_top_center::after{
  left: 50%;
  right: 50%;
}
/****************************************************/
/* POSICIONAMIENTO DERECHO DE LA FLECHA DEL TOOLTIP */
.tooltip_bottom_right::after,
.tooltip_top_right::after{
  right: 1rem;
}
/******************************************************/
/* POSICIONAMIENTO IZQUIERDO DE LA FLECHA DEL TOOLTIP */
.tooltip_bottom::after,
.tooltip_top::after,
.tooltip_bottom_left::after,
.tooltip_top_left::after {
  left: 1rem;
}

.tooltip_right_center::after,
.tooltip_left_center::after {
  top: calc(50% - 8px);
}

</style>

<style>
.tooltip {
  position: relative;
  cursor: default;
}
.tooltip:hover .tooltip_box {
  display: block;
}
</style>

