
<template >
  <div :class="className">
    <slot></slot>
  </div>
</template>

<script lang="ts">
  import { defineComponent, computed, PropType } from "vue";

  type T_Color = "text-gray-800" | "text-gray-600"
  export default defineComponent({
    props: {
      color: {
        type: String as PropType<T_Color>,
        default: 'text-gray-800'
      }
    },
    setup(props) {
      const className = computed(() => `text-2xl font-serifBold ${props.color}`);
      return {
        className
      }
    }
  })
</script>















//