<template >
    <div :class="classTitle">
        <slot class=""></slot>
    </div>
</template>

<script lang="ts">
    import { defineComponent, computed } from "vue";

    export default defineComponent({
        props:{
            justify:{
                type: String,
                default: "center"
            },
            addClass: {
                default: ""
            }
        },
    setup(props) {
        const classTitle = computed(() => {
            return `flex items-center justify-${props.justify} 
            text-[24px] Poppins font-extrabold flex flex-row 
            leading-6 text-gray-800 ${props.addClass}`
        })

        return {
            classTitle
        }
    }

    })
</script>