<template >
    <div class="flex items-center font-sansBold text-gray-800 text-lg leading-6">
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import { defineComponent } from 'vue';
    export default defineComponent({
        props:{
            size: {
                type: String,
                default: '18px'
            }
        },
        // setup(props) {
        //     const className = computed(() => `flex items-center font-sansBold text-gray-800 text-lg leading-6`)

        //     return {
        //         className
        //     };
        // }
    })

</script>