<template>
  <section class="w-full mt-4 p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

		<div class="flex justify-between w-full">
			<AppTitleThree>Notas Credito</AppTitleThree>
  

      <div class="items-center justify-center flex gap-2">
        <div class="selec" v-if="showDetail">
          <AppMinPaginatorVue 
            @create-doc="createCSV" 
            @next-p="nextPagina"
            @prev-p="prevPagina"
            :total="notasCredito.length" />
        </div>

        <span class="cursor-pointer" @click="showDetail = !showDetail"  :class="[showDetail ? 'rotate-180' : '']">
          <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
        </span>
      </div>
    </div>

		<div v-if="showDetail" class="opcionales w-full font-sans" >
      <hr class="border-t-2 mt-2" />
      <div class="flex w-full pt-[10px] ">

        <div class="w-[12%] m-auto text-center truncate">
          <AppTitleFour>Número de</AppTitleFour> 
          <AppTitleFour>documento</AppTitleFour>
        </div>
        <div class="w-[12%] m-auto text-center truncate">
          <AppTitleFour>Fecha</AppTitleFour>
        </div>
        <div class="w-[12%] m-auto text-center truncate">
          <AppTitleFour>Documento</AppTitleFour>
          <AppTitleFour>reclamado</AppTitleFour>
        </div>
        <div class="w-[12%] m-auto text-center truncate">
          <AppTitleFour>Tipo</AppTitleFour>
        </div>
        <div class="w-[25%] m-auto text-center truncate">
          <AppTitleFour>Obeservaciones</AppTitleFour>
        </div>
        <div class="w-[12%] m-auto text-center truncate">
          <AppTitleFour>Valor</AppTitleFour>
        </div>
        <div class="w-[15%] m-auto text-center truncate">
          <AppTitleFour>Acciones</AppTitleFour>
        </div>
    
      </div>
      <hr class="border-t-2 my-2" />

      <div class="flex w-full items-center text-base py-2" 
        v-for="notas in pipeNotasIndeni" :key="notas.dsfactura+notas.dsnumero">
        <div class="w-[12%] text-center truncate">
          NC {{ notas.dsnumero }}
        </div>
        <div class="w-[12%] text-center truncate">
          {{ notas.dsfecha }}
        </div>
        <div class="w-[12%] text-center truncate">
          {{ notas.dsfactura }}
        </div>
        <div class="w-[12%] text-center truncate">
          {{ notas.tipo }}
        </div>
        <div class="w-[25%] text-center truncate">
           {{ clearHtmlEntities(notas.descripcion) }}
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            {{ formatCurrencyCo(notas.dsvalor) }}
          </div>
        </div>
        <div class="w-[15%] flex gap-3 justify-center cursor-pointer">
          <img @click="showCreditNote(notas.dsnumero)" 
          width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
        </div>
      </div>
      
    </div>

	</section>
</template>


<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { AccountState, INotasIAData } from '@/models/types/index';
import { formatCurrencyCo, clearHtmlEntities } from '@/utils';
import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
import AppTitleFour from '@/components/microComponents/AppTitleFour.vue';
import AppMinPaginatorVue from '@/components/AppMinPaginator.vue';
import { useNotasRecibosStore } from '@/stores';
import { DownLoadCSV, prepareCreditNotesToCSV } from '@/services/FileCreatorService';
import { format } from "date-fns";

 
export default defineComponent({
	components: {
		AppTitleThree,
    AppTitleFour,
    AppMinPaginatorVue
	},
	props: {
		accountState: {
			type: Object as () => AccountState
		}
	},
	setup() {
    const stateNotas = useNotasRecibosStore();
    const showDetail = ref<boolean>(false);
    const notasCredito = computed(() => stateNotas.getterAllData().dataNotas_credito );
    const spliter = ref(0);

    const pipeNotasIndeni = computed<INotasIAData[]>(() => {
      const newData:INotasIAData[] = [...notasCredito.value];
      return newData.slice(spliter.value, spliter.value + 10)
    })

    const showCreditNote = (id: string) => {
      const Url = `https://aveonline.co/app/modulos/notascredito/ingresos.imprimir.html.php?idrecibo=${id}&no=1` ;
      const name = `NOTA CREDITO Nro. ${id}`
      window.open(Url, name, "width=600, height=800");
    }

    const nextPagina = () => {
      if (spliter.value + 9 < notasCredito.value.length) {
        spliter.value = spliter.value + 10;
      }
    }
    const prevPagina = () => {
      if (spliter.value > 9) {
        spliter.value = spliter.value - 10;
      }
    }

    const createCSV = () => {
      const header = ['Número de documento','Fecha', 'Descripción', 'Número de reclamación', 'Documento reclamado', 'Valor'];
      const dataCSV = prepareCreditNotesToCSV(notasCredito.value);
      const date = format(new Date(), "yyyy-MM-dd");
      DownLoadCSV(dataCSV, header, `Indenizacion-${date}`);
    }

    return {
      formatCurrencyCo,
      showCreditNote,
      clearHtmlEntities,
      createCSV,
      prevPagina,
      nextPagina,

      showDetail,
      pipeNotasIndeni,
      notasCredito,
    }

  }
  
})
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue