<template>
  <section class="w-full mt-4 p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

		<div class="flex justify-between w-full">
			<AppTitleThree>Indemnizaciones</AppTitleThree>
  

      <div class="items-center justify-center flex gap-2">
        <div class="selec" v-if="showDetail">
          <AppMinPaginatorVue 
            @create-doc="createCSV" 
            @next-p="nextPagina"
            @prev-p="prevPagina"
            :total="notas_c_ia.length" />
        </div>

        <span class="cursor-pointer" @click="showDetail = !showDetail"  :class="[showDetail ? 'rotate-180' : '']">
          <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
        </span>
      </div>
    </div>

		<div v-if="showDetail" class="opcionales w-full font-sans" >
      <hr class="border-t-2 mt-2" />
      
      <div class="flex w-full ml-4 gap-4 pt-[10px]">

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsfactura');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Número de</AppTitleFour>
              <AppTitleFour>documento</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsfactura" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsfecha');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Fecha</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsfecha" />
          </div>
        </div>

        <div class="w-[20%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('descripcion');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Descripción</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.descripcion" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsnumero');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Número de</AppTitleFour>
              <AppTitleFour>reclamación</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsnumero" />
          </div>
        </div>

        <div class="w-[12%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsvalor');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Valor</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsvalor" />
          </div>
        </div>

        <div class="w-[12%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsvalor');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Egresos</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsvalor" />
          </div>
        </div>

        <div class="w-[12%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsvalor');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Cargado a</AppTitleFour>
              <AppTitleFour>billetera</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsvalor" />
          </div>
        </div>

        <div class="w-[15%] m-auto text-center truncate">
          <AppTitleFour>Acciones</AppTitleFour>
        </div>
    
      </div>
      <hr class="border-t-2 my-2" />

      <div class="flex w-full items-center text-base py-2" 
        v-for="notas in pipeNotasIndeni" :key="notas.dsfactura+notas.dsnumero">
        <div class="w-[10%] text-center truncate">
         {{ notas.dsfactura }}
        </div>
        <div class="w-[10%] text-center truncate">
          {{ notas.dsfecha }}
        </div>
        <div class="w-[20%] text-center truncate">
          {{ clearHtmlEntities(notas.descripcion) }}
        </div>
        <div class="w-[10%] text-center truncate">
          {{ notas.dsnumero }}
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            {{ formatCurrencyCo(notas.dsvalor) }}
          </div>
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            <span v-if="notas.dsfactura && notas.dsfactura.length > 3">
              {{ formatCurrencyCo(notas.dsvalor * (-1) ) }}
            </span>
          </div>
        </div>
        <div class="w-[12%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            <span v-if="notas.dsnaturaleza == 1 " class="text-emerald-350">
              {{ formatCurrencyCo(notas.dsvalor) }}
            </span>
            <span v-if="notas.dsnaturaleza == 2 " >
              {{ formatCurrencyCo(0) }}
            </span>
          </div>
        </div>
        <div class="w-[15%] flex gap-3 justify-center cursor-pointer">
          <img @click="showCompensation(notas.dsnumero)" 
          width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
        </div>
      </div>
      
    </div>

	</section>
</template>


<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { AccountState, INotasIAData, TypeIconSort } from '@/models/types/index';
import { formatCurrencyCo, clearHtmlEntities, orderAny } from '@/utils';
import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
import AppTitleFour from '@/components/microComponents/AppTitleFour.vue';
import AppMinPaginatorVue from '@/components/AppMinPaginator.vue';
import { useNotasRecibosStore } from '@/stores';
import { DownLoadCSV, prepareCompensationsToCSV } from '@/services/FileCreatorService';
import { format } from "date-fns";

interface IconsTable {
  dsfactura: TypeIconSort,
  dsfecha: TypeIconSort,
  descripcion: TypeIconSort,
  dsnumero: TypeIconSort,
  dsvalor: TypeIconSort
}
type INameColumns = "dsfactura" | "dsfecha" | "descripcion" | "dsnumero" | "dsvalor";

export default defineComponent({
	components: {
		AppTitleThree,
    AppTitleFour,
    AppMinPaginatorVue
	},
	props: {
		accountState: {
			type: Object as () => AccountState
		}
	},
	setup() {
    const stateNotas = useNotasRecibosStore();
    const showDetail = ref<boolean>(false);
    const notas_c_ia = computed(() => stateNotas.getterAllData().dataNotas_c_ia );
    const spliter = ref(0);

    const iconsTable = ref<IconsTable>({
      dsfactura: 'sort',
      dsfecha: 'sort-down',
      descripcion: 'sort',
      dsnumero: 'sort',
      dsvalor: 'sort',
    })

    const resetIcons = () => {
      iconsTable.value = {
        dsfactura: 'sort',
        dsfecha: 'sort',
        descripcion: 'sort',
        dsnumero: 'sort',
        dsvalor: 'sort',
      }
    }

    const orderBy = (column: INameColumns, icon: TypeIconSort) => {
      const order = icon == 'sort-down' ? 'Desc' : 'Asc'
      orderAny(notas_c_ia.value, column, order);
      resetIcons();
    }

    const changeIcon = (column: INameColumns) => {
      if (iconsTable.value[column] == 'sort-down') {
        orderBy(column, 'sort-up');
        return iconsTable.value[column] = 'sort-up';
      }
      orderBy(column, 'sort-down');
      return iconsTable.value[column] = 'sort-down';
    }

    const pipeNotasIndeni = computed<INotasIAData[]>(() => {
      const newData:INotasIAData[] = [...notas_c_ia.value];
      return newData.slice(spliter.value, spliter.value + 10)
    })

    const showCompensation = (id: string) => {
      const Url = `https://aveonline.co/app/modulos/notascredito_ai/ingresos.imprimir.html.php?idrecibo=${id}&no=1` 
      const name = `Comprobante de ingreso Nro. ${id}`
      window.open(Url, name, "width=600, height=800");
    }
    const nextPagina = () => {
      if (spliter.value + 9 < notas_c_ia.value.length) {
        spliter.value = spliter.value + 10;
      }
    }
    const prevPagina = () => {
      if (spliter.value > 9) {
        spliter.value = spliter.value - 10;
      }
    }

    const createCSV = () => {
      const header = ['Número de documento','Fecha', 'Descripción', 'Número de reclamación', 'Valor', 'Egresos', 'Cargado a billetera'];
      const dataCSV = prepareCompensationsToCSV(notas_c_ia.value);
      const date = format(new Date(), "yyyy-MM-dd");
      DownLoadCSV(dataCSV, header, `Indenizacion-${date}`);
    } 
 

    return {

      formatCurrencyCo,
      showCompensation,
      clearHtmlEntities,
      createCSV,
      prevPagina,
      nextPagina,
      changeIcon,

      showDetail,
      pipeNotasIndeni,
      notas_c_ia,
      iconsTable
    }

  }
  
})
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue