<template>
  <section id="invoices_card" class="w-full mt-4 p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

    <div class="flex flex-col w-full">
      <AppTitleThree>Facturas</AppTitleThree>


      <div class="items-center justify-between flex gap-2">

        <div class="resumen flex items-center">
          <div class="flex gap-3 border-r-2">
            <AppTitleFour>Total facturado</AppTitleFour>
            <span class="mr-4 font-bold text-gray-600">{{ formatCurrencyCo(totalFacturas) }}</span>
          </div>
          <div class="flex gap-3 ml-4 border-r-2">
            <AppTitleFour>Vencido</AppTitleFour>
            <span class="mr-4 font-bold text-gray-600">{{ formatCurrencyCo(totalVencido) }}</span>
          </div>
          <div class="flex gap-3 ml-4">
            <AppTitleFour>Sin vencer</AppTitleFour>
            <span class="mr-4 font-bold text-gray-600">{{ formatCurrencyCo(subTotalFacturas) }}</span>
          </div>

          <AppButtonVue class-name="w-20" @click="showPayMethod">Pagar</AppButtonVue>
        </div>

        <div class="flex items-center justify-center ">

          <div class="selec" v-if="showDetail">
            <AppMinPaginatorVue @create-doc="createCSV" @next-p="nextPagina" @prev-p="prevPagina" :total="dataFacturas.length" />
          </div>

          <span class="cursor-pointer ml-2" @click="stateModal.ToggleInvoices()"
            :class="[showDetail ? 'rotate-180' : '']">
            <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
          </span>

        </div>

      </div>

    </div>

    <div v-if="showDetail" class="opcionales w-full font-sans">
      <hr class="border-t-2 mt-2" />
      <div class="flex w-full items-center pt-[10px] pl-6">

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('idpedido');">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Número de</AppTitleFour>
              <AppTitleFour>documento</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.idpedido" />
          </div>
        </div>

        <div class="w-[15%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('dsfechac')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Fecha</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsfechac" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('dias_venc')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Días para</AppTitleFour>
              <AppTitleFour>vencimiento</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dias_venc" />
          </div>
        </div>

        <div class="w-[25%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('dsobs')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Descripción</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsobs" />
          </div>
        </div>
        <div class="w-[13%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('dstotal')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Valor</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dstotal" />
          </div>
        </div>
        <div class="w-[13%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('totalRecibos')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Total abonado</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.totalRecibos" />
          </div>
        </div>
        <div class="w-[13%] text-center truncate cursor-pointer hover:bg-slate-100"
          @click="changeIcon('saldo')">
          <div class="flex items-center justify-center">
            <div class="text">
              <AppTitleFour>Saldo</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.saldo" />
          </div>
        </div>
        <div class="w-[15%] text-center truncate">
          <AppTitleFour>Acciones</AppTitleFour>
        </div>

      </div>
      <hr class="border-t-2 my-2" />

      <div v-for="factura in pipeDataFacturas" :key="factura.idpedido" class="flex w-full flex-col  rounded border mb-2 ">

        <div class="flex w-full items-center text-base py-2 pl-6">

          <div class="w-[10%] text-center truncate">
            {{ factura.dsprefijo }} {{ factura.idpedido }}
          </div>
          <div class="w-[15%] text-center truncate">
            {{ factura.dsfechac }}
          </div>
          <div class="w-[10%] text-center truncate">
            {{ factura.dias_venc }}
          </div>
          <div class="w-[25%] text-center truncate">
            <div class="des" :innerHTML="factura.dsobs"></div>
          </div>

          <div class="w-[13%] text-center truncate">
            <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
              {{ formatCurrencyCo(factura.dstotal) }}
            </div>
          </div>

          <div class="w-[13%] text-center truncate">
            <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
              {{ formatCurrencyCo(factura.totalRecibos) }}
            </div>
          </div>
          <div class="w-[13%] text-center truncate">
            <div class=" mx-auto max-w-[130px] py-1"
              :class="[factura.saldo == 0 ? 'text-emerald-350' : 'text-red-400']">
              {{ formatCurrencyCo(factura.saldo) }}
            </div>
          </div>
          <div class="w-[15%] flex gap-2 justify-center mr-2">
            <div class="exist_dian flex gap-2 opacity-25" v-if="!factura.cufe">
              <img width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              <img width="12" height="14" src="../../../assets/svgs/fileDownloadGray.svg" alt="icon fileG" />
            </div>
            <div class="exist_dian flex gap-2 " v-if="factura.cufe">
              <img width="16" height="16" src="../../../assets/svgs/eye.svg"
                @click="showDowmloadInvoice(factura.dsprefijo, factura.idpedido)" alt="icon eye" />

              <img width="12" height="14" src="../../../assets/svgs/fileDownloadGray.svg"
                @click="showDowmloadInvoice(factura.dsprefijo, factura.idpedido, true)" alt="icon fileG" />
            </div>
            <AppButtonVue v-if="factura.saldo > 0" class-name="w-20"
              @click="payOneInvoice(factura.saldo, `${factura.dsprefijo}-${factura.idpedido}`)"
              >Pagar
            </AppButtonVue>
            <span :id="createID(factura.dsprefijo, factura.idpedido)" class="cursor-pointer margin-auto flex"
              @click="toggleCrediNotes(factura.dsprefijo, factura.idpedido)">
              <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
            </span>
          </div>

        </div>

        <div v-if="factura.recibos.length > 0" :id="createID(factura.dsprefijo, factura.idpedido, '-show')"
          class="flex w-full flex-col px-2 none">
          <hr class="h-[2px] w-full bg-gray-300">

          <div class="flex flex-col w-full items-center py-2">

            <div v-for="recibo in factura.recibos" :key="recibo.dsfactura" class="flex mt-3 text-[15px] w-full mx-4 ">
              <div class="w-[11%] text-center truncate">
                RC {{ recibo.dsnumero }}
              </div>
              <div class="w-[15%] text-center truncate">
                {{ recibo.dsfecha }}
              </div>
              <div class="w-[10%] text-center truncate">
              </div>
              <div class="w-[25%] text-center truncate">
                {{ recibo.descripcion }}
              </div>

              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(recibo.dsvalor) }}
                </div>
              </div>
              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(recibo.dsvalor) }}
                </div>
              </div>
              <div class="w-[11%] text-center truncate">
                <div class=" mx-auto max-w-[130px] py-1">
                </div>
              </div>
              <div class="w-[15%] flex gap-3 justify-center mr-2">
                <img width="16" height="16" @click="showCashReceipt(recibo.dsnumero)" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              </div>
            </div>

            <div v-for="notes in factura.notas_c_ia" :key="notes.dsfactura" class="cards-notes w-full ">
              <div class="w-[11%] text-center truncate">
                NCIA {{ notes.dsnumero }}
              </div>
              <div class="w-[15%] text-center truncate">
                {{ notes.dsfecha }}
              </div>
              <div class="w-[10%] text-center truncate">
              </div>
              <div class="w-[25%] text-center truncate">
                {{ notes.descripcion }}
              </div>

              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(notes.dsvalor) }}
                </div>
              </div>
              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(notes.dsvalor) }}
                </div>
              </div>
              <div class="w-[11%] text-center truncate">
                <div class=" mx-auto max-w-[130px] py-1">
                </div>
              </div>
              <div class="w-[15%] flex gap-3 justify-center mr-2">
                <img width="16" height="16" @click="showCashReceipt(notes.dsnumero)" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              </div>
            </div>

            <div v-for="reciboAdm in factura.recibos_admon" :key="reciboAdm.dsfactura" class="cards-notes w-full ">
              <div class="w-[11%] text-center truncate">
                RCAD {{ reciboAdm.dsnumero }}
              </div>
              <div class="w-[15%] text-center truncate">
                {{ reciboAdm.dsfecha }}
              </div>
              <div class="w-[10%] text-center truncate">
              </div>
              <div class="w-[25%] text-center truncate">
                {{ reciboAdm.descripcion }}
              </div>

              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(reciboAdm.dsvalor) }}
                </div>
              </div>
              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(reciboAdm.dsvalor) }}
                </div>
              </div>
              <div class="w-[11%] text-center truncate">
                <div class=" mx-auto max-w-[130px] py-1">
                </div>
              </div>
              <div class="w-[15%] flex gap-3 justify-center mr-2">
                <img width="16" height="16" @click="showCashReceipt(reciboAdm.dsnumero)" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              </div>
            </div>

            <div v-for="nota in factura.notas_d_credito" :key="nota.dsfactura" class="cards-notes w-full ">
              <div class="w-[11%] text-center truncate">
                NDC {{ nota.dsfactura }}
              </div>
              <div class="w-[15%] text-center truncate"></div>
              <div class="w-[10%] text-center truncate"></div>
              <div class="w-[25%] text-center truncate"></div>

              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(nota.dsvalor) }}
                </div>
              </div>
              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(nota.dsvalor) }}
                </div>
              </div>
              <div class="w-[11%] text-center truncate">
                <div class=" mx-auto max-w-[130px] py-1">
                </div>
              </div>
              <div class="w-[15%] flex gap-3 justify-center mr-2">
                <img width="16" height="16" @click="showCashReceipt(nota.dsfactura)" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              </div>
      
            </div>

            <div v-for="nota in factura.notas_credito" :key="nota.dsfactura" class="cards-notes w-full ">
              <div class="w-[11%] text-center truncate">
                NCIA {{ nota.dsnumero }}
              </div>
              <div class="w-[15%] text-center truncate">
                {{ nota.dsfecha }}
              </div>
              <div class="w-[10%] text-center truncate">
              </div>
              <div class="w-[25%] text-center truncate">
                {{ nota.descripcion }}
              </div>

              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(nota.dsvalor) }}
                </div>
              </div>
              <div class="w-[13%] text-center truncate">
                <div class="bg-gray-100 rounded-md mx-auto max-w-[120px]">
                  {{ formatCurrencyCo(nota.dsvalor) }}
                </div>
              </div>
              <div class="w-[11%] text-center truncate">
                <div class=" mx-auto max-w-[130px] py-1">
                </div>
              </div>
              <div class="w-[15%] flex gap-3 justify-center mr-2">
                <img width="16" height="16" @click="showCashReceipt(nota.dsnumero)" src="../../../assets/svgs/eye.svg" alt="icon eye" />
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>

  <AppModalVue v-model="modal.showPay" title="Nuevo pago" width="680px">
    <AppMethodsPayVue></AppMethodsPayVue>
  </AppModalVue>

</template>


<script lang="ts">
import { defineComponent, computed, ref } from 'vue';
import { format } from "date-fns";

import { AccountState, IFacturasData, IGetRefWompyReq, TypeIconSort } from '@/models/types/index';
import { formatCurrencyCo, goToWompi, orderAny} from '@/utils';
import { useStatesModalStore, useFacturasStore, useUsuarioStore } from '@/stores';

import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
import AppTitleFour from '@/components/microComponents/AppTitleFour.vue';
import AppButtonVue from '@/components/microComponents/AppButton.vue';
import AppModalVue from '@/components/AppModal.vue';
import AppMinPaginatorVue from '@/components/AppMinPaginator.vue';

import AppMethodsPayVue from '../popUps/AppMethodsPay.vue';

import { getInvoice, dowmloadFile, showOpenFile, prepareInvoiceToCSV, DownLoadCSV } from '@/services';
import { PayToWompy } from '@/services/http';

interface IconsTable {
  idpedido: TypeIconSort,
  dsfechac: TypeIconSort,
  dias_venc: TypeIconSort,
  dsobs: TypeIconSort,
  dstotal: TypeIconSort,
  totalRecibos: TypeIconSort,
  saldo: TypeIconSort,
}
type INameColumns = "idpedido" | "dsfechac" | "dias_venc" | "dsobs" | "dstotal" | "totalRecibos" | "saldo" ;

export default defineComponent({
  components: {
    AppTitleThree,
    AppTitleFour,
    AppMinPaginatorVue,
    AppButtonVue,
    AppMethodsPayVue,
    AppModalVue
  },
  props: {
    accountState: {
      type: Object as () => AccountState
    }
  },
  setup() {
    const stateModal = useStatesModalStore();
    const stateFacturas = useFacturasStore();
    const stateUser     = useUsuarioStore();
    const spliter = ref(0);
    const modal = ref({
      showPay: false
    })

    const showDetail        = computed<boolean>(() => stateModal.toggleInvoices);
    const totalFacturas     = computed<number>(() => stateFacturas.getterTotales().totalFacturado);
    const subTotalFacturas  = computed<number>(() => stateFacturas.getterTotales().subTotal);
    const totalVencido      = computed<number>(() => stateFacturas.getterTotales().vencido);
    const dataFacturas      = computed<IFacturasData[]>(() => stateFacturas.getterFacturas())


    const iconsTable = ref<IconsTable>({
      idpedido: 'sort',
      dsfechac: 'sort-down',
      dias_venc: 'sort',
      dsobs: 'sort',
      dstotal: 'sort',
      totalRecibos: 'sort',
      saldo: 'sort',
    })

    const resetIcons = () => {
      iconsTable.value = {
        idpedido: 'sort',
        dsfechac: 'sort',
        dias_venc: 'sort',
        dsobs: 'sort',
        dstotal: 'sort',
        totalRecibos: 'sort',
        saldo: 'sort',
      }
    }

    const pipeDataFacturas = computed<IFacturasData[]>(() => {
      const newData:IFacturasData[] = [...dataFacturas.value];
      return newData.slice(spliter.value, spliter.value + 10)
    })

    const orderBy = (column: INameColumns, icon: TypeIconSort) => {
      const order = icon === 'sort-down' ? 'Desc' : 'Asc'
      orderAny(dataFacturas.value, column, order);
      resetIcons();
    }

    const changeIcon = (column: INameColumns) => {
      if (iconsTable.value[column] == 'sort-down') {
        orderBy(column, 'sort-up');
        return iconsTable.value[column] = 'sort-up';
      }
      orderBy(column, 'sort-down');
      return iconsTable.value[column] = 'sort-down';
    }

    const createID = (prefix: string, dsnum: number, show = '') => `id-${prefix}-${dsnum}${show}`;

    const toggleCrediNotes = (prefix: string, dsnum: number) => {
      const notes = document.getElementById(`id-${prefix}-${dsnum}-show`);
      const icon = document.getElementById(`id-${prefix}-${dsnum}`);
      if (notes) {
        notes.classList.toggle('none')
      }
      if (icon) {
        icon.classList.toggle('rotate-180')
      }
    }

    const payOneInvoice = async (value:number , referenc: string) => {
      const datos = stateUser.getDatosRemitente[0];
      const body:IGetRefWompyReq = {
        tipo: 'solicitarReferencia',
        idexp: stateUser.getIdUser,
        id_sector: datos.idsector,
        valor_ave: String(value),
        facturas: referenc
      }
      const res = await PayToWompy(body);
      if (res && res.data) {
        const consec = res.data;
        goToWompi(String(value), consec, true);
      }
    }

    const showDowmloadInvoice = async (prefix: string, id: number, onlyDowmload = false) => {
      const invoice = await getInvoice(`${prefix}${id}`);
      if (invoice) {
        if (onlyDowmload) {
          dowmloadFile(invoice.base, invoice.name);
        } else {
          showOpenFile(invoice.base, invoice.name, 'pdf')
        }
      }
    }
  
    const showPayMethod = () => modal.value.showPay = true;

    const showCashReceipt = (id: string) => {
      const Url = id.length == 3 ? 
        `https://aveonline.co/app/modulos/ingresos/ingresos.imprimir.html.dev.php?idrecibo=${id}&no=1&tiporecibo=` :
         `https://aveonline.co/app/modulos/ingresos/ingresos.imprimir.html.php?idrecibo=${id}&no=1&tiporecibo=`;
      const name = `Comprobante de ingreso Nro. ${id}`
      window.open(Url, name, "width=600, height=800");
    }

    const createCSV = () => {
      const header = ['Castigada','Cliente', 'NIT/ID', 'Obs', 'Ven', 'Fact', 'F Fact', 'F Venc','D', 'Vlr', 'F Abon1', 'Abon1','F Abon2', 'F Abon3','Abon3','F Abon4', 'Abon4', 'Vlr NC', 'Saldo']
      const dataCSV = prepareInvoiceToCSV(dataFacturas.value);
      const date = format(new Date(), "yyyy-MM-dd");
      DownLoadCSV(dataCSV, header, `Facturas-${date}`);
    }
    const nextPagina = () => {
      if (spliter.value + 9 < dataFacturas.value.length) {
        spliter.value = spliter.value + 10;
      }
    }

    const prevPagina = () => {
      if (spliter.value > 9) {
        spliter.value = spliter.value - 10;
      }
    }

    return {
      showDowmloadInvoice,
      formatCurrencyCo,
      toggleCrediNotes,
      showCashReceipt,
      payOneInvoice,
      showPayMethod,
      createCSV,
      prevPagina,
      nextPagina,
      createID,
      orderBy,

      pipeDataFacturas,
      subTotalFacturas,
      totalFacturas,
      totalVencido,
      dataFacturas,
      stateModal,
      showDetail,
      iconsTable,
      modal,

      changeIcon,
    }
  }

})
</script>

<style scoped>
.none {
  display: none;
}
</style>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue
