<template>
  <section id="money_colleted" class="w-full mt-4 p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

		<div class="flex justify-between w-full">
			<AppTitleThree>Dineros recaudados</AppTitleThree>
  
      <div class="items-center justify-center flex gap-2">
        <div class="selec" v-if="showDetail">
          <AppMinPaginatorVue 
            @create-doc="createCSV" 
            @next-p="nextPagina"
            @prev-p="prevPagina"
            :total="dataLiquidadas.length" />
        </div>

        <span class="cursor-pointer" @click="stateModal.ToggleMoneyCollected('')"  :class="[showDetail ? 'rotate-180' : '']">
          <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
        </span>
      </div>
    </div>

		<div v-if="showDetail" class="opcionales w-full font-sans" >
      <hr class="border-t-2 mt-2" />
      <div class="flex w-full ml-4 gap-4 pt-[10px]">

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsconsec');">
          <div class="flex full items-center justify-center">
            <div class="text">
              <AppTitleFour>Número de</AppTitleFour>
              <AppTitleFour>documento</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsconsec" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsfecha');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Fecha</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsfecha" />
          </div>
        </div>

        <div class="w-[24%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dscom');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Descripción</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dscom" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsvalorrecaudo');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Valor</AppTitleFour>
              <AppTitleFour>recaudo</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsvalorrecaudo" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dstotalave_fc');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Egresos</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dstotalave_fc" />
          </div>
        </div>

        <div class="w-[10%] text-center truncate cursor-pointer hover:bg-slate-100" 
          @click="changeIcon('dsvalorrecaudo');">
          <div class="flex h-full items-center justify-center">
            <div class="text">
              <AppTitleFour>Cargado a</AppTitleFour>
              <AppTitleFour>billetera</AppTitleFour>
            </div>
            <FontAwesomeIcon class="ml-1 text-gray-800" :icon="iconsTable.dsvalorrecaudo" />
          </div>
        </div>

        <div class="w-[15%] m-auto text-center truncate">
          <AppTitleFour>Acciones</AppTitleFour>
        </div>
    
      </div>
      <hr class="border-t-2 my-2" />

      <div class="flex w-full justify-around items-center text-base py-2" 
        v-for="item in pipeDataLiquidada" :key="item.pkid">
        <div class="w-[10%] text-center truncate">
         {{ item.dsconsec }}
        </div>
        <div class="w-[10%] text-center truncate">
          {{ item.dsfecha }}
        </div>
        <div class="w-[24%] text-center truncate">
          {{ item.dscom }}
        </div>
        <div class="w-[10%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            {{ formatCurrencyCo(item.dsvalorrecaudo) }}
          </div>
        </div>
        <div class="w-[10%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            {{ formatCurrencyCo(item.dstotalave_fc) }}
          </div>
        </div>
        <div class="w-[10%] text-center truncate">
          <span class="text-emerald-350">
            {{ formatCurrencyCo(item.dsvalorrecaudo - item.dstotalave_fc) }}
          </span>
        </div>
        <div class="w-[15%] flex gap-3 justify-center cursor-pointer">
          <img @click="showDocument(item.dsconsec)" 
          width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
        </div>
      </div>
      
    </div>

	</section>
</template>


<script lang="ts">
import { defineComponent, ref, computed } from 'vue';
import { AccountState, IRecaudosData, TypeIconSort } from '@/models/types/index';
import { formatCurrencyCo, clearHtmlEntities, orderAny } from '@/utils';
import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
import AppTitleFour from '@/components/microComponents/AppTitleFour.vue';
import AppMinPaginatorVue from '@/components/AppMinPaginator.vue';
import { useRecuadosStore, useStatesModalStore } from '@/stores';
import { DownLoadCSV, prepareGuidesToCSV } from '@/services/FileCreatorService';
import { format } from "date-fns";

interface IconsTable {
  dsconsec:       TypeIconSort,
  dsfecha:        TypeIconSort,
  dscom:          TypeIconSort,
  dsvalorrecaudo: TypeIconSort,
  dstotalave_fc:  TypeIconSort
}
type INameColumns = "dsconsec" | "dsfecha" | "dscom" | "dsvalorrecaudo" | "dstotalave_fc";
 
export default defineComponent({
	components: {
		AppTitleThree,
    AppTitleFour,
    AppMinPaginatorVue
	},
	props: {
		accountState: {
			type: Object as () => AccountState
		}
	},
	setup() {
    const stateModal     = useStatesModalStore();
    const stateRecuados  = useRecuadosStore();
    const showDetail     = computed<boolean>(() => stateModal.toggleMoneyCollected);
    const dataLiquidadas = computed(() => stateRecuados.data_liquidadas );
    const spliter        = ref(0);

    const iconsTable = ref<IconsTable>({
      dsconsec: 'sort',
      dsfecha: 'sort-down',
      dscom: 'sort',
      dsvalorrecaudo: 'sort',
      dstotalave_fc: 'sort',
    })

    const resetIcons = () => {
      iconsTable.value = {
        dsconsec: 'sort',
        dsfecha: 'sort',
        dscom: 'sort',
        dsvalorrecaudo: 'sort',
        dstotalave_fc: 'sort',
      }
    }

    const orderBy = (column: INameColumns, icon: TypeIconSort) => {
      const order = icon == 'sort-down' ? 'Desc' : 'Asc'
      orderAny(dataLiquidadas.value, column, order);
      resetIcons();
    }

    const changeIcon = (column: INameColumns) => {
      if (iconsTable.value[column] == 'sort-down') {
        orderBy(column, 'sort-up');
        return iconsTable.value[column] = 'sort-up';
      }
      orderBy(column, 'sort-down');
      return iconsTable.value[column] = 'sort-down';
    }

    const pipeDataLiquidada = computed<IRecaudosData[]>(() => {
      const newData:IRecaudosData[] = [...dataLiquidadas.value];
      return newData.slice(spliter.value, spliter.value + 10)
    })

    const showDocument = (id: string) => {
      const Url =`https://aveonline.co/app/modulos/paqueteo/impresiones.unicas.tcc.php?dsconsec=${id}&imprimir=1`;
      const name = `Comprobante de ingreso Nro. ${id}`
      window.open(Url, name, "width=700, height=800");
    }
    const nextPagina = () => {
      if (spliter.value + 9 < dataLiquidadas.value.length) {
        spliter.value = spliter.value + 10;
      }
    }
    const prevPagina = () => {
      if (spliter.value > 9) {
        spliter.value = spliter.value - 10;
      }
    }

    const createCSV = () => {
      const header = ['Número de guía','Fecha', 'Descripción', 'Valor recaudo', 'Egresos', 'Cargado a billetera'];
      const dataCSV = prepareGuidesToCSV(dataLiquidadas.value);
      const date = format(new Date(), "yyyy-MM-dd");
      DownLoadCSV(dataCSV, header, `Guias-recaudados-${date}`);
    } 
 
    return {

      formatCurrencyCo,
      showDocument,
      clearHtmlEntities,
      createCSV,
      prevPagina,
      nextPagina,
      changeIcon,
      stateModal,
      iconsTable,

      showDetail,
      pipeDataLiquidada,
      dataLiquidadas,
    }

  }
  
})
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue