
<template>
  <section class="w-full mt-4 p-4 text-left border py-3 border-gray-400 rounded-[5px] ">

		<div class="flex justify-between w-full">
			<AppTitleThree>Venta de productos</AppTitleThree>
  

      <div class="items-center justify-center flex gap-2">
        <div class="selec" v-if="showDetail">
          <AppMinPaginatorVue 
            @create-doc="createCSV" 
            @next-p="nextPagina"
            @prev-p="prevPagina"
            :total="40" />
        </div>

        <span class="cursor-pointer" @click="showDetail = !showDetail"  :class="[showDetail ? 'rotate-180' : '']">
          <img src="../../../assets/svgs/arrowTriangule.svg" alt="icon arrow" />
        </span>
      </div>
    </div>

		<div v-if="showDetail" class="opcionales w-full font-sans" >
      <hr class="border-t-2 mt-2" />
      <div class="flex w-full pt-[10px] ">

        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Número de documento</AppTitleFour>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Fecha</AppTitleFour>
        </div>
        <div class="w-[25%] text-center truncate">
          <AppTitleFour>Descripción</AppTitleFour>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Valor productos</AppTitleFour>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Egresos</AppTitleFour>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Cargado a billetera</AppTitleFour>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <AppTitleFour>Acciones</AppTitleFour>
        </div>
      </div>
      <hr class="border-t-2 my-2" />

      <div class="flex w-full items-center text-base py-2">
        <div class="w-[12.5%] text-center truncate">
          RC 12744
        </div>
        <div class="w-[12.5%] text-center truncate">
          03/16/2022
        </div>
        <div class="w-[25%] text-center truncate">
          Desembolso de dinero
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            $200.000
          </div>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            $10.000
          </div>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="text-emerald-350 mx-auto max-w-[130px] py-1">
            $15.000
          </div>
        </div>
        <div class="w-[12.5%] flex gap-3 justify-center">
          <img width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
          <img width="12" height="14" src="../../../assets/svgs/fileDownloadGray.svg" alt="icon fileG" />
        </div>
      </div>

      <div class="flex w-full items-center text-base py-2">
        <div class="w-[12.5%] text-center truncate">
          RC 12wwd
        </div>
        <div class="w-[12.5%] text-center truncate">
          03/16/2022
        </div>
        <div class="w-[25%] text-center truncate">
          Desembol
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            $200.000
          </div>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="bg-gray-100 rounded-md mx-auto max-w-[130px] py-1">
            $10.000
          </div>
        </div>
        <div class="w-[12.5%] text-center truncate">
          <div class="text-emerald-350 mx-auto max-w-[130px] py-1">
            $5.000
          </div>
        </div>
        <div class="w-[12.5%] flex gap-3 justify-center">
          <img width="16" height="16" src="../../../assets/svgs/eye.svg" alt="icon eye" />
          <img width="12" height="14" src="../../../assets/svgs/fileDownloadGray.svg" alt="icon fileG" />
        </div>
      </div>
      
    </div>

	</section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { AccountState } from '@/models/types/index';
import { formatCurrencyCo } from '@/utils';
import AppTitleThree from '@/components/microComponents/AppTitleThree.vue';
import AppTitleFour from '@/components/microComponents/AppTitleFour.vue';
import AppMinPaginatorVue from '@/components/AppMinPaginator.vue';
 
export default defineComponent({
	components: {
		AppTitleThree,
        AppTitleFour,
        AppMinPaginatorVue
	},
	props: {
		accountState: {
			type: Object as () => AccountState
		}
	},
	setup() {
    const showDetail = ref<boolean>(false);

    const createCSV = () => {
      alert('creado doc')
    } 
    const nextPagina = () => {
      console.log('siguinte');
    } 
    const prevPagina = () => {
      console.log('atras');
    } 

    return {
      showDetail,
      formatCurrencyCo,
      createCSV,
      prevPagina,
      nextPagina
    }

  }
  
})
</script>

/* Accesos al Componente *****/
// → src\components\recaudos\TheBodyInfo.vue