
<template>
  <div class="body w-full box-content 	">
    <TheHeader></TheHeader>
    <router-view/>

  </div>

   <AppModalVue v-model="modal.show" 
      width="430px" 
      :title="modal.title"
      header-icon="error" >
      <p class="text-center mt-6 text-sm">{{ modal.text }}</p>
      <div class="salir w-full flex">
        <a class="mx-auto mt-4" href="https://aveonline.co/app/modulos/salir.php?error=3">
          <AppButtonVue class="w-20 ">Salir</AppButtonVue>
        </a>
      </div>
    </AppModalVue>

</template>


<script lang="ts">
  import { defineComponent, ref, onMounted } from 'vue';
  import AppModalVue from '@/components/AppModal.vue';
  import AppButtonVue from './components/microComponents/AppButton.vue';
  import TheHeader from '@/components/TheHeader.vue';
  import { getLocalToken, parseJWT } from './utils';
  import { useUsuarioStore } from './stores/usuario.store';
  import { IUserData } from './models/types';
  import { GetDatosRemitente, modoDEV } from './services/http';
  import { useRouter } from 'vue-router';
  import { ROUTES } from "@/constants";



  export default defineComponent({
    components: {
      TheHeader,
      AppModalVue,
      AppButtonVue
    },
    setup() {
      const userStore = useUsuarioStore();
      const tok = getLocalToken();
      
      const modal = ref({
        show: false,
        text: 'Vuelve a iniciar sesión para poder ingresar',
        title: 'Error al iniciar sesión'
      })
      
      const getDatosCliente = async (id: string) => {
        const data = await GetDatosRemitente(Number(id));
        if ( data && data[0]) {
          userStore.saveDatosRemitente(data);
        }        
      }

      if (tok) {
        const dataToken = parseJWT(tok);
        
        const dataUser:IUserData = {
          id_user: dataToken ? dataToken.i_idusuario : 'none',
          userName: dataToken ? dataToken.usuario : 'none',
          id_enterprise: dataToken ? dataToken.enterprise : 'none'
        }
        userStore.addDataUser(dataUser);

        if (dataToken && dataToken.enterprise) {
          getDatosCliente(dataToken.enterprise)
        }

      } else if (!modoDEV) {
        modal.value.show = true;
      }

      onMounted(() => {
        useRouter().push(ROUTES.ESTADO_CUENTA.PATH);
      })

      return {
        modal
      }
      
    }
  })


</script>