@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import  './style/global.css'; */



@font-face {
  font-family: 'Roboto-bold';
  font-weight: 700;
  src: url('./assets/fonts/roboto/Roboto-Bold.ttf') format('woff2'),
    url('./assets/fonts/roboto/Roboto-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('./assets/fonts/roboto/Roboto-Regular.ttf') format('woff2'),
    url('./assets/fonts/roboto/Roboto-Regular.ttf') format('woff');
}
@font-face {
  font-family: 'Poppins-bold';
  font-weight: 700;
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf') format('woff2'),
    url('./assets/fonts/poppins/Poppins-Bold.ttf') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('woff2'),
    url('./assets/fonts/poppins/Poppins-Regular.ttf') format('woff');
}

.scroll_sm::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll_sm::-webkit-scrollbar:vertical {
  width: 7px;
}

.scroll_sm::-webkit-scrollbar-button:increment,
.scroll_sm::-webkit-scrollbar-button {
  display: none;
}

.scroll_sm::-webkit-scrollbar:horizontal {
  height: 5px;
}

.scroll_sm::-webkit-scrollbar-thumb {
  background-color: #8A8A8A;
  border-radius: 10px;
}

.scroll_sm::-webkit-scrollbar-track {
  border-radius: 10px;
}

.input_no_icon::-webkit-outer-spin-button,
.input_no_icon::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

